  {% load staticfiles %}
  <div class="site-menubar">
    <div class="site-menubar-body">
      <div>
        <div>
          <div class="select-services text-center">
              <h5>Select a service</h5>
              <ul class="select-service-list clearfix">
                <li><a href="/service/courier_booking_one/"><img src="{% static 'dashboard/assets/images/icons/sm/1-active.png' %}" alt="Courier"><span class="ss-name">Courier</span></a></li>
                <li><a href="/service/passengerPickup/"><img src="{% static 'dashboard/assets/images/icons/sm/2-active.png' %}" alt="Ride"><span class="ss-name">Ride</span></a></li><br/>
                <!--<li><button type="button" class="btn btn-primary" data-target="#ratingModal" data-toggle="modal">Rate</button></li>-->
              </ul>
          </div>
          <ul class="site-menu">
            <li class="site-menu-item {% if dashboard_active %} active {% endif %}">
              <a href="/customer/home/">
                <i class="site-menu-icon wb-grid-4" aria-hidden="true"></i>
                <span class="site-menu-title">Dashboard</span>
              </a>
            </li>
            <li class="site-menu-item {% if booking_active %} active {% endif %}">
              <a href="/service/myBookings">
                <i class="site-menu-icon wb-list" aria-hidden="true"></i>
                <span class="site-menu-title">My Bookings</span>
              </a>
            </li>
            <li class="site-menu-category site-menu-cate-stk"></li>
            <li class="site-menu-item {% if book_service_active %} active {% endif %}">
              <a href="/service/courier_booking_one/">
                <i class="site-menu-icon wb-edit" aria-hidden="true"></i>
                <span class="site-menu-title">Book A Service</span>
              </a>
            </li>
            <li class="site-menu-category site-menu-cate-stk"></li>
            <li class="site-menu-item {% if customer_details_active %} active {% endif %}">
              <a href="/customer/details/">
                <i class="site-menu-icon wb-user" aria-hidden="true"></i>
                <span class="site-menu-title">Account Information</span>
              </a>
            </li>
            <!--<li class="site-menu-item {% if location_active %}active{% endif %}">-->
              <!--<a href="/customer/location/">-->
                <!--<i class="site-menu-icon wb-bell" aria-hidden="true"></i>-->
                <!--<span class="site-menu-title">Your Location</span>-->
              <!--</a>-->
            <!--</li>-->
            <li class="site-menu-item {% if payment_active %}active{% endif %}">
              <a href="/customer/payment/">
                <i class="site-menu-icon wb-file" aria-hidden="true"></i>
                <span class="site-menu-title">Payment</span>
              </a>
            </li>
            <li class="site-menu-category site-menu-cate-stk"></li>
            <li class="site-menu-item {% if about_active %}active{% endif %}">
              <a href="/customer/about/">
                <i class="site-menu-icon wb-lock" aria-hidden="true"></i>
                <span class="site-menu-title">About Uncle Frank</span>
              </a>
            </li>
<!--             <li class="site-menu-item">
              <a href="partnership.html">
                <i class="site-menu-icon wb-user-circle" aria-hidden="true"></i>
                <span class="site-menu-title">Partnership</span>
              </a>
            </li> -->
 <!--            <li class="site-menu-item {% if faq_active %}active{% endif %}">
              <a href="/customer/faq/">
                <i class="site-menu-icon wb-mobile" aria-hidden="true"></i>
                <span class="site-menu-title">Faq</span>
              </a>
            </li> -->
          </ul>

        </div>
      </div>
    </div>
  </div>