{% extends "dashboard/super_layout.html" %}

{% block extracss %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

{% endblock %}

{% block content %}
<div class="page animsition">
  <div class="page-content">
  <h1 class="pages-heading">Postal Code Upload</h1>
  <p>{{ message }}</p>
      <!-- Panel -->
       <div class="panel">
      <div class="panel-body">

        <form method='POST' action='' enctype='multipart/form-data'>
		  {% csrf_token %}
		  {{ form.as_p }}
		  <input type="file" name="file">
		  <input type="submit" class="btn btn-primary unstroke" value="Update"/>
		</form>
    </div>
  </div>
    <div class="panel">
        <div class="panel-body table-responsive">

          <table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
              <thead>
                <tr>
                  <th>Postal Code</th>
                  <th>Address Type</th>
                  <th>Bulding Number</th>
                  <th>Street Key</th>
                  <th>Bulding Key</th>
                </tr>
              </thead>
              {% if postcode %}
              <tbody>
                {% for obj in postcode %}
                  <tr>
                    <td>{{ obj.post_code }}</td>
                    <td>{{ obj.address_type }}</td>
                    <td>{{ obj.buliding_no }}</td>
                    <td>{{ obj.street_key }}</td>
                    <td>{{ obj.building_key }}</td>
                  </tr>
               {% endfor %}
              </tbody>
              {% endif %}
          </table>

      </div>
    </div>
 

</div>
{% endblock %}
{% block extrajs %}
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
     $(document).ready(function() {
       $('#tableCourier').DataTable();
     } );
  </script>
{% endblock %}