<div class="profile">
	<table>
		<tr>
			<td>Name</td>
			<td>{{ object.first_name }} {{ object.last_name }}</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{{ object.email }}</td>
		</tr>
		<tr>
			<td>Address</td>
			<td>{{ object.address }}</td>
		</tr>
		<tr>
			<td>Contact No</td>
			<td>{{ object.contact_no }}</td>
		</tr>
	</table>
	<p><a href="">Edit Profile</a> <a href="">Change Password</a></p>
</div>