{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
<div class="page animsition">
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{ message }}         
    </div> 
  {% endfor %}
{% endif %}
    {% if completed_delivery %}
        <input type="hidden" id="modal-activate">
    {% elif completed_delivery and completed_pickup %}
        <input type="hidden" id="modal-activate">
    {% elif completed_pickup and completed_delivery == None%}
        <input type="hidden" id="modal-activate-pickup">
    {% endif %}
   <!--<button type="button" data-target="#ratingModal" data-toggle="modal">Rate</button>-->

    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Welcome to your Dashboard!</h1>
        </div>
      </div>
      <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-xlg-6 col-md-6">
          <div class="panel panel-bordered panel-base">
            <div class="panel-heading">
              <h3 class="panel-title uppercase clearfix">My latest bookings  <a href="/service/myBookings/" class="btn btn-flat btn-secondary pull-right mt-n8">View all</a>
              </h3>
            </div>
            {% if delivery_service %}
            <div class="panel-body">
              <div class=" mt-n4">
                <span class="state state-courier">Courier</span>
                <span class="state state-pending">{{ delivery_service.delevery_status }}</span>
                <span class="state-bk-id ml-30">{{ delivery_service.order_no }} </span>
              </div>
              
              <div class="row">
                <div class="col-md-6">
                  <h5 class="brand-primary uppercase mt-20 mb-15">collection</h5>
                  <ul class="list-unstyled collect-lists">
                      <li><i class="icon fa-calendar-o"></i> {{ delivery_service.collection_date }}</li>
                      <li><i class="icon fa-clock-o"></i> {{ delivery_service.collection_time }}</li>
                      <li><i class="icon fa-map-marker"></i> {{ delivery_service.collection_address }}</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h5 class="brand-primary uppercase mt-20 mb-15">DELIVERY</h5>
                  <ul class="list-unstyled collect-lists">
                      <li><i class="icon fa-calendar-o"></i> {{ delivery_service.delevery_date }}</li>
                      <li><i class="icon fa-clock-o"></i> {{ delivery_service.collection_time }}</li>
                      <li><i class="icon fa-map-marker"></i> {{ delivery_service.delivery_address }}</li>
                  </ul>
                </div>
              </div>
              {% else %}
              <div class="panel-body">
              <div class=" mt-n4">
                <span class="state state-courier">Courier</span>
                <span class="state">No Booking Found</span>
                <span class="state-bk-id ml-30"><small></small></span>
              </div>
              {% endif %}
              <hr class="panel-in-hr">
              {% if pickup_service %}
              <div class="">
                <span class="state state-pickup">Ride</span>
                <span class="state state-{{ pickup_service.pickup_status }}">{{ pickup_service.pickup_status }}</span>
                <span class="state-bk-id ml-30">{{ pickup_service.order_no }}</span>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h5 class="brand-primary uppercase mt-20 mb-15">PICKUP</h5>
                  <ul class="list-unstyled collect-lists">
                      <li><i class="icon fa-map-marker"></i>{{ pickup_service.pickup_address }}</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h5 class="brand-primary uppercase mt-20 mb-15">Dropoff</h5>
                  <ul class="list-unstyled collect-lists">
                      <li><i class="icon fa-map-marker"></i>{{ pickup_service.dropoff_address }}</li>
                  </ul>
                </div>
              </div>
            {% else %}
              <div class="">
                <span class="state state-pickup">Ride</span>
                <span class="state">No Booking</span>
              </div>
            {% endif %}              
            </div>
          </div>
        </div>
        <div class="col-xlg-6 col-md-6">
          <div class="panel panel-bordered panel-base">
            <div class="panel-heading">
              <h3 class="panel-title uppercase clearfix">Account overview
               <a href="/customer/details/" class="btn btn-flat btn-secondary pull-right mt-n8">Edit</a>
              </h3>
            </div>
            <div class="panel-body">
              <form action="" class="form-horizontal dashboard-form">
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">NAME</label>
                  <div class="col-sm-9">
                    <input readonly="true" type="text" class="form-control input-lg" value="{{ customer.name }}">
                  </div>
                </div>
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">address</label>
                  <div class="col-sm-9">
                    <input readonly="true" type="text" class="form-control input-lg" value="{{ customer.address }}">
                  </div>
                </div>
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">postal code</label>
                  <div class="col-sm-9">
                    <input readonly="true" type="text" class="form-control input-lg" value="{{ customer.postal_code }}">
                  </div>
                </div>
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">contact number</label>
                  <div class="col-sm-9">
                    <input readonly="true" type="text" class="form-control input-lg" value="{{ customer.contact_no }}">
                  </div>
                </div>
                <div class="form-group input-brick">
                  <label for="" class="control-label col-sm-3">email address</label>
                  <div class="col-sm-9">
                    <input readonly="true" type="email" class="form-control input-lg" value="{{ email }}">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
        Modal for Delivery jobs

  -->
  <div class="modal fade modal-cab-details" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="modal-header text-center">
            <h3 class="title fs-24 uppercase color-primary">Let us know your thoughts!</h3>
            <p>Let us know what you think and share your thoughts with us about your most recent service experience:</p>
          </div>
          <div class="modal-body">
            <h4 class="uppercase fs-15 mon-normal text-center mb-0 mt-0 ">RATE YOUR COURIER EXPERIENCE({{ completed_delivery.order_no }})</h4>
            <input type="hidden" value="{{ completed_delivery.id }}" id="del_id">
            <div class="text-center mb-20"><input id="rating_driver" type="text" class="" data-size="sm"></div>
            <textarea name="comment" id="comment" rows="3" class="form-control" placeholder="Do you have any additional comments?"></textarea>
          </div>
          <div class="modal-footer text-right">
            <button type="submit" class="btn btn-secondary gotham normal uppercase fs-15 btn-afix" onclick="rate()">SUBMIT REVIEW</button>
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-cab-details" id="pickUpratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="modal-header text-center">
            <h3 class="title fs-24 uppercase color-primary">Let us know your thoughts!</h3>
            <p>Let us know what you think and share your thoughts with us about your most recent service experience:</p>
          </div>
          <div class="modal-body">
            <h4 class="uppercase fs-15 mon-normal text-center mb-0 mt-0 ">RATE YOUR RIDE EXPERIENCE({{completed_pickup.order_no}})</h4>
            <input type="hidden" value="{{ completed_pickup.id }}" id="pick_id">
            <div class="text-center mb-20"><input id="rating_driver_pickup" type="text" class="" data-size="sm"></div>
            <textarea name="comment" id="comment_pickup" rows="3" class="form-control" placeholder="Do you have any additional comments?"></textarea>
          </div>
          <div class="modal-footer text-right">
            <button type="submit" class="btn btn-secondary gotham normal uppercase fs-15 btn-afix" onclick="rate_pickup()">SUBMIT REVIEW</button>
          </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block extrajs %}
  <script>
  $(window).load(function(){
      if (document.getElementById('modal-activate')) {
        $('#ratingModal').modal('show');
      }
      else if(document.getElementById('modal-activate-pickup')){
        $('#pickUpratingModal').modal('show');
      }
    });

  var rating = '';
  $('#rating_driver').rating({
            theme: 'krajee-fa',
            filledStar: '<i class="fa fa-star"></i>',
            emptyStar: '<i class="fa fa-star-o"></i>',
            //showClear: true,
        }).on('rating.change', function(event, value){
            rating = value;
        });

  var pickup_rating = '';
   $('#rating_driver_pickup').rating({
            theme: 'krajee-fa',
            filledStar: '<i class="fa fa-star"></i>',
            emptyStar: '<i class="fa fa-star-o"></i>',
            //showClear: true,
        }).on('rating.change', function(event, value){
            pickup_rating = value;
        });

    var rate = function rate(){
        job_id=$('#del_id').val();
        comment=$('#comment').val();
        $('#ratingModal').modal('hide');
        $.ajax({
              url:'/customer/rate/',
              type:'POST',
              data: {id:job_id, rating:rating, comment:comment},
              dataType:'json',
              success:function(data){
                  console.log(data);
                  $('#ratingModal').modal('hide');
              },
              error:function(){
                  console.log('Error in submission.');
              }
        });
    }

    var rate_pickup = function rate_pickup(){
        job_id=$('#pick_id').val();
        comment = $('#comment_pickup').val();
        $('#pickUpratingModal').modal('hide');
        console.log(comment);
        $.ajax({
              url:'/customer/rate-pickup/',
              type:'POST',
              data: {id:job_id, rating:pickup_rating, comment:comment},
              dataType:'json',
              success:function(data){
                  console.log(data);
                  $('#pickUpratingModal').modal('hide');
              },
              error:function(){
                  console.log('Error in submission.');
              }
        });
    }
  </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}