{% extends "base/layout.html" %}

{% block content %}
<p>
    <form id="" method="post" action="">
    	{% csrf_token %}

      <div class="form-error">
        	{{ form.first_name.errors.as_text }}
    	</div>
    	<div>
	        <label> {{ form.first_name.label_tag }} </label>
	        {{ form.first_name }}

   		</div>

      <div class="form-error">
          {{ form.last_name.errors.as_text }}
      </div>
      <div>
          <label> {{ form.last_name.label_tag }} </label>
          {{ form.last_name }}

      </div>


   		<div class="form-error">
        	{{ form.email.errors.as_text }}
    	</div>
    	<div>
	        <label> {{ form.email.label_tag }} </label>
	        {{ form.email }}

   		</div>


   		<div class="form-error">
        	{{ form.address.errors.as_text }}
    	</div>
    	<div>
	        <label> {{ form.address.label_tag }} </label>
	        {{ form.address }}

   		</div>

   		<div class="form-error">
        	{{ form.contact_no.errors.as_text }}
    	</div>
    	<div>
	        <label> {{ form.contact_no.label_tag }} </label>
	        {{ form.contact_no }}
   		</div>

    <p>
            <input type="submit" name="submit" value="Save" />
            </p>
        </form>
</p>
{% endblock %}