{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Your Location</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xlg-12 col-md-12">
          <div class="panel panel-bordered panel-base">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <form id="locationForm" action="" class="form-horizontal" style="min-height: 500px">
                    <p class="fs-15 mb-25">Select your language and location:</p>
                    <div class="btn-group language-currency-list" data-toggle="buttons">
                      <label class="btn lc-item {% if customer.location == 'Singapore (SGD)' %} active {% endif %}">
                        <input type="radio" name="language__currency" id="radio__singapore" autocomplete="off" value="Singapore (SGD)" {% if customer.location == 'Singapore (SGD)' %} checked {% endif %}>
                        <div class="lc-card">
                          <div class="lc-icon">
                            <img src="{% static 'dashboard/assets/images/flags/singapore.png' %}" alt="Singapore">
                          </div>
                          <div class="lc-denote">
                            <h4 class="lc-title">Singapore</h4>
                          </div>
                        </div>
                      </label>
                      <label class="btn lc-item {% if customer.location == 'Malaysia (MYR)' %} active {% endif %}">
                        <input value="Malaysia (MYR)" type="radio" name="language__currency" id="radio__malaysia" autocomplete="off" {% if customer.location == 'Malaysia (MYR)' %} checked {% endif %}> 
                        <div class="lc-card">
                          <div class="lc-icon">
                            <img src="{% static 'dashboard/assets/images/flags/malaysia.png' %}" alt="Malaysia">
                          </div>
                          <div class="lc-denote">
                            <h4 class="lc-title">Malaysia</h4>
                          </div>
                        </div>
                      </label>
                      <label class="btn lc-item {% if customer.location == 'Philippines (PHP)' %} active {% endif %}">
                        <input value="Philippines (PHP)" type="radio" name="language__currency" id="radio__philippines" autocomplete="off" {% if customer.location == 'Philippines (PHP)' %} checked {% endif %}> 
                        <div class="lc-card">
                          <div class="lc-icon">
                            <img src="{% static 'dashboard/assets/images/flags/philippines.png' %}" alt="Philippines">
                          </div>
                          <div class="lc-denote">
                            <h4 class="lc-title">Philippines</h4>
                          </div>
                        </div>
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
{% endblock %}
{% block extrajs %}
<script type="text/javascript">

$('#locationForm input').on('change', function() {
   var location = $('input[name=language__currency]:checked', '#locationForm').val();
   $.post( "/customer/change_location/", {location: location}, function( data ) {
        //  alert( data.status );
        }); 

});
</script>
{% endblock %}