{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Payment</h1>
        </div>
      </div>
      <div class="view-bookings">
        <div class="panel panel-bordered panel-base fs-15">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 col-lg-5">
                  <p>
                    {{ common.dashboard_payment_page_header_text }}
                  </p>
                  <div class="payment-method mb-60 mt-20">
                  {% if common.dashboard_payment_page_header_image %}
                    <img src="{{ common.dashboard_payment_page_header_image.url }}" alt="...">
                  {% else %}
                    <img src="{% static 'dashboard/assets/images/payment/1.png' %}" alt="...">
                  {% endif %}
                  </div>
                  {% if messages %}
                        {% for message in messages %}
                        <span {% if message.tags %} class="{% if message.tags == 'error' %}alert-danger{% endif %}"{% endif %}>{{ message }}</span>
                        {% endfor %}
                    {% endif %}
                  <form method="post" action="" class="form-horizontal" id="payment-form">
                  {% csrf_token %}
                      <div class="well well-enq">
                        <h4 class="well-title">ADD A NEW CARD</h4>
                        <div class="form-group input-brick need-validation">
                          <div class="col-sm-12">
                            <div class="has-need">
                              <label for="">Name on Card <span>*</span></label>
                              <input name="name" type="text" class="form-control input-lg val" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick need-validation">
                          <div class="col-sm-12">
                            <div class="has-need">
                              <label for="">Card Number <span>*</span></label>
                              <input name="card_no" type="text" class="form-control input-lg" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick ">
                          <div class="col-sm-12 col-xlg-6 mb-5">
                            <div class="has-need need-validation">
                                <label for="">Exp Date(MM/YY)<span>*</span></label>
                                <input name="expiry_date" type="text" class="form-control input-lg" required="true">
                            </div>
                          </div>
                          <div class="col-sm-12 col-xlg-6">
                            <div class="has-need need-validation">
                                <label for="">CVV <span>*</span></label>
                                <input name="cvv" type="text" class="form-control input-lg" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick mb-0">
                          <div class="col-sm-12 text-right">
                            <button  type="submit" name="submitButton" class=" btn btn-secondary btn-afix gotham normal fs-12 uppercase">ADD THIS CARD</button>
                          </div>
                        </div>

                      </div>
                  </form>
                </div>
                <div class="col-md-6 col-lg-offset-5 col-lg-offset-1 col-xlg-4 col-xlg-offset-1">
                  <h4 class="mb-35">YOUR EXISTING CARD DETAILS</h4>
                  <ul class="list-unstyled ex-cards">
                  {% for card in cards %}
                    <li>
                      {% if card.brand == 'Visa' %}
                        <img class="mb-10" style="max-height: 34px;" src="{% static 'dashboard/assets/images/payment/visa.png' %}" alt="">
                      {% endif %}
                      {% if card.brand == 'MasterCard' %}
                        <img class="mb-10" style="max-height: 34px;" src="{% static 'dashboard/assets/images/payment/master.png' %}" alt="">
                      {% endif %}
                      {% if card.brand == 'American Express' %}
                        <img class="mb-10" style="max-height: 34px;" src="{% static 'dashboard/assets/images/payment/AE.png' %}" alt="">
                      {% endif %}
                      {% if card.brand == 'Discover' %}
                        <img class="mb-10" style="max-height: 34px;" src="{% static 'dashboard/assets/images/payment/dis.png' %}" alt="">
                      {% endif %}
                      <h5 class="ec-name">{{ card.name }}</h5>
                      <p><span>• • • •   • • • •   • • • •</span> {{ card.last_digits }}</p>
                      <p>{{ card.expiry_date }}</p>
                      <a href="/customer/payment/delete/{{ card.id }}" class="btn btn-gray">Remove</a>
                    </li>
                  {% endfor %}
            
                  </ul>
<!--                   <span class="result">
                    {% for obj in coupon %}
                        {{ obj.code }}
                    {% endfor %}
                  </span> -->
<!--                     <hr/> -->
<!--                   <form method="post" action="" class="form-horizontal" id="payment-form">
                  {% csrf_token %}
                      <div class="well well-enq">
                        <h4 class="well-title">ADD COUPON CODE(PICKUP)</h4>
                        <div class="form-group input-brick need-validation">
                          <div class="col-sm-12">
                            <div class="has-need">
                              <label for="">Coupon Code <span>*</span></label>
                              <input name="card_no" type="text" class="form-control input-lg" id="coupon" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick mb-0">
                          <div class="col-sm-12 text-right">
                            <button  type="submit" name="submitButton" id="awesome" class=" btn btn-secondary btn-afix gotham normal fs-12 uppercase">ADD CODE</button>
                          </div>
                        </div>

                      </div>
                  </form> -->
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade modal-cab-details" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="modal-header text-center">
            <h3 class="title fs-24 uppercase color-primary">ERROR!</h3>
          </div>
          <div class="modal-body">
              <p class="text-center">Invalid Code</p>
          </div>
          <!--<div class="modal-footer text-right">-->
            <!--<button type="submit" class="btn btn-secondary gotham normal uppercase fs-15 btn-afix" onclick="rate_pickup()">SUBMIT REVIEW</button>-->
          <!--</div>-->
      </div>
    </div>
  </div>
  <!-- End Page -->

{% endblock %}
{% block extrajs %}
<script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
 <script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
  
      //  var dateToday = new Date();
      // $('[name="expiry_date"]').datetimepicker({
      //     format: 'MM YYYY',
      // });
</script>

  <script type="text/javascript" src="{% static 'base/js/formValidation.js' %}"></script>
  <script type="text/javascript" src="{% static 'base/js/framework/bootstrap.js' %}"></script>
  <script>
    $(document).ready(function(){
      $(function() {
          $(".has-need label + .form-control").keyup(function() {
              if($(this).val().length) {
                  $(this).prev('label').hide();
              } else {
                  $(this).prev('label').show();
              }
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });
    });

    $(document).ready(function() {
        $('#payment-form').formValidation({
              framework: 'bootstrap',
              icon: {
                  valid: 'glyphicon glyphicon-ok',
                  invalid: 'glyphicon glyphicon-remove',
                  validating: 'glyphicon glyphicon-refresh'
              },
              err: {
                  // You can set it to popover
                  // The message then will be shown in Bootstrap popover
                  container: 'tooltip'
              },
                fields: {
                    name: {
                        row: '',
                        validators: {
                            notEmpty: {
                                message: 'Name is required'
                            }
                        }
                    },
                    card_no: {
                        row: '',
                        validators: {
                            notEmpty: {
                                message: 'Card no is required'
                            },
                            creditCard: {
                                message: 'The credit card number is not valid'
                            }
                        }
                    },
                    cvv: {
                        row: '',
                        validators: {
                            notEmpty: {
                                message: 'CVV is required'
                            },
                            cvv: {
                                creditCardField: 'card_no',
                                message: 'The CVV number is not valid'
                            }
                        }
                    },
                    expiry_date: {
                        row: '',
                        validators: {
                            notEmpty: {
                                message: 'Expiry Date is required'
                            },
                            regexp: {
                                regexp: '^(0[1-9]|1[0-2])/[0-9]{2}$',
                                message: 'Must be in MM/YYYY format'
                            }
                        }
                    },

                }
            });
    });

      $('#awesome').on('click', function(e){
          e.preventDefault();
          $.ajax({
              url:'/customer/add_pickup_coupon/',
              type:'post',
              dataType: 'json',
              data: {coupon: $('#coupon').val()},
              success:function(data){
                  result = data;
                  console.log(result);
//                  $('#code').val(data['code']);
//                  $.each(results, function (key, data) {
                  if(result['message'] == 'Coupon already exists' || result['message'] == 'Invalid code'){
                    $('#errorModal').modal('show');
                  }
                  else {
                      $('.result').append('<p>' + result['message'] + '</p>');
                  }
//                  });
              },
              error:function(err){
                  console.log(err);
              }
          });
      });
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
{% block extracss %}
 <link rel="stylesheet" href="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}