{% extends "base/form_layout.html" %}
{% load staticfiles %}

{% block content %}
<div class="user-dashpage image-cover" style="background-image: url('{% static 'base/images/bgDash/1.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                    <div class="log-card">
                        <div class="text-center">
                            <a class="dashpage-brand" herf="/">
                                <img src="{% static 'base/images/logo.png' %}" alt="Uncle Frank">
                            </a>
                        </div>
                        <div class="text-center">
                            <h1 class="ud-title montserret normal uppercase">personal details</h1>
                            <h4 class="ud-tagline">Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</h4>
                        </div>
                        <form action="" method="post" class="form-horizontal mt-45">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input name="address" required="true" type="text" class="form-control huge" placeholder="Address Line 1 *">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input name="postal_code" required="true" type="text" class="form-control huge" placeholder="Postal Code *">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary btn-block btn-afix huge fs-15 gotham semi unstroke uppercase btn-block">verify &amp; continue</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mt-20">
                        <a href="/" class="fs-15 gotham semi white uppercase"><i class="fa fa-home"></i> Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="me-dash-footer">
            <div class="container">
                <div class="me-dash-fooer-in">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline me-dash-foo">
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 sm-right">
                            <span class="copy-text">&copy; 2016 Uncle Frank. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
{% endblock %}