{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page -->
<div ng-app="myApp">
<div ng-controller="myCtrl">
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Book a Service</h1>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <ul class="nav nav-dash-list">
              <li class="active">
                <a href="/service/courier_booking_one/">
                  <img src="{% static 'dashboard/assets/images/icons/sm/1.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/1-active.png' %}" alt="Courier Service"> 
                  <span class="nd-title">Courier Service</span>
                </a>
              </li>
              <li>
                <a href="/service/passengerPickup/">
                  <img src="{% static 'dashboard/assets/images/icons/sm/2.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/2-active.png' %}" alt="Passenger Pickup"> 
                  <span class="nd-title">Ride</span>
                </a>
              </li>
            </ul>
        </div>
        <div class="col-md-12">
          <div class="white-stroke">&nbsp;</div>
        </div>
      </div>
      <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
            <div class="row">
        <div class="col-xlg-12 col-md-12">
          <div class="panel panel-base">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <a href="/media/csv/batch_upload_formate.csv">Download CSV Template</a>
                  <h4 class="mt-10 mb-0 uppercase">Batch Order</h4>
                  <div class="input-brick upload-filebar mt-20">
                    <div class="input-group input-group-file">
                      <input class="form-control input-lg uploaded-file-name" placeholder="No file selected..." type="text">
                      <span class="input-group-btn">
                        <span class="btn btn-gray btn-file btn-ufile">
                          BROWSE
                          <input class="uploaded-file" name="file" type="file">
                        </span>
                      </span>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-secondary mon-normal uppercase fs-15 btn-lg add-package mt-20">Create order</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
  <!-- End Page -->
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    $(document).ready(function() {
      $('.nav-dash-list li').each(function() {
          var dataActImg = $(this).find('img').attr('data-active-img');
          var dataInactImg = $(this).find('img').attr('src');
          if ($(this).hasClass('active')) {
              $(this).find('img').attr('src', dataActImg);
          } else {
              $(this).find('img').attr('src', dataInactImg);
          }
      });

      $(function(){
          function readURL(input, divParent) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                   divParent.find('.uploaded-image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
          }
          $(document).on("change", ".uploaded-file", function() {
              var divParent = $(this).parents('.input-group-file');
              var filename = $(this).val();
              var file = filename.split("\\");
              divParent.find('.uploaded-file-name').val(file[file.length-1]);
              readURL(this,divParent);
          });
      });


    });
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}