{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="alert alert-danger">
      {% else %}
        <div class="alert alert-{{ message.tags }}">
      {% endif %}
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}         
        </div> 
      {% endfor %}
    {% endif %}
        <div class="col-md-12">
          <h1 class="pages-heading">Book a Courier</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xlg-12 col-md-12">
          <div class="panel panel-bordered panel-base">
            <div class="panel-heading">
              <h3 class="panel-title fs-24 uppercase clearfix">Step 4. <span class="pt-span">Review your details.</span>
              </h3>
            </div>
            <div class="panel-body">
            <span class="alert-danger">{{ error }}</span>
              <form id="formFour" method="post" action="" class="form-horizontal">
              {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                      <h4 class="mt-18 mb-18 uppercase">COLLECTION INFORMATION</h4>
                      <ul class="collect-info-lists">
                        <li data-mh="collection-date">
                          <div class="cl-content">
                            <i class="cl-icon fa fa-calendar"></i>
                            <div class="denote">
                              <h5 class="cl-title">DATE</h5>
                              <div class="note">{{ cellectionDate }}</div>
                            </div>
                          </div>
                        </li>
                        <li data-mh="collection-date">
                          <div class="cl-content">
                            <i class="cl-icon fa fa-clock-o"></i>
                            <div class="denote">
                              <h5 class="cl-title">WINDOW</h5>
                              <div class="note">{{ cellectionTime }} {{ collection_time.start_time|time:"g:iA"|upper }} - {{ collection_time.end_time|time:"g:iA"|upper }}</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      
                      <div class="cole-info">
                        <div class="row">
                          <div class="col-md-6" data-mh="dv-add-1">
                            <h5 class="brand-primary mt-0 uppercase fs-15">ADDRESS</h5>
                            <p class="fs-15">{{ collectionAddress }}
                          </div>
                          <div class="col-md-6" data-mh="dv-add-1">
                            <h5 class="brand-primary mt-0 uppercase fs-15">Name</h5>
                            <p class="fs-15"><span class="mon-normal">{{ collectionName }}</span><br> {{ collectionContactNumber }}</p>
                          </div>
                          <div class="col-sm-6" data-mh="dv-add-1">
                            <h5 class="brand-primary mt-0 uppercase fs-15">BUILDING NAME</h5>
                            <p class="fs-15">{{ collectionBuilding }}</p>
                          </div>
                          <div class="col-sm-6">
                            <h5 class="brand-primary mt-0 uppercase fs-15">UNIT NUMBER</h5>
                            <p class="fs-15">{{ collectionUnitNumber }}</p>
                          </div>
                          <div class="col-sm-6" data-mh="dv-add-1">
                            <h5 class="brand-primary mt-0 uppercase fs-15">REMARKS</h5>
                            <p class="fs-15">{{ collectionRemarks }}</p>
                          </div>
      
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <h4 class="mt-18 mb-18 uppercase">DELIVERY INFORMATION</h4>
                      <ul class="collect-info-lists">
                        <li data-mh="delevery-date">
                          <div class="cl-content">
                            <i class="cl-icon fa fa-calendar"></i>
                            <div class="denote">
                              <h5 class="cl-title">DATE</h5>
                              <div class="note">{{ deliveryDate }}</div>
                            </div>
                          </div>
                        </li>
                        <li data-mh="delevery-date">
                          <div class="cl-content">
                            <i class="cl-icon fa fa-clock-o"></i>
                            <div class="denote">
                              <h5 class="cl-title">WINDOW</h5>
                              <div class="note">{{ deliveryTime }} {% if delivery_time %}
                                {{ delivery_time.start_time|time:"g:iA"|upper }} - {{ delivery_time.end_time|time:"g:iA"|upper }}
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>

                      
                      <div class="cole-info">
                        <div class="row">
                          <div class="col-md-6" data-mh="dv-add">
                            <h5 class="brand-primary mt-0 uppercase fs-15">ADDRESS</h5>
                            <p class="fs-15">{{ deliveryAddress }}
                          </div>
                          <div class="col-md-6" data-mh="dv-add">
                            <h5 class="brand-primary mt-0 uppercase fs-15">Name</h5>
                            <p class="fs-15"><span class="mon-normal">{{ deliveryName }}</span><br>{{ deliveryContactNumber }}</p>
                          </div>
                          <div class="col-sm-6" data-mh="dv-add">
                            <h5 class="brand-primary mt-0 uppercase fs-15">BUILDING NAME</h5>
                            <p class="fs-15">{{ deliveryBuilding }}</p>
                          </div>
                          <div class="col-sm-6">
                            <h5 class="brand-primary mt-0 uppercase fs-15">UNIT NUMBER</h5>
                            <p class="fs-15">{{ deliveryUnitNumber }}</p>
                          </div>
                          <div class="col-sm-6" data-mh="dv-add">
                            <h5 class="brand-primary mt-0 uppercase fs-15">REMARKS</h5>
                            <p class="fs-15">{{ deliveryRemarks }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <hr class="hr-in-panel">
                        <h4 class="mt-18 mb-18 uppercase">Your package/s</h4>
                        <div class="row package-bar">
                        {% for item in items %}
                          <div class="col-xlg-4 col-lg-6 col-md-6 col-sm-6 package-item selected-package">
                            <div class="package-card" data-mh="package-card">
                              <h4 class="pc-title clearfix">PACKAGE <span class="pk-count">{{ forloop.counter }}</span>
                                <span class="pull-right pk-price">${{ item.unit_price }}</span></h4>
                              <div class="view-upfile">
                                <div class="vu-cell">
                                  <div class="vi-image"><img alt="your image" src="{% if item.image %} {{ item.image.url }} {% else %}
                                  {% static 'dashboard/assets/images/portraits/packages-icon.png' %}{% endif %}"></div>
                                </div>
                                <div class="vu-cell denote">
                                  <div class="vu-file-name">{% if item.size %}{{ item.size }}{% else %} Custom {% endif %}</div>
                                  <p>Qty: {{ item.quantity }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-12"><hr class="hr-in-panel"></div>
                          <div class="col-md-6">
                              <h4 class="mt-18 mb-18 uppercase">fees breakdown</h4>
                              <ul class="breakdown-lists">

                                {% for item in items %}
                                <li>
                                  <span>
                                    {% if item.size %}{{ item.size }}{% endif %}  x  {{ item.quantity }}
                                  </span>
                                  <span>{{ item.unit_price }}</span>
                                </li>
                                {% endfor %}

                                {% if express %}
                                <li>
                                  <span>
                                    Addional Charges for {{ express.window_name }}
                                  </span>
                                  <span>{{ express_price  }}</span>
                                </li>

                                {% endif %}
                                <li>
                                  <span>
                                    Surcharge
                                  </span>
                                  <span>{{ surcharge  }}</span>
                                </li>
                                <li>
                                  <span>
                                    GST
                                  </span>
                                  <span>{{ gst_charge  }}</span>
                                </li>
                                <li>
                                  <span class="mon-normal">TOTAL</span>
                                  <span class="mon-normal">${{ totalPrice|floatformat:2 }}</span>
                                </li>
                                <li>
                                  <span class="mon-normal">DISCOUNT</span>
                                  <span class="mon-normal">${{ discount|floatformat:2 }}</span>
                                </li>
                                <li>
                                  <span class="color-primary mon-normal">PAYABLE AMOUNT</span>
                                  <span class="color-primary mon-normal">${{ anount_after_discount|floatformat:2 }}</span>
                                </li>
                              </ul>
                          </div>
                          <div class="col-md-6">
                            <h4 class="mt-18 mb-18 uppercase has-abs">PAYABLE AMOUNT <span class="pay-amount">${{ anount_after_discount|floatformat:2 }}</span></h4>
                            {% if credite_terms_exists %}
                              <div class="checkbox-site mt-80">
                                <input name="cradite_term" type="checkbox" id="check__2">
                                <label for="check__2">
                                  <span>Use credit terms</span>
                                </label>
                              </div>
                            {% endif %}
                            <div class="checkbox-site mt-80">
                              <input required="true" type="checkbox" id="check__1">
                              <label for="check__1">
                                <span>I agree to pay the amount in full and I agree to the Terms and Conditions.</span>
                              </label>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-right btn-step-group">
                      <a href="/service/courier_booking_three/" class="btn btn-gray gotham semi fs-15 btn-step btn-lg uppercase">go back</a>
                      <button class="btn btn-secondary gotham semi fs-15 btn-step btn-lg uppercase">PROCEED TO PAYMENT</button>
                    </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
{% endblock %}

{% block extrajs %}
   <script>
    $(document).ready(function() {
      $('.nav-dash-list li').each(function() {
          var dataActImg = $(this).find('img').attr('data-active-img');
          var dataInactImg = $(this).find('img').attr('src');
          if ($(this).hasClass('active')) {
              $(this).find('img').attr('src', dataActImg);
          } else {
              $(this).find('img').attr('src', dataInactImg);
          }
      });
    });
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
var form = document.getElementById('formFour'); // form has to have ID: <form id="formID">
form.noValidate = true;
form.addEventListener('submit', function(event) { // listen for form submitting
        if (!event.target.checkValidity()) {
            event.preventDefault(); // dismiss the default functionality
            alert('You have to agree with Terms and Conditions.'); // error message
        }
    }, false);
</script>
  
{% endblock %}