{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Book a Courier</h1>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            {% if messages %}
            {% for message in messages %}
            <center><h3 style="color: #26A65B; font-size: 18px;" class="{{ message.tags }}">{{ message }}</h3></center>
            {% endfor %}
            {% endif %}
            <!--<ul class="nav nav-dash-list">-->
              <!--<li class="active">-->
                <!--<a href="/service/courier_booking_one/">-->
                  <!--<img src="{% static 'dashboard/assets/images/icons/sm/1.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/1-active.png' %}" alt="Courier Service">-->
                  <!--<span class="nd-title">Courier Service</span>-->

                <!--</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="/service/passengerPickup/">-->
                  <!--<img src="{% static 'dashboard/assets/images/icons/sm/2.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/2-active.png' %}" alt="Passenger Pickup">-->
                  <!--<span class="nd-title">Passenger Pickup</span>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
        </div>
        <!-- <div class="col-md-12">
          <div class="white-stroke">&nbsp;</div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-xlg-12 col-md-12">
          <div class="panel panel-bordered panel-base">
            <div class="panel-heading">
              <h3 class="panel-title fs-24 uppercase clearfix">Step 2. <span class="pt-span">Select package size, weight, and quantity.</span>
              </h3>
            </div>
            <div class="panel-body">
            <span class="form-horizontal">
                <div class="row">
                    <div class="col-md-5 col-xlg-5">
                        <h4 class="uppercase fs-21 mt-0 mb-30 vmid-title"><span>Package Guide</span></h4>
                        {% if disclamitar %}<p>{{ disclamitar }}</p> {% endif %}
                        <div class="table-responsive">
                          <table class="table mon-lighter fs-13 table-label">
                            <tbody>
                            {% for size in sizes %}
                              <tr>
                                <td>{{ size.name }}</td>
                                <td>{{ size.length }}x{{ size.width }}x{{ size.height }}cm</td>
                                <td>{{ size.start_weight }} < {{ size.end_weight }} Kg</td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>

                    </div>
                    <div class="col-md-7 col-xlg-7">
                      <div class="row">
                        <div class="col-md-12">
                            <p style="display:none; color:red;" id="inform">You must add a package</p>
                          <h4 class="uppercase fs-21 mt-0 mb-15 clearfix vmid-title"><span>Packages</span> <button type="button" class="btn btn-secondary mon-normal uppercase pull-right fs-15 btn-lg add-package">+ Add a Package</button></h4>
                        </div>
                      </div>
                      <div class="row package-bar">
                      {% for item in items %}
                      <form>
                        <div class="col-md-12 col-xlg-7 package-item">
                          <input name='fname' type="hidden" class="form-no package_no" value='{{ item.id }}'>
                          <div class="package-card">
                              <h4 class="pc-title">PACKAGE <span class='pk-count'>{{ forloop.counter }}</span></h4>

                              <div class="form-group input-brick">
                                <div class="col-sm-12">
                                  <div class="has-select has-need">
                                      <p>Package Type</p>
                                  <!--   <label for="">Package Size <span>*</span></label> -->
                                    <select name="package" class="form-control input-lg select-styled package-size package">
                                      <{% for size in sizes %}
                                      <option {% if item.size == size %} selected='selected'{% endif %}value='{{ size.id }}'>{{ size.name }}</option>
                                      {% endfor %}

                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class='form-group input-brick pk-custom-weight hide'>
                                <div class='col-sm-12'>
                                    <ul class='input-inline-list'>
                                      <li>
                                        <div class="primary-quantity">
                                          <div class="sp-input has-need">
                                              <input type="text" placeholder="LENGTH" autocomplete="off" required id="length" class="form-control input-lg quntity-input" value="{{ item.length }}" />
                                          </div>
                                          <a class="btn-pq length qty-plus" href="#">+</a>
                                          <a class="btn-pq length qty-minus" href="#">-</a>
                                        </div>
                                      </li>
                                      <li><span class='inlist-span'>X</span></li>
                                      <li>
                                        <div class="primary-quantity">
                                          <div class="sp-input has-need">
                                              <input type="text" placeholder="WIDTH" autocomplete="off" required id="width" class="form-control input-lg quntity-input" value="{{ item.width }}" />
                                          </div>
                                          <a class="btn-pq width qty-plus" href="#">+</a>
                                          <a class="btn-pq width qty-minus" href="#">-</a>
                                        </div>
                                      </li>
                                      <li><span class='inlist-span'>X</span></li>
                                      <li>
                                        <div class="primary-quantity">
                                          <div class="sp-input has-need">
                                              <input type="text" placeholder="HEIGHT" autocomplete="off" required id="height" class="form-control input-lg quntity-input" value="{{ item.height }}" />
                                          </div>
                                          <a class="btn-pq height qty-plus" href="#">+</a>
                                          <a class="btn-pq height qty-minus" href="#">-</a>
                                        </div>
                                      </li>
                                      <li><span class='inlist-span'>cm</span></li>
                                    </ul>
                                </div>
                                  </div>
                                  <div class='form-group input-brick pk-custom-weight hide'>
                                  <div class='col-sm-12'>
                                    <ul class='input-inline-list'>
                                      <li>
                                        <div class="primary-quantity">
                                            <div class="sp-input has-need">
                                              <input type="text" disabled placeholder="WEIGHT" autocomplete="off" required id="weight" class="form-control input-lg quntity-input" value="{{ item.weight }}" />
                                          </div>
                                          <!--<a class="btn-pq weight qty-plus" href="#">+</a>-->
                                          <!--<a class="btn-pq weight qty-minus" href="#">-</a>-->
                                        </div>
                                      </li>
                                      <li><span class='inlist-span'>kg</span></li>
                                    </ul>
                                  </div>
                              </div>
                              <div class="form-group input-brick">
                                <div class="col-sm-6">
                                    <p>Quantity</p>
                                  <div class="me-quantity">
                                    <div class="sp-input has-need">
                                        <input type="text" class="form-control input-lg quntity-input" autocomplete="off" value="{{ item.quantity }}" id="quantity"/>
                                    </div>
                                    <a class="btn-qty qty-plus" href="#">+</a>
                                    <a class="btn-qty qty-minus" href="#">-</a>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group input-brick upload-filebar {% if item.image %} hide {% endif %}">
                                <div class="col-sm-12">
                                  <div class="input-group input-group-file">
                                    <input type="text" class="form-control input-lg" placeholder="Upload an image (optional)">
                                    <span class="input-group-btn">
                                      <span class="btn btn-secondary btn-file btn-ufile">
                                        BROWSE
                                        <input class="upl-image" type="file" name="">
                                      </span>
                                    </span>
                                  </div>
                                </div>
                              </div>

                              <div class="view-upfile {% if item.image  %}{% else %}hide{% endif %}">
                                <div class="vu-cell">
                                  <div class="vi-image"><img class="uploaded-image" src="{% if item.image %} {{ item.image.url }} {% endif %}" alt="your image" height="50px" width="100px"/></div>
                                </div>
                                <div class="vu-cell">
                                  <div class="vu-file-name"></div>
                                  <span class="btn btn-default btn-up-file fs-12 uppercase gotham semi">
                                      REPLACE IMAGE
                                      <input class="upl-image" type="file" name="">
                                  </span>
                                </div>
                              </div>

                              <a href="#" class="card-close"><img src="{% static 'dashboard/assets/images/close.png' %}" alt="X"></a>
                          </div>
                        </div>
                      </form>
                      {% endfor %}
                      </div>
                    </div>
                    <form method="post" action="">
                    {% csrf_token %}
                      <div class="col-sm-12 text-right btn-step-group">
                        <a href="/service/courier_booking_one/" class="btn btn-gray gotham semi fs-15 btn-step btn-lg uppercase">go back</a>
                        <button class="btn btn-secondary gotham semi fs-15 btn-step btn-lg uppercase" id="next">Next step</button>
                      </div>
                    </form>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
  {% endblock %}

  {% block extrajs %}

  <script>
  $(document).ready(function(){

      function removeItem(id){
        $.post( "/service/remove_item/", {id: id}, function( data ) {
         // alert( data.status );
        });
      }

      function changeDimention(id, type, value){
        $.post( "/service/change_dimention/", {id: id, type: type, value: value}, function( data ) {
//          alert( data.status );
        });
      }

      function changeQuantity(id, quantity){
          $.post( "/service/change_quantity/", {id: id, quantity: quantity}, function( data ) {
          //alert( data.status );
        });

        }

      function changeSize(id, size_id){
        if (size_id != '0'){
          $.post( "/service/change_size/", {id: id, size_id: size_id}, function( data ) {
          //alert( data.status );
        });
      }

      }

      $('.nav-dash-list li').each(function() {
          var dataActImg = $(this).find('img').attr('data-active-img');
          var dataInactImg = $(this).find('img').attr('src');
          if ($(this).hasClass('active')) {
              $(this).find('img').attr('src', dataActImg);
          } else {
              $(this).find('img').attr('src', dataInactImg);
          }
      });

      $('#next').click(function(e) {
          if($('.package-card').length == 0) {
             e.preventDefault();
             $('#inform').css("display","block");
          }
        <!--$("h4[id^='pkg_']").each(function() {-->
            <!--console.log($("h4[id^='pkg_'][name=package-size]").val());-->
        <!--});-->
      });

      $(function() {
          $(document).on("input keyup change", ".has-need label + .form-control", function() {
              if($(this).val().length) {
                  $(this).prev('label').hide();
              } else {
                  $(this).prev('label').show();
              }
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });

      $(function() {
          $(document).on("input keyup change", ".has-need label + .form-control.package-size", function() {
              var vall = $(this).val();
              var divParent = $(this).parents('.package-card');
              /*if(vall.length) {
                  $(this).prev('label').hide();
              }*/
              if (vall == "0") {
                  divParent.find(".pk-weigth, .pk-custom-weight").removeClass('hide');
              } else {
                  $(this).prev('label').show();
                  divParent.find(".pk-weigth, .pk-custom-weight").addClass('hide');
              }$(this).prev('label').hide();
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });


      $(function(){
          //change the image of the package
          function fileUploder(id, input){
              if (input.files && input.files[0]) {
              // ajax file upload
              var data = new FormData();
              data.append('file', input.files[0]);
              data.append('id', id);
              $.ajax({
                url: '/service/change_image/',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(data){
                  //  alert(data.status);
                }
            });
            }
          }




          function readURL(input, divParent) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                   divParent.find('.uploaded-image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
          }
          // image on change
          $(document).on("change", ".upl-image", function() {
              var divParent = $(this).parents('.package-card');
              var formParent = $(this).parents('form');
              var package_id = formParent.find(".package_no").val();
              //change image
              fileUploder(package_id, this);
             // alert(package_id);
              divParent.find(".upload-filebar").addClass('hide');
              divParent.find(".view-upfile").removeClass('hide');
              var filename = $(this).val();
              //divParent.find('.vu-file-name').text(filename);
              readURL(this,divParent);
          });

          // package size on change

            $(document).on("change", ".package-size", function() {

              var formParent = $(this).parents('form');
              var package_id = formParent.find(".package_no").val();
              var size = $(this).val();
              //change size
              changeSize(package_id, size);



          });

          $(document).on("change", ".length_input", function() {

              var formParent = $(this).parents('form');
              var package_id = formParent.find(".package_no").val();
              var length = $(this).val();
              // change length

              changeDimention(package_id, 'length', length);
          });

          $(document).on("change", ".width_input", function() {

              var formParent = $(this).parents('form');
              var package_id = formParent.find(".package_no").val();
              var width = $(this).val();
              // change length

              changeDimention(package_id, 'width', width);

          });

          $(document).on("change", ".height_input", function() {

              var formParent = $(this).parents('form');
              var package_id = formParent.find(".package_no").val();
              var height = $(this).val();
              // change length

              changeDimention(package_id, 'height', height);

          });

          $(document).on("change", ".weight_input", function() {

              var formParent = $(this).parents('form');
              var package_id = formParent.find(".package_no").val();
              var weight = $(this).val();
              // change length

              changeDimention(package_id, 'weight', weight);

          });


      });

      $(function(){

        $(document).on('click', '.add-package', function() {
          //add package to cart
          $.get( "/service/add_package/", function( data ) {
                  var packageTemplate = `<div class='col-md-12 col-xlg-7 package-item'>
          <form>
          <input name='fname' type="hidden" class="form-no package_no" value='`+data.id+`'>
          <div class='package-card'>
              <h4 class='pc-title' id='pkg_{{ counter_two }}'>PACKAGE <span class='pk-count'>{{ counter_two }}</span></h4>
              <div class='form-group input-brick'>
                <div class='col-sm-12'>
                  <div class='has-need has-select'>
                    <!--<label for=''>Package Size <span>*</span></label>-->
                    <p><b>Package Type</b></p>
                    <select name='package-size' class='form-control input-lg select-styled package-size package'>
                      {% for size in sizes %}
                      <option value='{{ size.id }}'>{{ size.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class='form-group input-brick pk-custom-weight hide'>
                <div class='col-sm-12'>
                    <ul class='input-inline-list'>
                      <li>
                        <div class="primary-quantity">
                          <div class="sp-input has-need">
                              <input type="text" autocomplete="off" placeholder="LENGTH" required id="length" class="form-control input-lg quntity-input" value="1" />
                          </div>
                          <a class="btn-pq length qty-plus" href="#">+</a>
                          <a class="btn-pq length qty-minus" href="#">-</a>
                        </div>
                      </li>
                      <li><span class='inlist-span'>X</span></li>
                      <li>
                        <div class="primary-quantity">
                          <div class="sp-input has-need">
                              <input type="text" autocomplete="off" placeholder="WIDTH" required id="width" class="form-control input-lg quntity-input" value="1" />
                          </div>
                          <a class="btn-pq width qty-plus" href="#">+</a>
                          <a class="btn-pq width qty-minus" href="#">-</a>
                        </div>
                      </li>
                      <li><span class='inlist-span'>X</span></li>
                      <li>
                        <div class="primary-quantity">
                          <div class="sp-input has-need">
                              <input type="text" autocomplete="off" placeholder="HEIGHT" required id="height" class="form-control input-lg quntity-input" value="1" />
                          </div>
                          <a class="btn-pq height qty-plus" href="#">+</a>
                          <a class="btn-pq height qty-minus" href="#">-</a>
                        </div>
                      </li>
                      <li><span class='inlist-span'>cm</span></li>
                    </ul>
                    <br />
                </div>
                <div class='col-sm-12'>
                    <ul class='input-inline-list'>
                      <li>
                        <div class="primary-quantity">
                            <div class="sp-input has-need">
                              <input type="text" autocomplete="off" placeholder="WEIGHT" disabled required id="weight" class="form-control input-lg quntity-input" value="1" />
                          </div>
                        </div>
                      </li>
                      <li><span class='inlist-span'>kg</span></li>
                    </ul>
                  </div>
              </div>
              <div class='form-group input-brick'>
                <div class='col-sm-6'>
                    <p>Quantity</p>

                  <div class="me-quantity">
                    <div class="sp-input has-need">
                        <input type="text" autocomplete="off" class="form-control input-lg quntity-input" value="1" id="quantity"/>
                    </div>
                    <a class="btn-qty qty-plus" href="#">+</a>
                    <a class="btn-qty qty-minus" href="#">-</a>
                  </div>
                </div>
                <div class='col-sm-6'>
                  <ul class='input-inline-list pk-weigth hide'>
                    <li>
                      <div class='has-need'>
                        <input type='text' autocomplete="off" class='form-control input-lg weight_input' value='1' placeholder='Weight'>
                      </div>
                    </li>
                    <li><span class='inlist-span'>Kg</span></li>
                  </ul>
                </div>
              </div>

              <div class='form-group input-brick upload-filebar'>
                <div class='col-sm-12'>
                  <div class='input-group input-group-file'>
                    <input type='text' class='form-control input-lg' placeholder='Upload an image (optional)'>
                    <span class='input-group-btn'>
                      <span class='btn btn-secondary btn-file btn-ufile'>
                        BROWSE <input class='upl-image' type='file' name=''>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class='view-upfile hide'>
                <div class='vu-cell'>
                  <div class='vi-image'><img class='uploaded-image' src='{% if item.image %}{{ item.image.url }} {% endif %}' alt='your image' /></div>
                </div>
                <div class='vu-cell '>
                  <div class='vu-file-name'></div>
                  <span class='btn btn-default btn-up-file fs-12 uppercase gotham semi'>
                      REPLACE IMAGE <input class='upl-image' type='file'>
                  </span>
                </div>
              </div>
              <a href='#' class='card-close'><img src='{% static 'dashboard/assets/images/close.png' %}' alt='X'></a>
          </div>
        </div>
        </form>`;
        if(data.status == 'success'){
                 $('.package-bar').append(packageTemplate);
                var pkgLenght = $('.package-item').length;

                  for (var i = 1; i < pkgLenght; i++) {
                    $('.package-item').last().find('.pk-count').text(i+1);

                  }
                //alert( data.id );
              }});
            });

        $(document).on('click', '.card-close', function(e){
          e.preventDefault();
          //get the package id
          var formParent = $(this).parents('form');
          var package_id = formParent.find(".package_no").val();

          var packLength = $('.package-bar').find('.package-item').length;
          if(packLength > 0){
              $(this).parents('.package-item').remove();
              // if packahge length is grater than 1, then allow to remove package form database
              removeItem(package_id);
          }
          var count = 0;
          $('.pk-count').each(function(index, value){
              count = count+1;
              $(this).text(count);
              console.log(count);
          });
          // this is commented our for fixing packing removing bug. This code will be removed after testing others features
          // $('.form-no').each(function(index, value){
          //     count = count+1;
          //     $(this).val(count+1);
          //     console.log(count);
          // });
                  });
      });

      $(function(){
        $(document).on("click", ".btn-qty", function (e) {
          e.preventDefault();
            var $button = $(this);
            var oldValue = $button.closest('.me-quantity').find("input.quntity-input").val();

            if ($button.text() == "+") {
                var newVal = parseFloat(oldValue) + 1;
                //This is added for change quantyty on cart
                var formParent = $(this).parents('form');
                var package_id = formParent.find(".package_no").val();
                changeQuantity(package_id, newVal);
                $(this).closest('.me-quantity').find("input.quntity-input").prev('label').hide();
            } else {
                // Don't allow decrementing below zero
                if (oldValue > 1) {
                    var newVal = parseFloat(oldValue) - 1;
                    //This is added for change quantyty on cart
                    var formParent = $(this).parents('form');
                    var package_id = formParent.find(".package_no").val();
                    changeQuantity(package_id, newVal);
                } else {
                    newVal = 1;
                }
            }
            $button.closest('.me-quantity').find("input.quntity-input").val(newVal);
        });

//          $(document).on("click", ".btn-qty", function (e) {
//          e.preventDefault();
//            var $button = $(this);
//            var oldValue = $button.closest('.me-quantity').find("input.quntity-input").val();
//
//            if ($button.text() == "+") {
//                var newVal = parseFloat(oldValue) + 1;
//                //This is added for change quantyty on cart
//                var formParent = $(this).parents('form');
//                var package_id = formParent.find(".package_no").val();
//                changeDimention(package_id, 'length', newVal);
//                $(this).closest('.me-quantity').find("input.quntity-input").prev('label').hide();
//            } else {
//                // Don't allow decrementing below zero
//                if (oldValue > 1) {
//                    var newVal = parseFloat(oldValue) - 1;
//                    //This is added for change quantyty on cart
//                    var formParent = $(this).parents('form');
//                    var package_id = formParent.find(".package_no").val();
//                    changeDimention(package_id, newVal);
//                } else {
//                    newVal = 1;
//                }
//            }
//            $button.closest('.me-quantity').find("input.quntity-input").val(newVal);
//        });

        $(document).on("click", ".btn-pq.length.qty-plus", function (e) {
          e.preventDefault();
            var $button = $(this);
            var oldValue = $button.closest('.primary-quantity').find("input.quntity-input").val();
            var width = $(this).parents('form').find('#width').val();
            var height = $(this).parents('form').find('#height').val();

            var newVal = parseFloat(oldValue) + 1;
            var formParent = $(this).parents('form');
            var package_id = formParent.find(".package_no").val();
            changeDimention(package_id, 'length', newVal);
            if(Math.round((newVal*parseFloat(width)*parseFloat(height))/5000) === 0){
                formParent.find('#weight').val(1);
            } else{
                formParent.find('#weight').val(Math.round((newVal*parseFloat(width)*parseFloat(height))/5000));
            }

//            changeDimention(package_id, 'weight', formParent.find('#weight').val());
            $(this).closest('.primary-quantity').find("input.quntity-input").prev('label').hide();

            $button.closest('.primary-quantity').find("input.quntity-input").val(newVal);

        });

          $(document).on("click", ".btn-pq.length.qty-minus", function (e) {
          e.preventDefault();
            var $button = $(this);
            var oldValue = $button.closest('.primary-quantity').find("input.quntity-input").val();
            var width = $(this).parents('form').find('#width').val();
            var height = $(this).parents('form').find('#height').val();


            if (oldValue > 1) {
                var newVal = parseFloat(oldValue) - 1;
                var formParent = $(this).parents('form');
                var package_id = formParent.find(".package_no").val();
                changeDimention(package_id, 'length', newVal);
                if(Math.round((newVal*parseFloat(width)*parseFloat(height))/5000) === 0){
                    formParent.find('#weight').val(1);
                } else{
                    formParent.find('#weight').val(Math.round((newVal*parseFloat(width)*parseFloat(height))/5000));
                }

//                changeDimention(package_id, 'weight', formParent.find('#weight').val());
            } else {
                newVal = 1;
            }
            $button.closest('.primary-quantity').find("input.quntity-input").val(newVal);

        });


          $(document).on("click", ".btn-pq.width.qty-plus", function (e) {
          e.preventDefault();
            var $button = $(this);
            var oldValue = $button.closest('.primary-quantity').find("input.quntity-input").val();
            var length = $(this).parents('form').find('#length').val();
            var height = $(this).parents('form').find('#height').val();


            var newVal = parseFloat(oldValue) + 1;
            var formParent = $(this).parents('form');
            var package_id = formParent.find(".package_no").val();
            changeDimention(package_id, 'width', newVal);
            if(Math.round((newVal*parseFloat(length)*parseFloat(height))/5000) === 0){
                formParent.find('#weight').val(1);
            } else{
                formParent.find('#weight').val(Math.round((newVal*parseFloat(length)*parseFloat(height))/5000));
            }

//            changeDimention(package_id, 'weight', formParent.find('#weight').val());
            $(this).closest('.primary-quantity').find("input.quntity-input").prev('label').hide();

            $button.closest('.primary-quantity').find("input.quntity-input").val(newVal);

        });

          $(document).on("click", ".btn-pq.width.qty-minus", function (e) {
          e.preventDefault();
            var $button = $(this);
            var oldValue = $button.closest('.primary-quantity').find("input.quntity-input").val();
            var length = $(this).parents('form').find('#length').val();
            var height = $(this).parents('form').find('#height').val();

            if (oldValue > 1) {
                var newVal = parseFloat(oldValue) - 1;
                var formParent = $(this).parents('form');
                var package_id = formParent.find(".package_no").val();
                changeDimention(package_id, 'width', newVal);
                if(Math.round((newVal*parseFloat(length)*parseFloat(height))/5000) === 0){
                    formParent.find('#weight').val(1);
                } else{
                    formParent.find('#weight').val(Math.round((newVal*parseFloat(length)*parseFloat(height))/5000));
                }

//                changeDimention(package_id, 'weight', formParent.find('#weight').val());
            } else {
                newVal = 1;
            }
            $button.closest('.primary-quantity').find("input.quntity-input").val(newVal);

        });



          $(document).on("click", ".btn-pq.height.qty-plus", function (e) {
          e.preventDefault();
            var $button = $(this);
            var oldValue = $button.closest('.primary-quantity').find("input.quntity-input").val();
            var length = $(this).parents('form').find('#length').val();
            var width = $(this).parents('form').find('#width').val();

            var newVal = parseFloat(oldValue) + 1;
            var formParent = $(this).parents('form');
            var package_id = formParent.find(".package_no").val();
            changeDimention(package_id, 'height', newVal);
            if(Math.round((newVal*parseFloat(width)*parseFloat(length))/5000) === 0){
                formParent.find('#weight').val(1);
            } else{
                formParent.find('#weight').val(Math.round((newVal*parseFloat(width)*parseFloat(length))/5000));
            }

//            changeDimention(package_id, 'weight', formParent.find('#weight').val());
            $(this).closest('.primary-quantity').find("input.quntity-input").prev('label').hide();

            $button.closest('.primary-quantity').find("input.quntity-input").val(newVal);

        });

        $(document).on("click", ".btn-pq.height.qty-minus", function (e) {
          e.preventDefault();
            var $button = $(this);
            var oldValue = $button.closest('.primary-quantity').find("input.quntity-input").val();
            var length = $(this).parents('form').find('#length').val();
            var width = $(this).parents('form').find('#width').val();

            if (oldValue > 1) {
                var newVal = parseFloat(oldValue) - 1;
                var formParent = $(this).parents('form');
                var package_id = formParent.find(".package_no").val();
                changeDimention(package_id, 'height', newVal);
                if(Math.round((newVal*parseFloat(width)*parseFloat(length))/5000) === 0){
                    formParent.find('#weight').val(1);
                } else{
                    formParent.find('#weight').val(Math.round((newVal*parseFloat(width)*parseFloat(length))/5000));
                }

//                changeDimention(package_id, 'weight', formParent.find('#weight').val());
            } else {
                newVal = 1;
            }
            $button.closest('.primary-quantity').find("input.quntity-input").val(newVal);

        });


          $(document).on("click", ".btn-pq.weight.qty-plus", function (e) {
          e.preventDefault();
            var $button = $(this);
            var oldValue = $button.closest('.primary-quantity').find("input.quntity-input").val();


            var newVal = parseFloat(oldValue) + 1;
            var formParent = $(this).parents('form');
            var package_id = formParent.find(".package_no").val();
            changeDimention(package_id, 'weight', newVal);
            $(this).closest('.primary-quantity').find("input.quntity-input").prev('label').hide();

            $button.closest('.primary-quantity').find("input.quntity-input").val(newVal);

        });

        $(document).on("click", ".btn-pq.weight.qty-minus", function (e) {
          e.preventDefault();
            var $button = $(this);
            var oldValue = $button.closest('.primary-quantity').find("input.quntity-input").val();


            if (oldValue > 1) {
                var newVal = parseFloat(oldValue) - 1;
                var formParent = $(this).parents('form');
                var package_id = formParent.find(".package_no").val();
                changeDimention(package_id, 'weight', newVal);
            } else {
                newVal = 1;
            }
            $button.closest('.primary-quantity').find("input.quntity-input").val(newVal);

        });



        $(document).on("change keyup", "#length", function (e) {
            e.preventDefault();
            var $button = $(this);
            var value = $button.closest('.primary-quantity').find("input#length").val();
            console.log(value);
            var formParent = $(this).parents('form');
            var package_id = formParent.find(".package_no").val();
            try{
                changeDimention(package_id, 'length', value);
            } catch(e){
                console.log(e);
            }


            var width = $(this).parents('form').find('#width').val();
            var height = $(this).parents('form').find('#height').val();
            var length = $(this).parents('form').find('#length').val();


            if(Math.round((parseFloat(value)*parseFloat(width)*parseFloat(height))/5000) === 0){
                formParent.find('#weight').val(1);
            } else{
                formParent.find('#weight').val(Math.round((parseFloat(value)*parseFloat(width)*parseFloat(height))/5000));
            }

//            changeDimention(package_id, 'weight', formParent.find('#weight').val());
        });

          $(document).on("change keyup", "#width", function (e) {
            e.preventDefault();
            var $button = $(this);
            var value = $button.closest('.primary-quantity').find("input#width").val();
            console.log(value);
            var formParent = $(this).parents('form');
            var package_id = formParent.find(".package_no").val();
            try{
                changeDimention(package_id, 'width', value);
            } catch(e){
                console.log(e);
            }

            var length = $(this).parents('form').find('#length').val();
            var height = $(this).parents('form').find('#height').val();
            var width = $(this).parents('form').find('#width').val();

            if(Math.round((parseFloat(length)*parseFloat(value)*parseFloat(height))/5000) === 0){
                formParent.find('#weight').val(1);
            } else{
                formParent.find('#weight').val(Math.round((parseFloat(length)*parseFloat(value)*parseFloat(height))/5000));
            }

//            changeDimention(package_id, 'weight', formParent.find('#weight').val());
        });

          $(document).on("change keyup", "#height", function (e) {
            e.preventDefault();
            var $button = $(this);
            var value = $button.closest('.primary-quantity').find("input#height").val();
            console.log(value);
            var formParent = $(this).parents('form');
            var package_id = formParent.find(".package_no").val();
            try{
                changeDimention(package_id, 'height', value);
            } catch(e){
                console.log(e);
            }



            var width = $(this).parents('form').find('#width').val();
            var length = $(this).parents('form').find('#length').val();
            var height = $(this).parents('form').find('#height').val();

            if(Math.round((parseFloat(length)*parseFloat(width)*parseFloat(value))/5000) === 0 || ((parseFloat(length)*parseFloat(width)*parseFloat(value))/5000) === undefined){
                formParent.find('#weight').val(1);
            } else {
                formParent.find('#weight').val(Math.round((parseFloat(length)*parseFloat(width)*parseFloat(value))/5000));
            }
//            changeDimention(package_id, 'weight', formParent.find('#weight').val());
        });


        $(document).on("change", "#weight", function (e) {
            e.preventDefault();
            var $button = $(this);
            var value = $button.closest('.primary-quantity').find("input.quntity-input").val();
            var formParent = $(this).parents('form');
            var package_id = formParent.find(".package_no").val();
            changeDimention(package_id, 'weight', value);
        });


        $(document).on("change", "#quantity", function (e) {
            e.preventDefault();
            var $button = $(this);
            var value = $button.closest('.me-quantity').find("input.quntity-input").val();
            var formParent = $(this).parents('form');
            var package_id = formParent.find(".package_no").val();
            changeQuantity(package_id, value);
        });





      });
    });
    $(function() {
        $(document).on('change', '.package', function () {
            var package = $(this).find(':selected').text();
            var divParent = $(this).parents('.package-card');
            if (package == "Custom") {
                divParent.find(".pk-custom-weight").removeClass('hide');
                console.log('works');
            } else {
                $(this).prev('label').show();
                divParent.find(".pk-custom-weight").addClass('hide');
            }
            $(this).prev('label').hide();
        });
    });

      $(document).ready($('.package').each(function(i, obj) {
          var package = $(this).find(':selected').text();
            var divParent = $(this).parents('.package-card');
            if (package == "Custom") {
                divParent.find(".pk-custom-weight").removeClass('hide');
                console.log('works');
            } else {
                $(this).prev('label').show();
                divParent.find(".pk-custom-weight").addClass('hide');
            }
            $(this).prev('label').hide();
        })
      );



  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>
  {% endblock %}

