{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page -->
<div ng-app="myApp">
<div ng-controller="myCtrl">
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Book a Courier</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xlg-12 col-md-12">
          <div class="panel panel-bordered panel-base panel-balsal">
            <div class="panel-heading">
              <h3 class="panel-title fs-24 uppercase clearfix">Step 1. <span class="pt-span">Collection and Delivery Information</span>
              <a class="pull-right" style="font-size: 12px; color: #c01b28; font-weight: normal; text-decoration: underline; text-transform: capitalize;" href="/service/batch_order/">Batch Order</a>
              </h3>
            </div>
            <div class="panel-body">
            <span class="alert-danger">{{ error }}</span>
              <form id='deleveryBookingOne' method="post" action="" class="form-horizontal">
              {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="well well-enq" data-match-height="well-box-a">
                        <h4 class="well-title">collection INFORMATION</h4>
                        <div class="form-group input-brick">
                          <div class="col-sm-12">
                            <div class="{% if collectionAddress == None %} has-need need-validation {% else %} remove-need {% endif %} search-address" >
                              <input id="collectionAddress"  name='collection_address' type="text" class="form-control input-lg"
                                     value="{{ collectionAddress }}" placeholder="Address *">
                            </div>
                          </div>

                        </div>
                        <div class="form-group input-brick">
                          <div class="col-sm-12">
                            <div class="remove-need">
                              <input id="collectionUnitNumber"  name='collection_unit_number' value="{{ collectionUnitNumber }}" type="text" class="form-control input-lg" placeholder="Unit Number *">
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick">
                          <div class="col-sm-12">
                            <div class="remove-need" >
                              <input value="{{ collectionBuilding }}" placeholder="Building Name" id="collectionBuilding"  name='collection_building' type="text" class="form-control input-lg">
                            </div>
                          </div>
                        </div>


                        <div class="form-group input-brick">
                          <div class="col-sm-12">
                            <div class="{% if collectionName == None %} has-need need-validation {% else%}remove-need{% endif %}">
                              <!--<label for="collection_name">Name <span>*</span></label>-->
                              <input value="{{ collectionName }}" name='collection_name' type="text" class="form-control input-lg" placeholder="Name *">
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick">
                          <div class="col-sm-12">
                            <div class="{% if collectionContactNumber == None %} has-need need-validation {% else%}remove-need{% endif %}">
                                <!--<label for="collection_contact_number">Contact Number <span>*</span></label>-->
                                {% if collectionContactNumber %}
                                <input  value="{{ collectionContactNumber }}" name='collection_contact_number' type="text" class="form-control input-lg">
                                {% else %}
                                <input  value="+65" name='collection_contact_number' type="text" class="form-control input-lg" placeholder="Contact Number">
                                {% endif %}
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick">
                          <div class="col-sm-12">
                            <textarea name='collection-remarks' class="form-control" placeholder="Remarks">{{ collectionRemarks }}</textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="well well-enq" data-match-height="well-box-a">
                        <h4 class="well-title">DELIVERY INFORMATION</h4>
                        <div class="form-group input-brick">
                          <div class="col-sm-12">
                            <div class="{% if deliveryAddress == None %} has-need need-validation {% else%}remove-need{% endif %} search-address">
                              <!--<label for="delivery_address">Delivery Address <span>*</span></label>-->
                              <input id="deliveryAddress" value="{{ deliveryAddress }}" name='delivery_address' type="text"
                                     value="{{ deliveryAddress }}" class="form-control input-lg"  placeholder="Address *">
                            </div>
                          </div>

                        </div>

                        <div class="form-group input-brick">
                          <div class="col-sm-12">
                            <div class="remove-need">
                              <input id="deliveryUnitNumber"  name='delivery_unit_number' value="{{ deliveryUnitNumber }}" type="text" class="form-control input-lg" placeholder="Unit Number *">
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick">
                          <div class="col-sm-12">
                            <div class="remove-need" >
                               <input value="{{ deliveryBuilding }}" id="deliveryBuilding"  name='delivery_building' type="text" placeholder="Building Name" class="form-control input-lg">
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick">
                          <div class="col-sm-12">
                            <div class="{% if deliveryName == None %} has-need need-validation {% else%}remove-need{% endif %}">
                              <!--<label for="delivery_name">Name <span>*</span></label>-->
                              <input value="{{ deliveryName }}" name='delivery_name' type="text" class="form-control input-lg" placeholder="Name *">
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick">
                          <div class="col-sm-12">
                            <div class="{% if deliveryContactNumber == None %} has-need need-validation {% else%}remove-need{% endif %}">
                                <!--<label for="delivery_contact_number">Contact Number <span>*</span></label>-->
                                {% if deliveryContactNumber %}
                                <input value="{{ deliveryContactNumber }}" name='delivery_contact_number' type="text" class="form-control input-lg" placeholder="Contact Number *">
                                {% else %}
                                <input value="+65" name='delivery_contact_number' type="text" class="form-control input-lg">
                                {% endif %}
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick">
                          <div class="col-sm-12">
                            <textarea name='delivery-remarks' class="form-control" placeholder="Remarks">{{ deliveryRemarks }}</textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 text-right btn-step-group">
                        <button type="submit" name="submitButton"  class="btn btn-secondary gotham semi fs-15 btn-step btn-lg uppercase btn-balsal">Next step</button>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
  </div>
</div>

<div class="modal fade modal-cab-details" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="modal-header text-center">
            <h3 class="title fs-24 uppercase color-primary">Invalid!</h3>

          </div>
          <div>
          <div class="modal-body text-center">
            <p>Check if you put building number and address both. If you put both then they could be invalid!!</p>
          </div>
          <div class="modal-footer text-right">
            <button type="submit" class="btn btn-secondary gotham normal uppercase fs-15 btn-afix" data-dismiss="modal">OK</button>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  <script src="https://maps.googleapis.com/maps/api/js?amp&key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&libraries=places"></script>

<script type="text/javascript" src="{% static 'base/js/formValidation.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/framework/bootstrap.js' %}"></script>

<script type="text/javascript">
      var map;
      window.initMap= function () {
        var pickup_form = document.getElementById('collectionAddress');
        var deliver_to = document.getElementById('deliveryAddress');
        var options = {
            // types: ['regions'],
            componentRestrictions: {country: 'SG'}
        };

        var autocomplete1 = new google.maps.places.Autocomplete(pickup_form, options);
        var autocomplete2 = new google.maps.places.Autocomplete(deliver_to, options);
      }
      initMap();
</script>

    <script type="text/javascript">
        $(document).ready(function() {
            var Validator = $('#deleveryBookingOne').formValidation({
                    framework: 'bootstrap',
                  icon: {
                      valid: 'glyphicon glyphicon-ok',
                      invalid: 'glyphicon glyphicon-remove',
                      validating: 'glyphicon glyphicon-refresh'
                  },
                  err: {
                      // You can set it to popover
                      // The message then will be shown in Bootstrap popover
                      container: 'tooltip'
                  },
                    fields: {
                        collection_address: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Collection address is required'
                                }
                            }
                        },
                        collection_unit_number: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Collection unit number is required'
                                }
                            }
                        },
                        collection_name: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Name is required'
                                }
                            }
                        },
                        collection_contact_number : {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Collection contact number is required'
                                },
                                regexp: {
                                    regexp: '(^\\+65)[0-9]{8}$',
                                    message: 'The value is not a valid phone number'
                                }
                            }
                        },
                        delivery_address : {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Delivery address is required'
                                }
                            }
                        },
                        delivery_unit_number : {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Delivery unit number is required'
                                }
                            }
                        },
                        delivery_name : {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Delivery name is required'
                                }
                            }
                        },
                        delivery_contact_number : {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Delivery contact number is required'
                                },
                                regexp: {
                                    regexp: '(^\\+65)[0-9]{8}$',
                                    message: 'The value is not a valid phone number'
                                }
                            }
                        },
                                 
                    }
                });
        });
 
</script>
  <script>
    $(document).ready(function(){
      $('.nav-dash-list li').each(function() {
          var dataActImg = $(this).find('img').attr('data-active-img');
          var dataInactImg = $(this).find('img').attr('src');
          if ($(this).hasClass('active')) {
              $(this).find('img').attr('src', dataActImg);
          } else {
              $(this).find('img').attr('src', dataInactImg);
          }
      });

      $(function() {
          $(".has-need label + .form-control").keyup(function() {
              if($(this).val().length) {
                  $(this).prev('label').hide();
              } else {
                  $(this).prev('label').show();
              }
          });


          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });
    });
  </script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
  var app = angular.module('myApp', []);
  app.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
  })
.controller('myCtrl', function($scope,  $http, $timeout) {
  angular.element(document).ready(function () {
  
    $scope.pickupAddress = "";
    $scope.dropOffAddess = "";
   $scope.getAddressFromPostalCode = function(){
      if(!isNaN($scope.pickupAddress)){
         $http.get('/apis/get_address/'+$scope.pickupAddress+'/')
          .success(function(data, status, headers, config) {
            if (0 < data.length) {
              $scope.pickupPostalCode = $scope.pickupAddress;
              $scope.pickupAddress = data[0].bldg_no +" "+ data[0].street_name + ", SINGAPORE";
            } else {
              alert("No address found.")
            }
        });
      } else {
        alert("Please enter valide postalcode.")
      }
      
   }
     $scope.getAddressFromPostalCodeDelevery = function(){
      if(!isNaN($scope.dropOffAddess)){
         $http.get('/apis/get_address/'+$scope.dropOffAddess+'/')
          .success(function(data, status, headers, config) {
            if (0 < data.length) {
              $scope.deliveryPostalCode = $scope.dropOffAddess;
              $scope.dropOffAddess = data[0].bldg_no +" "+ data[0].street_name + ", SINGAPORE";
            } else {
              alert("No address found.")
            }
        });
      }else {
        alert("Please enter valid postalcode.")
      }
      
   }
});
});

  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>

  {% endblock %}
