{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Payment</h1>
        </div>
      </div>
      <div class="view-bookings">
        <div class="panel panel-bordered panel-base fs-15">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 col-lg-5">
                  <!-- {% if messages %} -->
                        {% for message in messages %}
                        <span {% if message.tags %} class="{% if message.tags == 'error' %}alert-danger{% endif %}"{% endif %}>{{ message }}</span>
                        {% endfor %}
                    <!-- {% endif %} -->
                    <form method="post" action="" class="form-horizontal" id="payment-form">
                    {% csrf_token %}
                      <div class="well well-enq">
                        <h4>ADDED CARDS</h4>
                        <p>
                        <select class="form-control input-lg val addedCard" name="addedCard">
                              <option value="">SELECT</option>
                            {% for card in cards %}
                              <option value="{{card.id}}">..............{{ card.last_digits }}</option>
                            {% endfor %}
                        </select>
                        </p>
                        <h4 class="well-title">NEW CARD INFORMATION</h4>
                        <div class="form-group input-brick need-validation">
                          <div class="col-sm-12">
                            <div class="has-need">
                              <label for="">Name on Card <span>*</span></label>
                              <input name="name" type="text" class="form-control input-lg val" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick need-validation">
                          <div class="col-sm-12">
                            <div class="has-need">
                              <label for="">Card Number <span>*</span></label>
                              <input name="card_no" type="text" class="form-control input-lg" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick ">
                          <div class="col-sm-12 col-xlg-6 mb-5">
                            <div class="has-need need-validation">
                                <label for="">Exp Date(MM/YY)<span>*</span></label>
                                <input name="expiry_date" type="text" class="form-control input-lg" required="true">
                            </div>
                          </div>
                          <div class="col-sm-12 col-xlg-6">
                            <div class="has-need need-validation">
                                <label for="">CVV <span>*</span></label>
                                <input name="cvv" type="text" class="form-control input-lg" required="true">
                            </div>
                          </div>
                        </div>
                        <div class="form-group input-brick mb-0">
                          <div class="col-sm-12 text-right">
                            <button  type="submit" name="submitButton" class=" btn btn-secondary btn-afix gotham normal fs-12 uppercase">Pay Now</button>
                          </div>
                        </div>

                      </div>
                  </form>
                </div>
                <div class="col-md-6 col-lg-offset-5 col-lg-offset-1 col-xlg-4 col-xlg-offset-1">
                  <h4 class="mb-35">PAYMENT INFORMATION</h4>
                  {% if courier %}
                    <p>Booking Type : {{ booking_type }}<br>
                        Job ID : {{ courier.id }} <br>
                        Total Amount : {{ courier.total_cost }} <br>
                        Amount after discount : {{ discount }}
                    </p>
                  {% else %}
                    <p>Booking Type : {{ booking_type }}<br>
                        Job ID : {{ job.id }} <br>
                        Cancellation fees : {{ cancellation_fees }}
                    </p>
                  {% endif %}

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->

{% endblock %}
{% block extrajs %}
<script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
 <script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
  
      //  var dateToday = new Date();
      // $('[name="expiry_date"]').datetimepicker({
      //     format: 'MM YYYY',
      // });
</script>

  <script type="text/javascript" src="{% static 'base/js/formValidation.js' %}"></script>
  <script type="text/javascript" src="{% static 'base/js/framework/bootstrap.js' %}"></script>
  <script>
    $(document).ready(function(){
      $(function() {
          $(".has-need label + .form-control").keyup(function() {
              if($(this).val().length) {
                  $(this).prev('label').hide();
              } else {
                  $(this).prev('label').show();
              }
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });
    });

    $(document).ready(function() {
        $('#payment-form').formValidation({
              framework: 'bootstrap',
              icon: {
                  valid: 'glyphicon glyphicon-ok',
                  invalid: 'glyphicon glyphicon-remove',
                  validating: 'glyphicon glyphicon-refresh'
              },
              err: {
                  // You can set it to popover
                  // The message then will be shown in Bootstrap popover
                  container: 'tooltip'
              },
                fields: {
                    name: {
                        row: '',
                        validators: {
                            notEmpty: {
                                message: 'Name is required'
                            }
                        }
                    },
                    card_no: {
                        row: '',
                        validators: {
                            notEmpty: {
                                message: 'Card no is required'
                            },
                            creditCard: {
                                message: 'The credit card number is not valid'
                            }
                        }
                    },
                    cvv: {
                        row: '',
                        validators: {
                            notEmpty: {
                                message: 'CVV is required'
                            },
                            cvv: {
                                creditCardField: 'card_no',
                                message: 'The CVV number is not valid'
                            }
                        }
                    },
                    expiry_date: {
                        row: '',
                        validators: {
                            notEmpty: {
                                message: 'Expiry Date is required'
                            },
                            regexp: {
                                regexp: '^(0[1-9]|1[0-2])/[0-9]{2}$',
                                message: 'Must be in MM/YYYY format'
                            }
                        }
                    },

                }
            });
       // $('#payment-form').formValidation('enableFieldValidators', 'card_no', false);
       $('.addedCard').change(function(){
          if(this.value == ''){
            $('#payment-form').formValidation('enableFieldValidators', 'name', true);
            $('#payment-form').formValidation('enableFieldValidators', 'card_no', true);
            $('#payment-form').formValidation('enableFieldValidators', 'cvv', true);
            $('#payment-form').formValidation('enableFieldValidators', 'expiry_date', true);
            $("input[type='text']").prop('disabled', false);
            $("input[type='text']").parent('div').addClass("has-need");
          } else {
            $('#payment-form').formValidation('enableFieldValidators', 'name', false);
            $('#payment-form').formValidation('enableFieldValidators', 'card_no', false);
            $('#payment-form').formValidation('enableFieldValidators', 'cvv', false);
            $('#payment-form').formValidation('enableFieldValidators', 'expiry_date', false);
            $("input[type='text']").prop('disabled', true);
            $("input[type='text']").parent('div').removeClass("has-need");
          }
       });
    });

  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
{% block extracss %}
 <link rel="stylesheet" href="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}