{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}
{% block extracss %}
<style type="text/css">
  .page-content-disable {
    position: relative;
  }
  .page-content-disable:after {
    content: "This service will be available soon";
    color: #fff;
    font-size: 40px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1400;
  }
</style>
{% endblock %}
{% block content %}
<!-- Page -->
<div ng-app="myApp">
<div ng-controller="myCtrl">
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid page-content-disable">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Book a Ride</h1>
          </div>
<!--           <div class="col-lg-8 col-lg-offset-2">
              <ul class="nav nav-dash-list">
                <li>
                  <a href="/service/courier_booking_one/">
                    <img src="{% static 'dashboard/assets/images/icons/sm/1.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/1-active.png' %}" alt="Courier Service"> 
                    <span class="nd-title">Courier Service</span>
                  </a>
                </li>
                <li class="active">
                  <a href="/service/passengerPickup/">
                    <img src="{% static 'dashboard/assets/images/icons/sm/2.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/2-active.png' %}" alt="Passenger Pickup"> 
                    <span class="nd-title">Passenger Pickup</span>
                  </a>
                </li>
              </ul>
          </div> -->
      </div>
    <!--   <div class="white-stroke"></div> -->
      <div class="panel-passenger">
        <div class="row row-papi">
          <div class="col-md-6 col-lg-6 col-xlg-4">
            <div class="papi-content">
              <h4 class="uppercase mb-20 mt-0">ENTER BOOKING DETAILS</h4>
              {% if error %}<p class="text-danger">{{ error }}</p>{% endif %}
              <form method='post' action="" class="form-horizontal" ng-submit='submitForBooking($event)'>
              <input type="hidden" ng-value='base_fare' name="base_fare">
              <input type="hidden" ng-value='rate' name="rate">
                <div class="form-group mb-25">
                  <div class="col-sm-12">
                    <div class="input-group addon-styled">
                      <span class="input-group-addon" id="addon__1">Pickup</span>
                      <input ng-autocomplete options="options" name='pickupAddress' ng-model="pickupAddress" type="text" class="form-control" placeholder="Address or Postal Code" aria-describedby="addon__1">
                    </div>
                    <div class="input-group addon-styled">
                      <span class="input-group-addon" id="addon__2">Dropoff</span>
                      <input ng-autocomplete options="options" name='dropOffAddess' ng-model="dropOffAddess" type="text" class="form-control" placeholder="Address or Postal Code" aria-describedby="addon__2">
                    </div>
<!--                   <a href="#" class="fs-12" ng-click="getAddressFromPostalCode()" style="text-decoration: underline;">Get address</a> -->
                  </div>
                  <div class="col-sm-12">
                    <div class="input-group addon-styled mt-15">
                      <span class="input-group-addon" id="addon__1">Coupon</span>
                      <input options="options" name='coupon_code' type="text" class="form-control" placeholder="" aria-describedby="addon__1">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <textarea name='noteForDriver' rows="3" class="form-control" placeholder="Notes for Driver"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <h4 class="uppercase">PICKUP VEHICLE</h4>
                    <div class="btn-group vehicle-list" data-toggle="buttons">
                    {% for vehicle in vehicles %}
                      <label class="btn vehicle-item" ng-click="setCaretype({{ vehicle.id }})" data-toggle="modal" data-target="#cabModal">
                        <input type="radio" type="radio" name='vehicleType' value='{{ vehicle.id }}'>
                        <div class="vehicle">
                          <div class="vehicle-image">
                            <img src="{{ vehicle.pic.url }}" data-active-img="{{ vehicle.pic_active.url }}" data-inactive-img="{{ vehicle.pic.url }}" alt="{{ vehicle.caption }}">
                          </div>
                          <span class="vr-title">{{ vehicle.caption }}</span>
                        </div>
                      </label>
                    {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="form-group mt-120 mb-0">
                  <div class="col-xlg-6 col-sm-6 col-xs-6 col-xxs-12 text-right xxs-text-center">
                    <button type='submit'  class="btn btn-secondary big gotham normal uppercase fs-15 btn-afix mb-5">Book</button>
                  </div>
                </div>                                
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xlg-8">
            <div id="map-canvas" class="google-maps"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <!-- Core  -->


  <div class="modal fade modal-cab-details" id="cabModal" tabindex="-1" role="dialog" aria-labelledby="cabModalLabel">
    <div class="modal-dialog modal-center" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="modal-cab">
          <img src="{$ head_image $}" alt="...">
        </div>
        <div class="modal-header text-center">
          <h3 class="title fs-24 uppercase color-primary">{$ cabname $}</h3>
          <p>{$ description $}</p>
        </div>
        <div class="modal-body no-padd">
          <table class="table table-striped table-cab-details mb-0">
            <tbody>
              <tr>
                <td><span class="title">Base Fare:</span></td>
                <td><span class="text">${$ base_fare $}</span></td>
              </tr>
              <tr>
                <td><span class="title">Per KM rate:</span></td>
                <td><span class="text">${$ rate $}</span></td>
              </tr>
              <tr>
                <td><span class="title">Approximate cost:</span></td>
                <td><span class="text">${$ appx_cost $}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer text-center">
          <p>Prices are subject to change without notice, based on demand-supply ratio in the area.</p>
          <button type="submit" data-dismiss="modal" class="btn btn-secondary big gotham normal uppercase fs-15 mt-30">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<!--   <script src="{% static 'dashboard/global/vendor/switchery/switchery.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/intro-js/intro.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/skycons/skycons.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-js/chartist.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/aspieprogress/jquery-asPieProgress.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/jquery.jvectormap.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script> -->



   <script>
    $(document).ready(function(){
      $('.nav-dash-list li').each(function() {
          var dataActImg = $(this).find('img').attr('data-active-img');
          var dataInactImg = $(this).find('img').attr('src');
          if ($(this).hasClass('active')) {
              $(this).find('img').attr('src', dataActImg);
          } else {
              $(this).find('img').attr('src', dataInactImg);
          }
      });

      function stateAcInactive() {
        $('.vehicle-list .vehicle-item').each(function() {
            var dataActImg = $(this).find('img').attr('data-active-img');
            var dataInactImg = $(this).find('img').attr('data-inactive-img');

            if ($(this).hasClass('active')) {
                $(this).find('img').attr('src', dataActImg);
            } else {
                $(this).find('img').attr('src', dataInactImg);
            }
        });
      }
      stateAcInactive();
      $(document).on('click', '.vehicle-list', function() {
          stateAcInactive();
      });


      $(function(){
        $('.go-next').click(function(e){
          $('.nav-steps > .active').next('li').find('a').trigger('click');
          e.preventDefault();
        });
        $('.go-prev').click(function(e){
          $('.nav-steps > .active').prev('li').find('a').trigger('click');
          e.preventDefault();
        });
      });


      $(function() {
          $(".has-need label + .form-control").keyup(function() {
              if($(this).val().length) {
                  $(this).prev('label').hide();
              } else {
                  $(this).prev('label').show();
              }
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });
    });
  </script>
    <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?amp&key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&libraries=places"></script>

<script type="text/javascript" src="{% static 'dashboard/assets/js/ngAutocomplete.js' %}"></script>
  <script type="text/javascript">
  var app = angular.module('myApp', ['ngAutocomplete']);
  app.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
  })
.controller('myCtrl', function($scope,  $http, $timeout) {
  angular.element(document).ready(function () {

    //settings for auto complete
    $scope.options = {
            // types: ('address'),
            country: 'sg'
        };
  
      // Inicializing google map
      var map;
      var markers = [];
      function initialize() {        
      var mapOptions = {
          zoom: 11,
          center: new google.maps.LatLng(1.3772034, 103.8419299)
//          center: new google.maps.LatLng(23.7938808, 90.4016019)
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
        
      }initialize();
      
      //clear marker
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
      // Set markers
      $scope.makeMarkers =function makeMarkers(data){
        console.log("marcer function called");
        setMapOnAll(null);
        for(var i in data){
          console.log("marcer function has data");
          if(data[i].is_active){
            var marker = new google.maps.Marker({
                map:map,
                position: new google.maps.LatLng(data[i].lat, data[i].lng),
                icon : "{% static 'dashboard/assets/images/car-marker.png' %}"
              });
             markers.push(marker);
          }
        }
      }

      // get drivers lication form server
      // Function to get the data
      $scope.getData = function(){
        $http.get('/apis/get_driver_location/')
          .success(function(data, status, headers, config) {

          // Your code here
          $scope.makeMarkers(data);
        });
      }
    // Function to replicate setInterval using $timeout service.
    $scope.intervalFunction = function(){
      $timeout(function() {
        $scope.getData();
        $scope.intervalFunction();
        console.log("test");
    }, 10000)
    };

    // Initial call for the driver location
    $scope.getData();
    // Kick off the interval
    $scope.intervalFunction();
    
  //get pricing details for the car
  $scope.careTye = null;
  $scope.head_image = "{% static 'dashboard/assets/images/vehicle/standard-white.png' %}";
  $scope.setCaretype = function (a){
      $scope.careTye = a;      
      $http.get('/apis/get_extimate_price/?type_id='+a+'&from_address='+$scope.pickupAddress+'&to_address='+$scope.dropOffAddess+'/')
          .success(function(data, status, headers, config) {
             $scope.cabname = data.vehicle_name
             $scope.description = data.vehicle_description
             $scope.base_fare = data.base_fare
             $scope.rate = data.rate
             $scope.appx_cost = data.total
             $scope.head_image = data.detail_picture
        });
   };
   $scope.getAddressFromPostalCode = function(){
      if(!isNaN($scope.pickupAddress) && $scope.pickupAddress != ""){
         $http.get('/apis/get_address/'+$scope.pickupAddress+'/')
          .success(function(data, status, headers, config) {
             if (0 < data.length) {
              $scope.pickupAddress = data[0].bldg_no +" "+ data[0].street_name + ", SINGAPORE";
            } else {
              alert("No address found with "+$scope.pickupAddress);
              $scope.pickupAddress = "";
            }
        });
      } else {
       // alert("Please enter a valide postalcode.")
      }
      if(!isNaN($scope.dropOffAddess) && $scope.dropOffAddess !=""){
         $http.get('/apis/get_address/'+$scope.dropOffAddess+'/')
          .success(function(data, status, headers, config) {
            if (0 < data.length) {
               $scope.dropOffAddess = data[0].bldg_no +" "+ data[0].street_name + ", SINGAPORE";
            } else {
              alert("No address found with "+$scope.dropOffAddess);
              $scope.dropOffAddess = "";
            }
        });
      } else {
      //  alert("Please enter a valide postalcode.")
      }
      
   }
   $scope.submitForBooking = function(e){
    if($scope.pickupAddress != null && $scope.dropOffAddess != null && $scope.careTye != null){
      // Submit the form
    } else{
    alert("Please fill the required filed.")
    e.preventDefault();
  }
   }
});
});

  </script>
{% endblock %}