{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page -->
<div ng-app="myApp">
<div ng-controller="myCtrl">
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Book a Ride</h1>
        </div>
<!--         <div class="col-lg-8 col-lg-offset-2">
            <ul class="nav nav-dash-list">
              <li>
                <a href="/service/courier_booking_one/">
                  <img src="{% static 'dashboard/assets/images/icons/sm/1.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/1-active.png' %}" alt="Courier Service"> 
                  <span class="nd-title">Courier Service</span>
                </a>
              </li>
              <li class="active">
                <a href="/service/passengerPickup/">
                  <img src="{% static 'dashboard/assets/images/icons/sm/2.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/2-active.png' %}" alt="Passenger Pickup"> 
                  <span class="nd-title">Passenger Pickup</span>
                </a>
              </li>
            </ul>
        </div> -->
      </div>


<!--       <div class="white-stroke"></div> -->
      <div class="panel-passenger">
        <div class="row row-papi">
          <div class="col-md-6 col-lg-6 col-xlg-4">
            <div class="papi-content">
              <h4 class="uppercase mb-20 mt-0 text-center">We found you a driver!</h4>
              

              <form action="" class="form-horizontal">
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="text-center">
                      {% if pickup.pickedup_by.profile_image %}
                      <div class="driver-image"><img class="img-circle" src="{{ pickup.pickedup_by.profile_image.url }}"></div>
                      {% else %}
                      <div class="driver-image"><img class="img-circle" src="{% static 'dashboard/assets/images/icons/sm/propic_holder.png' %}" alt="..."></div>
                      {% endif %}


                      <div class="fs-16 gotham book">{{ pickup.pickedup_by.name }}</div>
                 <!--      <div class="fs-16 gotham normal">SHD225C</div> -->
                      <input id="input-id" type="text" class="" value="{{ rating|floatformat:1 }}">
                      <span class="vic-type">{{ vehicle.caption }} </span><br/>
                      <span class="vic-type">Contact No: {{ pickup.pickedup_by.mobile_no }}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-25">
                  <div class="col-sm-12">
                    <div class="input-group addon-styled">
                      <span class="input-group-addon" id="addon__1">Pickup</span>
                      <input type="text" class="form-control" value="{{ pickup.pickup_address }}" placeholder="" aria-describedby="addon__1">
                    </div>
                    <div class="input-group addon-styled">
                      <span class="input-group-addon" id="addon__2">Dropoff</span>
                      <input type="text" class="form-control" value="{{ pickup.dropoff_address }}" placeholder="" aria-describedby="addon__2">
                    </div>
             <!--        <div class="input-group addon-styled addon-auto">
                      <span class="input-group-addon fs-15 mon-lighter" id="addon__3">Fare</span>
                      <input type="text" class="form-control h40" value="$ {{ est_cost }}" placeholder="" aria-describedby="addon__3" readonly>
                    </div> -->
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <p>Standard booking conditions apply. TQ.</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                    <button type="button" class="btn btn-gray big gotham normal uppercase fs-15 btn-block" data-toggle="modal" data-target="#bookCancel">CANCEL BOOKING</button>
                  </div>
                </div>
                                
              </form>

            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xlg-8">
            <div id="map-canvas" class="google-maps"></div>
          </div>
        </div>

        <div class="modal fade modal-cab-details modal-mid" id="bookCancel" tabindex="-1" role="dialog" aria-labelledby="bookCancelLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
              <div class="modal-header text-center">
                  <h3 class="title fs-24 uppercase color-primary">Are you sure?</h3>
                  <p>Please tell us your reason for cancelling this job:</p>
                </div>
                <div class="modal-body">
                  <form method="POST" action="">
                    {% csrf_token %}
                    <div class="btn-group booking-cancel-group clearfix" data-toggle="buttons">
                      <label class="btn bcan-item ">
                        <input type="radio" name="cancel-radio" autocomplete="off" value="I found another travel option">
                        <span class="bc-image"><img src="{% static 'dashboard/assets/images/bookings/1.png' %}" alt="..." data-inactive-img="assets/images/bookings/1.png" data-active-img="assets/images/bookings/1-active.png"></span>
                        <span class="title">I found another travel option</span>
                      </label>
                      <label class="btn bcan-item">
                        <input type="radio" name="cancel-radio" autocomplete="off" value="Driver too far away">
                        <span class="bc-image"><img src="{% static 'dashboard/assets/images/bookings/2.png' %}" alt="..." data-inactive-img="assets/images/bookings/2.png" data-active-img="assets/images/bookings/2-active.png"></span>
                        <span class="title">Driver too far away</span>
                      </label>
                      <label class="btn bcan-item">
                        <input type="radio" name="cancel-radio" autocomplete="off" value="I entered wrong location">
                        <span class="bc-image"><img src="{% static 'dashboard/assets/images/bookings/3.png' %}" alt="..." data-inactive-img="assets/images/bookings/3.png" data-active-img="assets/images/bookings/3-active.png"></span>
                        <span class="title">I entered wrong location</span>
                      </label>
                      <label class="btn bcan-item">
                        <input type="radio" name="cancel-radio" autocomplete="off" value="I waited for too long.">
                        <span class="bc-image"><img src="{% static 'dashboard/assets/images/bookings/4.png' %}" alt="..." data-inactive-img="assets/images/bookings/4.png" data-active-img="assets/images/bookings/4-active.png"></span>
                        <span class="title">I waited for too long</span>
                      </label>
                      <label class="btn bcan-item">
                        <input type="radio" name="cancel-radio" autocomplete="off" value="Driver asked to cancel">
                        <span class="bc-image"><img src="{% static 'dashboard/assets/images/bookings/5.png' %}" alt="..." data-inactive-img="assets/images/bookings/5.png" data-active-img="assets/images/bookings/5-active.png"></span>
                        <span class="title">Driver asked to cancel</span>
                      </label>
                      <label class="btn bcan-item">
                        <input type="radio" name="cancel-radio" autocomplete="off" value="Others">
                        <span class="bc-image"><img src="{% static 'dashboard/assets/images/bookings/6.png' %}" alt="..." data-inactive-img="assets/images/bookings/6.png" data-active-img="assets/images/bookings/6-active.png"></span>
                        <span class="title">Others</span>
                      </label>
                      <input type="hidden" name="pickup_id" value="{{pickup.id}}">
                    </div>
                    <textarea name="comments" rows="3" class="form-control" placeholder="Do you have any additional comments?"></textarea>

                    <div class="modal-footer text-right">
                      <button type="submit" class="btn btn-secondary big gotham normal uppercase fs-15 mt-10 mb-30 btn-afix">Submit</button>
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
  <script src="{% static 'dashboard/global/vendor/switchery/switchery.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/intro-js/intro.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/skycons/skycons.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-js/chartist.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/aspieprogress/jquery-asPieProgress.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/jquery.jvectormap.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>


<!-- Initialize google map -->
<script src="https://maps.googleapis.com/maps/api/js?amp&key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&libraries=places"></script>


   <script>
    $(document).ready(function(){
      $('.nav-dash-list li').each(function() {
          var dataActImg = $(this).find('img').attr('data-active-img');
          var dataInactImg = $(this).find('img').attr('src');
          if ($(this).hasClass('active')) {
              $(this).find('img').attr('src', dataActImg);
          } else {
              $(this).find('img').attr('src', dataInactImg);
          }
      });

      function stateAcInactive() {
        $('.vehicle-list .vehicle-item').each(function() {
            var dataActImg = $(this).find('img').attr('data-active-img');
            var dataInactImg = $(this).find('img').attr('data-inactive-img');

            if ($(this).hasClass('active')) {
                $(this).find('img').attr('src', dataActImg);
            } else {
                $(this).find('img').attr('src', dataInactImg);
            }
        });
      }
      stateAcInactive();
      $(document).on('click', '.vehicle-list', function() {
          stateAcInactive();
      });


      $(function(){
        $('.go-next').click(function(e){
          $('.nav-steps > .active').next('li').find('a').trigger('click');
          e.preventDefault();
        });
        $('.go-prev').click(function(e){
          $('.nav-steps > .active').prev('li').find('a').trigger('click');
          e.preventDefault();
        });
      });


      $(function() {
          $(".has-need label + .form-control").keyup(function() {
              if($(this).val().length) {
                  $(this).prev('label').hide();
              } else {
                  $(this).prev('label').show();
              }
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });
    });
  </script>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<!-- Friebase -->
<script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

<script>
  $(function() {
  $('#input-id').rating({
      displayOnly: true,
      theme: 'krajee-fa',
      filledStar: '<i class="fa fa-star"></i>',
      emptyStar: '<i class="fa fa-star-o"></i>'

  });
  })
</script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAIwUiaaQrDebsJlTZGmuVxjKFW6filYGM",
    authDomain: "ufrealtime.firebaseapp.com",
    databaseURL: "https://ufrealtime.firebaseio.com",
    storageBucket: "",
    messagingSenderId: "380518443727"
  };
  firebase.initializeApp(config);
</script>
<script type="text/javascript">
  var app = angular.module('myApp', ["ngRoute", "firebase"]);
  app.config(function($interpolateProvider, $routeProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
  })
.controller('myCtrl', function($scope, $window, $http, $timeout) {
  
      // Inicializing google map
      var map;
      var markers = [];
      function initialize() {        
      var mapOptions = {
          zoom: 15,
          center: new google.maps.LatLng({{ pickup.pickup_address_lat }}, {{  pickup.pickup_address_lng  }})
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
        
      }initialize();
      
      //clear marker
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
         markers[i].setMap(map);
        }
      }

      var marker_pickup = new google.maps.Marker({
                map:map,
                position: new google.maps.LatLng({{ pickup.pickup_address_lat }},{{  pickup.pickup_address_lng  }}),
                // icon : "{% static 'dashboard/assets/images/car-marker.png' %}"
              });
             markers.push(marker_pickup);
      // Set markers
      $scope.makeMarkers =function makeMarkers(data){
        setMapOnAll(null);
          if(data.driver_lat!=null || data.driver_lng!=null){
            var marker_driver = new google.maps.Marker({
                map:map,
                position: new google.maps.LatLng(data.driver_lat, data.driver_lng),
                icon : "{% static 'dashboard/assets/images/car-marker.png' %}",
                title: data.time + ', ' + data.distance
              });
             markers.push(marker_driver);

        }
      }
      // Create Marke for customer Pickup location
       try {
            var pickup = new google.maps.Marker({
                map:map,
                position: new google.maps.LatLng({{ pickup.pickup_address_lat }}, {{ pickup.pickup_address_lng }}),
                title: "Pickup Location"
              });
        }
        catch(err) {
           print(err)
        }
      

      // get drivers lication form server
      // Function to get the data
      $scope.getData = function(){
        $http.get('/apis/get_distance_time/{{ pickup.id }}/')
          .success(function(data, status, headers, config) {

          // Your code here
          $scope.makeMarkers(data);
        });
      }

    $scope.getJobData = function(){
        $http.get('/apis/get_pickup_status/{{ pickup.id }}/')
          .success(function(data, status, headers, config) {

          // Your code here
          if(data.pickup_status == 'pickedup' || data.pickup_status == 'completed'){
            $window.location.href = '/customer/home/';
          } 
        });
      }
    // Function to replicate setInterval using $timeout service.
    $scope.intervalFunction = function(){
      $timeout(function() {
        $scope.getData();
        $scope.getJobData();
        $scope.intervalFunction();
    }, 10000)
    };

    $scope.cancelbutton = function(){
      $timeout(function() {
        // hide thecalncell button
    }, 30000)
    };

    // Initial call for the driver location
    $scope.getData();
    // Kick off the interval
    $scope.intervalFunction();
    $scope.cancelbutton();    
});
  </script>
{% endblock %}