/* @montserrat: 'Montserrat', sans-serif; */
.quicksand {
  font-family: 'Quicksand', sans-serif !important;
}
/* .montserrat { font-family: @montserrat !important; } */
.fw-light {
  font-weight: 300;
}
.fw-regular {
  font-weight: 400;
}
.fw-bold {
  font-weight: 700;
}
