{% extends "frontend/frontend_layout.html" %}
    {% load staticfiles %}
    {% block content %}

    <div class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 pages-heading text-center">
                    <h1 class="ph-title">
                        {% if about_page.title1 %}
                            {{ about_page.title1 }}
                        {% else %}
                            About Uncle Frank
                        {% endif %}

                    </h1>
                    <h2 class="ph-sub-title">{% if about_page.desc1 %}
                    {{ about_page.desc1|safe }}
                {% else %}
                    Uncle Frank is a platform to coordinate all of your deliveries - a single touch point for getting your new sofa, receiving a parcel or connecting your utilities. Used to seeing your cab en-route? Or your pizza being made and delivered? Get the same level of visibility for your major purchases. Now that you can see where your delivery is, Uncle Frank lets you use that information to free up your life. Set an alarm to let you know when you should leave to make it home in time.
                {% endif %}
                    </h2>
                </div>
            </div>
            <div class="row multiple-images">
                <div class="col-md-8">
                    <div class="mi-image large" style="background-image: url('{% if about_page.image1 %}{{ about_page.image1.url }}{% else %}{% static 'frontend/images/services/3.jpg' %}{% endif %}');"></div>
                </div>
                <div class="col-md-4">
                    <div class="mi-image" style="background-image: url('{% if about_page.image2 %}{{ about_page.image2.url }}{% else %}{% static 'frontend/images/services/2.jpg' %}{% endif %}');"></div>
                    <div class="mi-image" style="background-image: url('{% if about_page.image3 %}{{ about_page.image3.url }}{% else %}{% static 'frontend/images/services/1.jpg' %}{% endif %}');"></div>
                </div>
            </div>
            <div class="row flex-wrap collaborate-bar">
                <div class="quote col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="line-top"></div>
                    <q class="text-purple">
                    {% if about_page.comment %}
                        {{ about_page.comment }}
                    {% else %}
                        Singapore's Top Logistics Company 
                    {% endif %}
                    </q>
                    <cite class="text-uncle">
                    {% if about_page.comment_by %}
                        {{ about_page.comment_by }}
                    {% else %}
                        TOM HARARI,<br>CO-FOUNDER &amp; CEO
                    {% endif %}
        
                    </cite>
                </div>
                
                <div class="col-lg-6 col-lg-offset-1 col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12 main-text">
                    {% if about_page.comment_text %}
                        {{ about_page.comment_text|safe }}
                    {% else %}
                       <p>
                        Founded in 2013, Uncle Frank was created to connect drivers and customers through fast and efficient delivery. We aim to redefine the everyday logistics experience by providing a convenient and affordable service.
                        <br>
                        <br>
                        Through our groundbreaking mobile & desktop platform, Uncle Frank connects hundreds of thousands of customers with tens of thousands of professional motorcycle, van, lorry and truck drivers, effectively revolutionising the logistics industry.
                        <br>
                        <br>
                        Locally, Uncle Frank continues to grow rapidly, and our presence will soon encompass cities on a global scale.
                    </p>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>

    <section class="brick bg-primary-dark dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 brick-heading text-center">
                    <h2 class="bh-title">
                        {% if about_page.team_header %}
                                {{ about_page.team_header }}
                            {% else %}
                                Meet the Executive Team
                            {% endif %}
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        {% if about_page.team1_image %}
                            <img class="team-avater" src="{% if about_page.team1_image %}{{ about_page.team1_image.url }}{% else %}{% static 'frontend/images/avaters/2.jpg' %}{% endif %}" alt="...">
                        {% endif %}
                        <div class="team-caption">
                           <h5 class="name">
                           {% if about_page.team1_name %}
                                {{ about_page.team1_name }}
                            {% else %}
                                TOM HARARI
                            {% endif %}
                           </h5> 
                           <p>
                           {% if about_page.team1_desination %}
                                {{ about_page.team1_desination }}
                            {% else %}
                                Co-Founder & CEO
                            {% endif %}
                           </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        {% if about_page.team2_image %}
                            <img class="team-avater" src="{% if about_page.team2_image %}{{ about_page.team2_image.url }}{% else %}{% static 'frontend/images/avaters/3.jpg' %}{% endif %}" alt="...">
                        {% endif %}
                        <div class="team-caption">
                           <h5 class="name">
                           {% if about_page.team2_name %}
                                {{ about_page.team2_name }}
                            {% else %}
                                ITAY FORER
                            {% endif %}
                           </h5> 
                           <p>
                           {% if about_page.team2_desination %}
                                {{ about_page.team2_desination }}
                            {% else %}
                                Co-Founder & CEO
                            {% endif %}
                           </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        {% if about_page.team3_image %}
                            <img class="team-avater" src="{% if about_page.team3_image %}{{ about_page.team3_image.url }}{% else %}{% static 'frontend/images/avaters/12.jpg' %}{% endif %}" alt="...">
                        {% endif %}
                        <div class="team-caption">
                           <h5 class="name">
                           {% if about_page.team3_name %}
                                {{ about_page.team3_name }}
                            {% else %}
                                ALEX PROBER
                            {% endif %}
                           </h5> 
                           <p>
                            {% if about_page.team2_desination %}
                                {{ about_page.team2_desination }}
                            {% else %}
                                Co-Founder & CEO
                            {% endif %}
                           </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 pages-heading text-center mt-100">
                    <h1 class="ph-title">
                    {% if about_page.link_text %}
                        {{ about_page.link_text }}
                    {% else %}
                        WORK AT Unclefrank
                    {% endif %}
                    </h1>
                    <h2 class="ph-sub-title">
                    {% if about_page.link_desc %}
                        {{ about_page.link_desc }}
                    {% else %}
                        Looking for an opportunity to create great customer experiences and make people happy? We want to meet you. 
                    {% endif %}
                    </h2>
                    <a href="{% if about_page.link %}{{ about_page.link }}{% endif %}" class="mt-30 btn btn-secondary fs-13 fw-bold large uppercase stroked stk2 btn-afix">Become a Drive</a>
                </div>
            </div>
        </div>
    </section>

   
    <section class="section-apps">
        <div class="container text-center">
            <div class="dwn-app">
            {% if about_page.app_download_text %}
                {{ about_page.app_download_text }}
            {% else %}
                Get us on the go! Download the Uncle Frank app 
            {% endif %}
            <a class="app-btn" href=""><img alt="download" src="{% static 'frontend/images/btn-app-sm.png' %}"></a></div>
        </div>
    </section>
    {% endblock %}
    {% block extrajs %}

    {% endblock %}