{% extends "frontend/frontend_layout.html" %}
    {% load staticfiles %}
    {% block content %}
        

    <div class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 pages-heading text-center">
                    <h1 class="ph-title">
                    {% if contactus.title %}
                          {{ contactus.title }}
                    {% else %}
                         OUR LOCATIONS
                    {% endif %}
                    </h1>
                    <h2 class="ph-sub-title">
                    {% if contactus.desc %}
                          {{ contactus.desc|safe }}
                    {% else %}
                        Uncle Frank is a platform to coordinate all of your deliveries - a single touch point for getting your new sofa, receiving a parcel or connecting your utilities.
                    {% endif %}
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <img src="{% if contactus.location_image1 %}{{ contactus.location_image1.url }}{% else %}{% static 'frontend/images/city.png' %}{% endif %}" alt="..." class="img-responsive" width="">
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="loc-card">
                        <h3 class="lc-title">{% if contactus.location_title1 %}
                          {{ contactus.location_title1 }}
                        {% else %}
                             Singapore
                        {% endif %}</h3>
                        <span class="lc-state">{{ common.company_address }}</span>
                        <span class="lc-state">Tel: {{ common.company_phone_no }} <br>Fax: {{ common.company_fax_no }} <br>Email: {{ common.company_email }}</span>
                        <div class="mt-10"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div id="map-canvas" style="height: 350px; width: 100%" class="google-map mt-20">
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

    <section class="brick brick-subscription dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 brick-heading text-center">
                    <h2 class="bh-title">We just need a couple of details </h2>
                </div>
                <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 brick-heading text-center mb-0">
                    <form id="contact_us_form" method= 'POST' action="">
                    {% csrf_token %}
                        <div class="row notify-bar notify-contact">
                            <div class="col-sm-6 mb-15">
                                <p class="text-danger">{{ form.first_name.errors }}</p>
                                {{form.first_name}}
                            </div>
                            <div class="col-sm-6 mb-15">
                                <p class="text-danger">{{ form.last_name.errors }}</p>
                                {{form.last_name}}
                            </div>
                            <div class="col-sm-6 mb-15">
                                <p class="text-danger">{{ form.email_address.errors }}</p>
                                {{form.email_address}}
                            </div>
                            <div class="col-sm-6 mb-15">
                                <p class="text-danger">{{ form.country.errors }}</p>
                                {{form.company}}
                            </div>
                            <div class="col-sm-6 mb-15">
                                <p class="text-danger">{{ form.country.errors }}</p>
                                {{form.country}}
                            </div>
                            <div class="col-sm-6 mb-15">
                                <p class="text-danger">{{ form.phone.errors }}</p>
                                {{form.phone}}
                            </div>
                            <div class="col-sm-6 mb-15">
                                <p class="text-danger">{{ form.subjects.errors }}</p>
                                {{form.subjects}}
                            </div>
                            <div class="col-sm-6 mb-15">
                                <p class="text-danger">{{ form.track_id.errors }}</p>
                                {{form.track_id}}
                            </div>
                            <div class="col-sm-8 col-sm-offset-2 mb-15">
                                <p class="text-danger">{{ form.message.errors }}</p>
                                {{form.message}}
                            </div>

                            <div class="col-sm-4 col-sm-offset-4">
                                <button type="submit" class="btn stroked btn-block mt-20">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block extrajs %}
    <script type="text/javascript" src="{% static 'base/js/formValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/framework/bootstrap.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?amp&key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&libraries=places"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            function initialize() { 
                var myLatLng = {lat: {{ common.company_address_latitude }}, lng: {{ common.company_address_longitude }}};       
                  var mapOptions = {
                      zoom: 13,
                      center: new google.maps.LatLng({{ common.company_address_latitude }}, {{ common.company_address_longitude }})
                    };

                    map = new google.maps.Map(document.getElementById('map-canvas'),
                      mapOptions);
                    var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: "{{ common.company_address }}"
                    });

                            
                    
                  }initialize();
            $('#contact_us_form').formValidation({
              framework: 'bootstrap',
                  icon: {
                      valid: 'glyphicon glyphicon-ok',
                      invalid: 'glyphicon glyphicon-remove',
                      validating: 'glyphicon glyphicon-refresh'
                  },
                  err: {
                      // You can set it to popover
                      // The message then will be shown in Bootstrap popover
                      container: 'tooltip'
                  },
                    fields: {
                        first_name: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'First name is required'
                                }
                            }
                        },
                        last_name: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Last name is required'
                                }
                            }
                        },
                        email_address: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Email address is required'
                                },
                                emailAddress: {
                                    message: 'The value is not a valid email address'
                                },
                                regexp: {
                                    regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                                    message: 'The value is not a valid email address'
                                }
                            }
                        },

                        company: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Company is required'
                                }
                            }
                        },

                        country: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Country is required'
                                }
                            }
                        },
                        phone: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Phone number is required'
                                },
                                integer: {
                                    message: 'The value is not a Number'
                                }
                            }
                        },
                        message: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Message is required'
                                }
                            }
                        },
                        track_id: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Track ID is required'
                                }
                            }
                        },
                    }
                });
        });
    </script>
{% endblock %}