{% extends "frontend/frontend_layout.html" %}
    {% load staticfiles %}
    {% block content %}
    <div class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 pages-heading mt-100 mb-50 text-center">
                    <h1 class="ph-title">
                    {% if corporate_page.title1 %}
                        {{ corporate_page.title1 }}
                    {% else %}
                        PRICING, MADE SIMPLE
                    {% endif %}
                    </h1>
                    <h2 class="ph-sub-title">
                    {% if corporate_page.desc1 %}
                        {{ corporate_page.desc1|safe }}
                    {% else %}
                        No hidden fees. No confusing tiered pricing. What you see is what you get. 
                    {% endif %}
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <section class="brick bg-primary-dark dark brick-loc-prices">
        <div class="nav-tabbar">
            <div class="container">
                <ul class="nav nav-pills nav-pricing" role="tablist">
                    <li role="presentation" class="active"><a href="#corp__1" aria-controls="corp__1" role="tab" data-toggle="tab">
                    {% if corporate_page.first_tab_title %}
                        {{ corporate_page.first_tab_title }}
                    {% else %}
                        Business Partnership
                    {% endif %}
                    </a></li>
                    <li role="presentation"><a href="#corp__2" aria-controls="corp__2" role="tab" data-toggle="tab">
                    {% if corporate_page.second_tab_title %}
                        {{ corporate_page.second_tab_title }}
                    {% else %}
                        Investor
                    {% endif %}
                    </a></li>
                    <li role="presentation"><a href="#corp__3" aria-controls="corp__3" role="tab" data-toggle="tab">
                    {% if corporate_page.thrid_tab_title %}
                        {{ corporate_page.thrid_tab_title }}
                    {% else %}
                        API Integration
                    {% endif %}
                    </a></li>
                    <li role="presentation"><a href="#corp__4" aria-controls="corp__4" role="tab" data-toggle="tab">
                    {% if corporate_page.fourth_tab_title %}
                        {{ corporate_page.fourth_tab_title }}
                    {% else %}
                       Credit Scheme
                    {% endif %}
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="pricing-tables">
            <div class="container">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="corp__1">
                        <div class="row corp-content">
                            <div class="col-sm-8 col-sm-offset-2">
                                {% if corporate_page.first_tab_description %}
                                    {{ corporate_page.first_tab_description|safe }}
                                {% else %}
                                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus,
                                    nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                {% endif %}
                            </div>
                            <div class="col-sm-12">
                                <img src="{% if corporate_page.first_tab_image %}{{ corporate_page.first_tab_image.url }}{% else %}{% static 'frontend/images/partnership.png' %}{% endif %}" alt="" class="img-responsive center-block">
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="corp__2">
                        <div class="row corp-content">
                            <div class="col-sm-8 col-sm-offset-2">
                                {% if corporate_page.second_tab_description %}
                                    {{ corporate_page.second_tab_description|safe }}
                                {% else %}
                                    Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
                                    auctor. Cras mattis consectetur purus sit amet fermentum.
                                {% endif %}
                            </div>
                            <div class="col-sm-12">
                                <img src="{% if corporate_page.second_tab_image %}{{ corporate_page.second_tab_image.url }}{% else %}{% static 'frontend/images/partnership.png' %}{% endif %}" alt="" class="img-responsive center-block">
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="corp__3">
                        <div class="row corp-content">
                            <div class="col-sm-8 col-sm-offset-2">
                                {% if corporate_page.third_tab_description %}
                                    {{ corporate_page.third_tab_description|safe }}
                                {% else %}
                                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus,
                                    nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                {% endif %}
                            </div>
                            <div class="col-sm-12">
                                <img src="{% if corporate_page.third_tab_image %}{{ corporate_page.third_tab_image.url }}{% else %}{% static 'frontend/images/partnership.png' %}{% endif %}" alt="" class="img-responsive center-block">
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="corp__4">
                        <div class="row corp-content">
                            <div class="col-sm-8 col-sm-offset-2">
                            {% if corporate_page.fourth_tab_description %}
                                    {{ corporate_page.fourth_tab_description|safe }}
                                {% else %}
                                    <p>
                                    Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
                                    auctor. Cras mattis consectetur purus sit amet fermentum.
                                </p>
                                <p>
                                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl
                                </p>
                                {% endif %}
                                
                            </div>
                            <div class="col-sm-12">
                                <img src="{% if corporate_page.fourth_tab_image %}{{ corporate_page.fourth_tab_image.url }}{% else %}{% static 'frontend/images/partnership.png' %}{% endif %}" alt="" class="img-responsive center-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 pages-heading text-center mb-50 mt-0">
                    <h2 class="ph-sub-title fs-34">
                    {% if corporate_page.title2 %}
                        {{ corporate_page.title2 }}
                    {% else %}
                        Go from “delivery day” to “delivery done” in a matter of minutes.  
                    {% endif %}
                    </h2>
                </div>
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="row notify-bar bg-ligher">
                    <div class="col-sm-6 col-sm-offset-3">
                            <a href="/customer/register/" class="btn btn-secondary stroked fs-13 fw-bold btn-block">
                    {% if corporate_page.bottom_button_text %}
                        {{ corporate_page.bottom_button_text }}
                    {% else %}
                        PLACE AN ORDER ONLINE 
                    {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    {% endblock %}
