<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    {% block extrameta %}{% endblock %}
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Uncle Frank{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'frontend/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'frontend/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'frontend/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'frontend/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'frontend/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'frontend/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'frontend/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'frontend/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'frontend/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'frontend/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'frontend/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'frontend/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'frontend/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'frontend/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet"> 

    
    <link href="{% static 'frontend/plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!--   <script src="{% static 'frontend/plugins/pace.min.js' %}" type="text/javascript"></script> -->
    {% block extracss %}{% endblock %}


    {% block extraheaders %}{% endblock %}
</head>

<body>   
    {% block topnav %}                                 
    <nav class="navbar navbar-default navbar-base navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% if common.logo %}{{ common.logo.url }}{% else %}{% static 'frontend/images/logo.png' %}{% endif %}" alt="Uncle Frank">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav-main">
                    <li {% if about %}class="active"{% endif %}><a href="/page/about/">About</a></li>
                    <li {% if service %}class="active"{% endif %}><a href="/page/process/">Process</a></li>
                    <li {% if corporate %}class="active"{% endif %}><a href="/page/corporate/">Corporate</a></li>
                    <li {% if join_us_page %}class="active"{% endif %}><a href="/page/join_us/">Join Us</a></li>
                    <li {% if contact_us %}class="active"{% endif %}><a href="/page/contact_us/">Contact</a></li>
                    <li><a href="/customer/accounts/login/">Log in</a></li>
                    <li class="has-btn"><a class="btn btn-primary" href="/customer/register/">Sign Up</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="footer-topbar">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="foo-col text-center">
                            <img width="100" src="{% static 'frontend/images/logo-white.png' %}" alt="uncle frank">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="foo-col text-center">
                            <ul class="foo-socials-center">
                                <li><a href="{% if common.facebook_link %}{{ common.facebook_link }}{% endif %}" class="facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="{% if common.twitter_link %}{{ common.twitter_link }}{% endif %}" class="twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="{% if common.instagram_link %}{{ common.instagram_link }}{% endif %}" class="instagram"><i class="fa fa-instagram"></i> Instagram</a></li>
                                <li><a href="{% if common.youtube_link %}{{ common.youtube_link }}{% endif %}" class="youtube"><i class="fa fa-youtube-play"></i> Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="foo-col text-center">
                            <p class="app-text">Get us on the go! Download the Uncle Frank app</p>
                            <a href="{% if common.iso_app_download_link %}{{ common.iso_app_download_link }}{% endif %}"><img src="{% static 'frontend/images/btn-app-sm.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-foobar">
                <div class="row">
                    <div class="col-sm-7">
                        <ul class="list-inline nav-meta-foo">
                            <li><a href="/page/tnc/">Terms and Conditions</a></li>
                            <li><a href="/page/faq/">FAQ</a></li>
                            <li><a href="/page/privacy/">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-5 text-right-sml">
                        <span class="copy-info">&copy; 2016 Uncle Frank. All Rights Reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% block modals %}
      
    {% endblock %}


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'frontend/plugins/browserclass.js' %}"></script>
        <script src="{% static 'frontend/js/script.js' %}"></script>
    {% block extrajs %}{% endblock %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102637792-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
