{% extends "frontend/frontend_layout.html" %}
    {% load staticfiles %}
    {% block topnav %}
    <nav class="navbar navbar-default navbar-transparent navbar-base navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% if common.logo_white_color %}{{ common.logo_white_color.url }}{% else %}{% static 'frontend/images/logo-white.png' %}{% endif %}" alt="Uncle Frank">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav-main">
                    <li {% if about %}class="active"{% endif %}><a href="/page/about/">About</a></li>
                    <li {% if service %}class="active"{% endif %}><a href="/page/process/">Process</a></li>
                    <li {% if corporate %}class="active"{% endif %}><a href="/page/corporate/">Corporate</a></li>
                    <li {% if join_us_page %}class="active"{% endif %}><a href="/page/join_us/">Join Us</a></li>
                    <li {% if contact_us %}class="active"{% endif %}><a href="/page/contact_us/">Contact</a></li>
                    <li><a href="/customer/accounts/login/">Log in</a></li>
                    <li class="has-btn"><a class="btn btn-primary" href="/customer/register/">Sign Up</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    {% endblock %}
    {% block content %}
    <section class="brick brick-teaser-hero vmiddle" style="background-image: url('{% if home.banner %}{{ home.banner.url }}{% else %}{% static 'frontend/images/banner/1.jpg' %}{% endif %}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="teaser-content text-center">
                        <h2 class="teaser-title">
                            {% if home.banner_text %}
                                {{ home.banner_text }}
                            {% else %}
                                Delivery just got simpler
                            {% endif %}
                        </h2>
                        <p>
                            {% if home.banner_desc %}
                                {{ home.banner_desc }}
                            {% else %}
                                On demand, door to door delivery and transportation services.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="teaser-quote">
            <div class="container">
                <ul class="nav nav-quote-type" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#courier" aria-controls="courier" role="tab" data-toggle="tab">Courier</a>
                    </li>
                    <li role="presentation"><a href="#ride" aria-controls="ride" role="tab" data-toggle="tab">Ride</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="courier">
                        <form id='courier-form' action="">
                            <div class="row">
                                <div class="col-sm-9 col-md-10">
                                    <div class="quote-form clearfix">
                                        <div class="inicon left form-group-inline">
                                            <input name="currier_form" id="currier-form" type="text" class="form-control" placeholder="From" >
                                            <img src="{% static 'frontend/images/map-marker.png' %}" alt="...">
                                        </div>

                                        <div class="inicon left form-group-inline">
                                            <input name="currier_to" name="" id="currier-to" type="text" class="form-control" placeholder="To" >
                                            <img src="{% static 'frontend/images/map-marker.png' %}" alt="...">
                                        </div>
                                        <div class="inicon left form-group-inline">

                                            <select name="package" id="package" class="form-control select-styled">
                                                {% for obj in package %}
                                                    <option value="{{ obj.id }}">{{ obj.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <img src="{% static 'frontend/images/courier-marker.png' %}" alt="...">
                                     </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-2"><button class="btn btn-primary btn-get-quote unstroke uppercase btn-block mt-xs-10">GET A QUOTE</button></div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="ride">
                        <form id='pickup-form' action="">
                            <div class="row">
                                <div class="col-sm-9 col-md-10">
                                    <div class="quote-form clearfix">
                                        <div class="inicon left form-group-inline">
                                            <input id="from_address" name="pickup_from" type="text" class="form-control" placeholder="Enter a Pick-up point">
                                            <img src="{% static 'frontend/images/map-marker.png' %}" alt="..">
                                        </div>
                                        
                                        <div class="inicon left form-group-inline">
                                            <input id="to_address" name="pickup_to" type="text" class="form-control" placeholder="Enter a Drop-off point" >
                                            <img src="{% static 'frontend/images/map-marker.png' %}" alt="..">
                                        </div>
                                        <div class="inicon left form-group-inline">
                                            <select id="vehicle" class="form-control select-styled">
                                                {% for obj in vehicle %}
                                                    <option value="{{ obj.id }}">{{ obj.caption }}</option>
                                                {% endfor %}
                                            </select>
                                            <img src="{% static 'frontend/images/ride-maker.png' %}" alt="..">
                                        </div>
                                    </div>
                                </div>
                                <div onclick="" class="col-sm-3 col-md-2"><button class="btn btn-primary btn-get-quote unstroke uppercase btn-block mt-xs-10">GET A QUOTE</button></div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="brick brick-app">

        <div class="container">
            <div class="brick-heading text-center">
                <h2 class="bh-title">
                 {% if home.slider_title %}
                        {{ home.slider_title }}
                    {% else %}
                        How It Works
                    {% endif %} 
                </h2>
                <ul class="nav nav-app-steps" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#app__courier" aria-controls="app__courier" role="tab" data-toggle="tab"><img src="{% if home.slider_icon_courier %}{{ home.slider_icon_courier.url }}{% else %}{% static 'frontend/images/step/courier.png' %}{% endif %}" alt="courier"><span>Courier</span></a>
                    </li>
                    <li role="presentation">
                        <a href="#app__ride" aria-controls="app__ride" role="tab" data-toggle="tab"><img src="{% if home.slider_icon_ride %}{{ home.slider_icon_ride.url }}{% else %}{% static 'frontend/images/step/ride.png' %}{% endif %}" alt="courier"><span>Ride</span></a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="app__courier">
                    <div class="carousel carousel--mobileview carousel-fade slide clearfix" data-ride="carousel" id="carousel-setps">
                        <div class="row app-slider-holder">
                            <div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
                                <ol id="" class="app-slider-list carousel-indicators steps--4 clearfix">
                                {% for slide in courier_sliders %}
                                    <li class="list-item {% if forloop.counter == 1  %}active{% endif %}" data-slide-to="{{ forloop.counter|add:-1 }}" data-target="#carousel-setps" data-step="1">
                                        <div class="li-step">{{ forloop.counter }}</div>
                                        <div class="list-denote">
                                            <h4>{{ slide.title }}</h4>
                                            <p>{{ slide.description }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ol>
                                <div class="carousel-description visible-xs">

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">

                                <div class="app-slider-image-wrap">
                                    <div class="app-image">
                                        <div class="app-slider-image carousel-inner">
                                        {% for slide in courier_sliders %}
                                            <div class="item-image item {% if forloop.counter == 1  %}active{% endif %}">
                                                <img src="{% if slide.image %}{{ slide.image.url }}{% endif %}" alt="...">
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <img src="{% static 'frontend/images/iphone.svg' %}" alt="..." class="video-background">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="app__ride">
                <div class="carousel carousel--mobileview carousel-fade slide clearfix" data-ride="carousel" id="carousel-setps-ride">
                        <div class="row app-slider-holder">
                            <div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
                                <ol class="app-slider-list carousel-indicators steps--4 clearfix">
                                {% for slide in pickup_sliders %}
                                    <li class="list-item {% if forloop.counter == 1  %}active{% endif %}" data-slide-to="{{ forloop.counter|add:-1 }}" data-target="#carousel-setps-ride" data-step="1">
                                        <div class="li-step">{{ forloop.counter }}</div>
                                        <div class="list-denote">
                                            <h4>{{ slide.title }} </h4>
                                            <p>{{ slide.description }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ol>
                                <div class="carousel-description visible-xs">

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">

                                <div class="app-slider-image-wrap">
                                    <div class="app-image">
                                        <div class="app-slider-image carousel-inner">
                                        {% for slide in pickup_sliders %}
                                            <div class="item-image item {% if forloop.counter == 1  %}active{% endif %}">
                                                <img src="{% if slide.image %}{{ slide.image.url }}{% endif %}" alt="...">
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <img src="{% static 'frontend/images/iphone.svg' %}" alt="..." class="video-background">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <div class="brick bg-primary-dark dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 brick-heading text-center">
                    <h2 class="bh-title">
                    {% if home.features %}
                        {{ home.features }}
                    {% else %}
                        Features
                    {% endif %} 
                    </h2>
                    <span>
                    {% if home.features_desc %}
                        {{ home.features_desc|safe }}
                    {% else %}
                        All your transportation needs in one place
                    {% endif %}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="sc-icon">
                            <img src="{% static 'frontend/images/uicons/Easy-to-Use.png' %}" alt="..." width="140">
                        </div>
                        <h4 class="fc-title">
                            {% if home.feature1_title %}
                                {{ home.feature1_title }}
                            {% else %}
                                Easy to Use
                            {% endif %}
                        </h4>
                        <p>
                            {% if home.feature1_desc %}
                                {{ home.feature1_desc|safe }}
                            {% endif %} 
                            
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img src="{% static 'frontend/images/uicons/Transparent-Pricing.png' %}" alt="..." width="140">
                        </div>
                        <h4 class="fc-title">
                            {% if home.feature2_title %}
                                {{ home.feature2_title }}
                            {% else %}
                                Transparent Pricing
                            {% endif %}
                        </h4>
                        <p>
                            {% if home.feature2_desc %}
                                {{ home.feature2_desc|safe }}
                            {% endif %} 
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img src="{% static 'frontend/images/uicons/Cashless-Transactions.png' %}" alt="..." width="140">
                        </div>
                        <h4 class="fc-title">
                        {% if home.feature3_title %}
                            {{ home.feature3_title }}
                        {% else %}
                            Cashless Transactions
                        {% endif %}
                        </h4>
                        <p>
                        {% if home.feature3_desc %}
                                {{ home.feature3_desc|safe }}
                        {% endif %} 
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img src="{% static 'frontend/images/uicons/Real-Time-Updates.png' %}" alt="..." width="140">
                        </div>
                        <h4 class="fc-title">
                        {% if home.feature4_title %}
                            {{ home.feature4_title }}
                        {% else %}
                            Realtime Updates
                        {% endif %}
                        </h4>
                        <p>
                        {% if home.feature4_desc %}
                            {{ home.feature4_desc|safe }}
                        {% endif %}   
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="brick-partners">
       <div class="container">
            <ul class="list-inline partners-lists text-center">
                <li>
                    <img src="{% if home.patner_image_1 %}{{ home.patner_image_1.url }}{% else %}{% static 'frontend/images/partners/1.png' %}{% endif %}" alt="...">
                </li>
                <li>
                    <img src="{% if home.patner_image_2 %}{{ home.patner_image_2.url }}{% else %}{% static 'frontend/images/partners/2.png' %}{% endif %}" alt="...">
                </li>
                <li>
                    <img src="{% if home.patner_image_3 %}{{ home.patner_image_3.url }}{% else %}{% static 'frontend/images/partners/1.png' %}{% endif %}" alt="...">
                </li>
                <li>
                    <img src="{% if home.patner_image_4 %}{{ home.patner_image_1.url }}{% else %}{% static 'frontend/images/partners/1.png' %}{% endif %}" alt="...">
                </li>
                <li>
                    <img src="{% if home.patner_image_5 %}{{ home.patner_image_5.url }}{% else %}{% static 'frontend/images/partners/2.png' %}{% endif %}" alt="...">
                </li>
            </ul>
        </div> 
    </div>


    <div class="sloop">
        <div style="background-image: url('{% if home.service1_image %}{{ home.service1_image.url }}{% else %}{% static 'frontend/images/services/1.jpg' %}{% endif %}');" class="sloop-cell sloop-image"></div>
        <div class="sloop-cell sloop-content">
            <div class="sloop-article">
                <div class="note">
                    <h3 class="sa-title">
                        {% if home.service1_title %}
                            {{ home.service1_title }}
                        {% else %}
                            Courier Service
                        {% endif %}
                     </h3>
                    <p>
                     {% if home.service1_desc %}
                        {{ home.service1_desc|safe }}
                    {% else %}
                           See available Drivers  in real time, set pickup and drop-off locations, and easily choose from your favorite locations.
                    {% endif %}
                        
                    </p>
                    <div class="btn-hold">
                        <a href="/page/service/" class="mt-30 btn btn-secondary fs-13 fw-bold large uppercase stroked stk2 btn-block">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sloop">
        <div class="sloop-cell sloop-content">
            <div class="sloop-article">
                <div class="note">
                    <h3 class="sa-title"> 
                        {% if home.service2_title %}
                            {{ home.service2_title }}
                        {% else %}
                            Passenger Ride
                        {% endif %}
                    </h3>
                    <p>
                    {% if home.service2_desc %}
                        {{ home.service2_desc|safe }}
                    {% else %}
                             Book within seconds and get instant confirmations. Easy online payments. Booking car rentals will never be a headache again!
                    {% endif %}
                       
                    </p>
                    <div class="btn-hold">
                        <a href="/page/service/" class="mt-30 btn btn-secondary fs-13 fw-bold large uppercase stroked stk2 btn-block">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-image: url('{% if home.service2_image %}{{ home.service2_image.url }}{% else %}{% static 'frontend/images/services/2.jpg' %}{% endif %}');" class="sloop-cell sloop-image"></div>
    </div>
    {% endblock %}
    {% block modals %}
      <div class="modal fade modal-request-quote modal-mid" id="reQuote" tabindex="-1" role="dialog" aria-labelledby="reQuoteLabel">
        <div class="modal-dialog modal-center" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
            <div id="modal-body" class="modal-body no-padd">
              
            </div>
            <div class="modal-footer mod-foo-text-center">
              <a href="/customer/register/" class="btn btn-secondary unstroke big gotham normal uppercase fs-15 mt-10 btn-afix">continue</a>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
    {% block extrajs %}
    <script type="text/javascript" src="{% static 'base/js/formValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/framework/bootstrap.js' %}"></script>
    <link href="{% static 'base/css/formValidation.min.css' %}" rel="stylesheet">
    <script type="text/javascript">
        var map;
      function initMap() {
        var input_to_1 = document.getElementById('currier-to');
        var input_form_1 = document.getElementById('currier-form');
        var input_to = document.getElementById('from_address');
        var input_form = document.getElementById('to_address');
        var options = {
            componentRestrictions: {country: 'SG'}
        };

        autocomplete1 = new google.maps.places.Autocomplete(input_to, options);
        autocomplete = new google.maps.places.Autocomplete(input_form, options);
        autocomplete_2 = new google.maps.places.Autocomplete(input_to_1, options);
        autocomplete_3 = new google.maps.places.Autocomplete(input_form_1, options);
        
      }

    </script>
    <script>
            jQuery(document).ready(function() {
                "use strict";

                jQuery(window).scroll(function () { 
                    if ($(window).scrollTop() >100) {
                        $('.navbar-fixed-top').addClass('onScroll');
                        $('.navbar-brand img').attr('src','{% if common.logo %}{{ common.logo.url }}{% else %}{% static 'frontend/images/logo.png' %}{% endif %}');
                    }
                    else{
                        $('.navbar-fixed-top').removeClass('onScroll');
                        $('.navbar-brand img').attr('src','{% if common.logo_white_color %}{{ common.logo_white_color.url }}{% else %}{% static 'frontend/images/logo-white.png' %}{% endif %}');
                    }
                });

            });
            // $(".carousel-description").html($(".carousel--mobileview .carousel-indicators li").html());
            // $('.carousel--mobileview').on('slid.bs.carousel', function() {
            //     $('.carousel-description').html($(".carousel--mobileview .carousel-indicators .active").html());
            // });

            $("#carousel-setps .carousel-description").html($("#carousel-setps .carousel-indicators li").html());
            $('#carousel-setps').on('slid.bs.carousel', function() {
                $('#carousel-setps .carousel-description').html($("#carousel-setps .carousel-indicators .active").html());
            });
            $("#carousel-setps-ride .carousel-description").html($("#carousel-setps-ride .carousel-indicators li").html());
            $('#carousel-setps-ride').on('slid.bs.carousel', function() {
                $('#carousel-setps-ride .carousel-description').html($("#carousel-setps-ride .carousel-indicators .active").html());
            });


        </script>
        <script type="text/javascript">

            $(document).ready(function() {
                $('#courier-form').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    err: {
                        // You can set it to popover
                        // The message then will be shown in Bootstrap popover
                        container: 'tooltip'
                    },
                    fields: {
                        currier_form: {
                            row: '.form-group-inline',
                            validators: {
                                notEmpty: {
                                    message: 'Collection address is required'
                                }
                            }
                        },
                        currier_to: {
                            row: '.form-group-inline',
                            validators: {
                                notEmpty: {
                                    message: 'Delivery address is required'
                                }
                            }
                        },                       
                    }
                }).on('success.form.fv', function(e) {
                    // Prevent form submission
                    e.preventDefault();
                    var value1 = $('#currier-form').val();
                    var value2 = $('#currier-to').val();
                    var value3 = $('#package').val();
                    var value4 = 1;

                    $.ajax({
                        url: '/customer/courier/',
                        type:'POST',
                        data:{
                            'courier-from': value1,
                            'courier-to': value2,
                            'package': value3,
                            'quantity': value4,
                        },
                        success:function(msg){
                            //alert(msg);

                            $("#modal-body").html(
                            '<div class=\"modal-header text-center\">'+
                              '<h3 class=\"title fs-24 uppercase color-primary\">Approximate Cost For Courier</h3>'+
                              '<h5 class=\"sub-title\">Below is an estimate for your pickup request:</h5>'+
                            '</div>'+
                            '<div class=\"modal-body no-padd\">'+
                              '<table class="table table-striped table-cab-details mb-0">'+
                                '<tbody>'+
                            '<tr>'+
                              '<td>'+'<span class=\"title\">'+'Same Day delivery charge:'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.same_day +'</span></td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td>'+'<span class=\"title\">'+'Next Day delivery charge:'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.next_day +'</span></td>'+
                            '</tr>'+'<tr>'+
                              '<td>'+'<span class=\"title\">'+'Two days delivery charge:'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.two_day +'</span></td>'+
                            '</tr>'+
                            '</tbody>'+
                              '</table>'+
                            '</div>'+
                            '<div class=\"modal-footer mod-foo-text-center\">'+
                            '</div>');
                            $("#reQuote").modal("show");
                            //console.log(msg);
                        }
                    });

                    //alert("your form has submited");
                    // The form will submit with ajax call and, and the modal
                    //data will loded on the model on the callback function
                    //<!--$("#myModal").modal("show"); -->
                });
                //
                $('#pickup-form').formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    err: {
                        // You can set it to popover
                        // The message then will be shown in Bootstrap popover
                        container: 'tooltip'
                    },
                    fields: {
                        pickup_from: {
                            row: '.form-group-inline',
                            validators: {
                                notEmpty: {
                                    message: 'Pickup address is required'
                                }
                            }
                        },
                        pickup_to: {
                            row: '.form-group-inline',
                            validators: {
                                notEmpty: {
                                    message: 'Dropoff address is required'
                                }
                            }
                        },                       
                    }
                }).on('success.form.fv', function(e) {
                    e.preventDefault();
                    var type_id = $('#vehicle').val();
                    var from_address = $('#from_address').val();
                    var to_address = $('#to_address').val();
                    $.ajax({
                        url: '/apis/get_extimate_price/',
                        type:'GET',
                        data: {
                            type_id: type_id,
                            from_address: from_address,
                            to_address: to_address
                        },
                        success:function(msg){
                            $("#modal-body").html(
                            '<div class=\"modal-header text-center\">'+
                              '<h3 class=\"title fs-24 uppercase color-primary\">Approximate Cost for Passenger Pickup</h3>'+
                              '<h5 class=\"sub-title\">For '+ msg.vehicle_name + ' Type vehicle:</h5>'+
                            '</div>'+
                            '<div class=\"modal-body no-padd\">'+
                              '<table class="table table-striped table-cab-details mb-0">'+
                                '<tbody>'+
                            '<tr>'+
                              '<td>'+'<span class=\"title\">'+'Base Fare'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.base_fare +'</span></td>'+
                            '</tr>'+
                            '<tr>'+
                              '<td>'+'<span class=\"title\">'+'Rate:'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.rate +'</span></td>'+
                            '</tr>'+'<tr>'+
                              '<td>'+'<span class=\"title\">'+'Waiting charge:'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.waiting_charge +'</span></td>'+
                            '</tr>'+
                            '</tr>'+'<tr>'+
                              '<td>'+'<span class=\"title\">'+'Approximate cost :'+'</span></td>'+
                              '<td>'+'<span class=text>$'+ msg.total +'</span></td>'+
                            '</tr>'+
                            '</tbody>'+
                              '</table>'+
                            '</div>'+
                            '<div class=\"modal-footer mod-foo-text-center\">'+
                            '</div>');
                            $("#reQuote").modal("show");
                            //console.log(msg);
                        }
                    });
                });
            });
        </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzyZntqyyPWvWF5bTwyngLloKhJ7RVM_Y&libraries=places&callback=initMap"
    async defer></script>
    {% endblock %}