{% extends "frontend/frontend_layout.html" %}
    {% load staticfiles %}
    {% block topnav %}
    <nav class="navbar navbar-default navbar-transparent navbar-base navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% static 'frontend/images/logo-white.png' %}" alt="Uncle Frank">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav-main">
                    <li {% if about %}class="active"{% endif %}><a href="/page/about/">About</a></li>
                    <li {% if service %}class="active"{% endif %}><a href="/page/process/">Process</a></li>
                    <li {% if corporate %}class="active"{% endif %}><a href="/page/corporate/">Corporate</a></li>
                    <li {% if join_us_page %}class="active"{% endif %}><a href="/page/join_us/">Join Us</a></li>
                    <li {% if contact_us %}class="active"{% endif %}><a href="/page/contact_us/">Contact</a></li>
                    <li><a href="/customer/accounts/login/">Log in</a></li>
                    <li class="has-btn"><a class="btn btn-primary" href="/customer/register/">Sign Up</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    {% endblock %}
    {% block content %}
    
    <section class="brick brick-hero-page vmiddle dark" style="background-image: url('{% if joinus.banner1 %}{{ joinus.banner1.url }}{% else %}{% static 'frontend/images/banner/3.jpg' %}{% endif %}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="hero-content text-center">
                        <h2 class="hero-title">
                        {% if joinus.title1 %}
                            {{ joinus.title1 }}
                        {% else %}
                            With the largest driver network of over 10,000 commercial vehicles, Uncle Frank is able to help deliver your business needs. Whether your delivery is same day, next day or scheduled, we have customised business solution for you.
                        {% endif %}
                        </h2>
                        <!-- <a href="{{ joinus.linke }}" class="btn btn-primary fw-600 large uppercase unstroke btn-reserve">START YOUR FREE <span class="hidden-xs">30-DAY</span> TRIAL</a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>   




    <div class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 brick-heading text-center">
                    <h2 class="bh-title">
                    {% if joinus.feature_header %}
                            {{ joinus.feature_header }}
                        {% else %}
                            Features
                        {% endif %}
                    </h2>
                </div>
            </div>
            <div class="row included">
                <div class="col-sm-6" data-mh="feat-col">
                    <div class="featured-case reserve-case text-center main-text">
                        <div class="sc-icon">
                            <img src="{% if joinus.feature_image1 %}{{ joinus.feature_image1.url }}{% else %}{% static 'frontend/images/ficons/homepage-step1-icon.svg' %}{% endif %}" alt="Easy to Use" title="Easy to Use" width="100">
                        </div>
                        <h4 class="fc-title">
                        {% if joinus.feature_title1 %}
                            {{ joinus.feature_title1 }}
                        {% else %}
                            INCREASE YOUR INCOME
                        {% endif %}
                        </h4>
                        <p>
                        {% if joinus.feature_desc1 %}
                            {{ joinus.feature_desc1 }}
                        {% else %}
                            Got a car? Turn it into a money machine. The city is buzzing and Uncle Frank makes it easy for you to cash in on the action. Plus, you've already got everything you need to get started, all you have to do is sign up!
                        {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-6" data-mh="feat-col">
                    <div class="featured-case reserve-case text-center main-text">
                        <div class="fc-icon">
                            <img src="{% if joinus.feature_image2 %}{{ joinus.feature_image2.url }}{% else %}{% static 'frontend/images/ficons/homepage-step2-icon.svg' %}{% endif %}" alt="Transparent Pricing" title="Transparent Pricing" width="100">
                        </div>
                        <h4 class="fc-title">
                        {% if joinus.feature_title2 %}
                            {{ joinus.feature_title2 }}
                        {% else %}
                            BE A BOSS
                        {% endif %}
                        </h4>
                        <p>
                        {% if joinus.feature_desc2 %}
                            {{ joinus.feature_desc2 }}
                        {% else %}
                            As an independent contractor with Uncle Frank, you’ve got freedom and flexibility to drive whenever you have time. Set your own schedule, so you can be there for all of life’s most important moments.
                        {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-6" data-mh="feat-col">
                    <div class="featured-case reserve-case text-center main-text">
                        <div class="fc-icon">
                            <img src="{% if joinus.feature_image3 %}{{ joinus.feature_image3.url }}{% else %}{% static 'frontend/images/ficons/homepage-step3-icon.svg' %}{% endif %}" alt="Cashless Transactions" title="Cashless Transactions" width="100">
                        </div>
                        <h4 class="fc-title">
                        {% if joinus.feature_title3 %}
                            {{ joinus.feature_title3 }}
                        {% else %}
                            MEET NEW PEOPLE 
                        {% endif %}
                        </h4>
                        <p>
                        {% if joinus.feature_desc3 %}
                            {{ joinus.feature_desc3 }}
                        {% else %}
                            Make the most of your time. We will only connect you with customers that require your type of vehicle as you work alongside the best in your field—the people who make you want to be better and can also help get you there. 
                        {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-6" data-mh="feat-col">
                    <div class="featured-case reserve-case text-center main-text">
                        <div class="fc-icon">
                            <img src="{% if joinus.feature_image4 %}{{ joinus.feature_image4.url }}{% else %}{% static 'frontend/images/ficons/homepage-step3-icon.svg' %}{% endif %}" alt="Cashless Transactions" title="Cashless Transactions" width="100">
                        </div>
                        <h4 class="fc-title">
                        {% if joinus.feature_title4 %}
                            {{ joinus.feature_title4 }}
                        {% else %}
                            MORE CHOICES FOR YOU 
                        {% endif %}
                        </h4>
                        <p>
                        {% if joinus.feature_desc4 %}
                            {{ joinus.feature_desc4 }}
                        {% else %}
                            There’s room at Uncle Frank for every talent—and talent from everywhere. Take your ideas to the next level and make something that people use everyday. Something that changes the physical world—and does it fast.  
                        {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="featured-case reserve-case width-auto text-center main-text">
                        <div class="fc-icon">
                            <img src="{% if joinus.feature_image5 %}{{ joinus.feature_image5.url }}{% else %}{% static 'frontend/images/ficons/homepage-step3-icon.svg' %}{% endif %}" alt="Cashless Transactions" title="Cashless Transactions" width="100">
                        </div>
                        <h4 class="fc-title">
                        {% if joinus.feature_title5 %}
                            {{ joinus.feature_title5 }}
                        {% else %}
                            MORE TO COME AND YOU'LL BE THE FIRST IN LINE
                        {% endif %}
                        </h4>
                        <p>
                        {% if joinus.feature_desc5 %}
                            {{ joinus.feature_desc5 }}
                        {% else %}
                            With the largest driver network of over 10,000 commercial vehicles, Uncle Frank is able to help deliver your business needs. Whether your delivery is same day,  
                        {% endif %}
                        </p>
                    </div>
                </div>

           <!--      <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h2 class="save-title">Up to $400 in Annual Savings</h2>
                    <a href="{{ joinus.link }}" class="btn btn-secondary fw-600 large uppercase unstroke btn-reserve">START YOUR FREE <span class="hidden-xs">30-DAY</span> TRIAL</a>
                </div> -->
            </div>
        </div>
    </div>


    <section class="brick brick-thard-party dark" style="background-image: url('{% if joinus.banner2 %}{{ joinus.banner2.url }}{% else %}{% static 'frontend/images/banner/4.jpg' %}{% endif %}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 brick-heading text-center">
                    <h2 class="bh-title">
                    {% if joinus.title2 %}
                        {{ joinus.title2 }}
                    {% else %}
                        With the largest driver network of over 10,000 commercial vehicles, Uncle Frank is able to help deliver your business needs
                    {% endif %}
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 extra-text text-center">
                    <h5 class="uppercase fw-bold">
                    {% if joinus.title3 %}
                        {{ joinus.title3 }}
                    {% else %}
                        Take your ideas to the next level and make something that people use everyday.
                    {% endif %}
                    </h5>
                    {% if joinus.desc3 %}
                        {{ joinus.desc3|safe }}
                    {% else %}
                        <p>Take your ideas to the next level and make something that people use everyday. Something that changes the physical world—and does it fast. We still have a long way to go. Hop in and help us get there. We move fast to do things that have never been done. Because you have to take risks if you want to build the next big idea.</p>
                        <p>
                            Take your ideas to the next level and make something that people use everyday. Something that changes the physical world—and does it fast. We still have a long way to go. Hop in and help us get there. We move fast to do things that have never been done. Because you have to take risks if you want to build the next big idea. 
                        </p>
                    {% endif %}
                    <a href="{{ joinus.linke }}" class="btn btn-secondary fw-600 huge uppercase unstroke btn-reserve">{% if joinus.linke_text  %} {{ joinus.linke_text }} {% else %} JOIN US TODAY{% endif %}</a>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}


    {% block extrajs %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
        <script>
            jQuery(document).ready(function() {
                "use strict";

                jQuery(window).scroll(function () { 
                    if ($(window).scrollTop() >100) {
                        $('.navbar-fixed-top').addClass('onScroll');
                        $('.navbar-brand img').attr('src','{% static 'frontend/images/logo.png' %}');
                    }
                    else{
                        $('.navbar-fixed-top').removeClass('onScroll');
                        $('.navbar-brand img').attr('src','{% static 'frontend/images/logo-white.png' %}');
                    }
                });

            });
        </script>
    {% endblock %}