{% extends "frontend/frontend_layout.html" %}
    {% load staticfiles %}
    {% block content %}
    <div class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 pages-heading mt-80 text-center">
                    <h1 class="ph-title">
                        {% if services.title1 %}
                          {{ services.title1 }}
                        {% else %}
                           OUR PROCESS
                        {% endif %}
                        {{ services.title1 }}
                    </h1>
                    <h2 class="ph-sub-title">
                        {% if services.desc1 %}
                            {{ services.desc1|safe }}
                        {% else %}
                           With the largest driver network of over 10,000 commercial vehicles, Uncle Frank is able to help deliver your business needs. Whether your delivery is same day, next day or scheduled, we have customised business solution for you.
                        {% endif %}
                    </h2>
                </div>
            </div>
        </div>

        <div class="mee">
            <img class="img-responsive w100 center-block" src="{% if services.banner_image %}{{ services.banner_image.url }}{% else %}{% static 'frontend/images/process-bg.jpg' %}{% endif %}" alt="...">
        </div>
        <div class="container">
            <div class="row flex-wrap collaborate-bar">
                <div class="quote col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="line-top"></div>
                    <q class="text-purple">
                    {% if services.comment %}
                        {{ services.comment }}
                    {% else %}
                        Uncle Frank is a platform to coordinate all of your deliveries - a single touch point for getting your new sofa, receiving a parcel or connecting your utilities.
                    {% endif %}
                    </q>
                    <cite class="text-uncle">
                        {% if services.comment_by %}
                            {{ services.comment_by }}
                        {% else %}
                            TOM HARARI,<br>CO-FOUNDER &amp; CEO
                        {% endif %}
                    </cite>
                </div>
                
                <div class="col-lg-6 col-lg-offset-1 col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12 main-text">
                        {% if services.comment_text %}
                            {{ services.comment_text|safe }}
                        {% else %}
                            <p>
                                No fixed costs or overheads to maintain an in-house logistics team. Tap into Uncle Frank Delivery’s network of couriers for all your delivery needs while you focus 100% on your business.
                                <br>
                                <br>
                                No fixed costs or overheads to maintain an in-house logistics team. Tap into Uncle Frank Delivery’s network of couriers for all your delivery needs while you focus 100% on your business.
                                <br>
                                <br>
                                Benefits of delivering with Uncle Frank:
                            </p>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>



    <div class="brick bg-primary-dark dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 brick-heading text-center">
                    <h2 class="bh-title">
                    {% if services.reword_title %}
                        {{ services.reword_title }}
                    {% else %}
                        LOYALTY REWARDS
                    {% endif %}
                    </h2>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="sc-icon">
                            <img src="{% if services.rewards1_image %}{{ services.rewards1_image.url }}{% else %}{% static 'frontend/images/ficons/NORMAL.png' %}{% endif %}" alt="..." width="100">
                        </div>
                        <h4 class="fc-title">
                        {% if services.rewards1_text %}
                            {{ services.rewards1_text }}
                        {% else %}
                            NORMAL
                        {% endif %}
                        </h4>
                        <p>
                        {% if services.rewards1_desc %}
                            {{ services.rewards1_desc|safe }}
                        {% else %}
                            Get $2 Discountson Regular Bookings
                        {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img src="{% if services.rewards2_image %}{{ services.rewards2_image.url }}{% else %}{% static 'frontend/images/ficons/BRONZE.png' %}{% endif %}" alt="..." width="100">
                        </div>
                        <h4 class="fc-title">
                            {% if services.rewards2_text %}
                                {{ services.rewards2_text }}
                            {% else %}
                                 BRONZE 
                            {% endif %}
                        </h4>
                        <p>
                        {% if services.rewards2_desc %}
                            {{ services.rewards2_desc|safe }}
                        {% else %}
                            Enjoy Monthly Promotions worth over $10
                        {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img src="{% if services.rewards3_image %}{{ services.rewards3_image.url }}{% else %}{% static 'frontend/images/ficons/SILVER.png' %}{% endif %}" alt="..." width="100">
                        </div>
                        <h4 class="fc-title">
                            {% if services.rewards3_text %}
                                {{ services.rewards3_text }}
                            {% else %}
                                 SILVER 
                            {% endif %} 
                        </h4>
                        <p>
                            {% if services.rewards3_desc %}
                                {{ services.rewards3_desc|safe }}
                            {% else %}
                                Get Benefts up to $50 worth in Discounts  
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="featured-case text-center">
                        <div class="fc-icon">
                            <img src="{% if services.rewards4_image %}{{ services.rewards4_image.url }}{% else %}{% static 'frontend/images/ficons/GOLD.png' %}{% endif %}" alt="..." width="100">
                        </div>
                        <h4 class="fc-title">
                            {% if services.rewards4_text %}
                                {{ services.rewards4_text }}
                            {% else %}
                                 GOLD 
                            {% endif %}  
                        </h4>
                        <p>
                            {% if services.rewards4_desc %}
                                {{ services.rewards4_desc|safe }}
                            {% else %}
                                Get Benefts up to $50 worth in Discounts  
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 brick-heading text-center">
                    <h5 class="bh-sub-title">
                        {% if services.title2 %}
                            {{ services.title2 }}
                        {% else %}
                              Passenger Pickup
                        {% endif %}
                     </h4>
                    <h2 class="bh-title fs-26">
                    {% if services.desc2 %}
                        {{ services.desc2|safe }}
                    {% else %}
                         Choose your ride and set your location. You’ll see your driver’s picture and vehicle details, and can track their arrival on the map. Choose your ride and set your location. You’ll see your driver’s picture and vehicle details, and can track their arrival on the map.
                    {% endif %}
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="featured-case text-center main-text">
                        <div class="sc-icon mb-20">
                            <img src="{% if services.promo_image1 %}{{ services.promo_image1.url }}{% else %}{% static 'frontend/images/ficons/homepage-step1-icon.svg' %}{% endif %}" alt="Easy to Use" title="Easy to Use" width="100">
                        </div>
                        <p>
                            {% if services.promo_description1 %}
                                {{ services.promo_description1|safe }}
                            {% else %}
                                  Invite your friends and receive an exclusive gift plus $30 worth of discounts! 
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="featured-case text-center main-text">
                        <div class="fc-icon mb-20">
                            <img src="{% if services.promo_image2 %}{{ services.promo_image2.url }}{% else %}{% static 'frontend/images/ficons/homepage-step2-icon.svg' %}{% endif %}" alt="Transparent Pricing" title="Transparent Pricing" width="100">
                        </div>
                        <p>
                            {% if services.promo_description2 %}
                                {{ services.promo_description2|safe }}
                            {% else %}
                                  Invite your friends and receive an exclusive gift plus $30 worth of discounts! 
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="featured-case text-center main-text">
                        <div class="fc-icon mb-20">
                            <img src="{% if services.promo_image3 %}{{ services.promo_image3.url }}{% else %}{% static 'frontend/images/ficons/homepage-step3-icon.svg' %}{% endif %}" alt="Cashless Transactions" title="Cashless Transactions" width="100">
                        </div>
                        <p>
                            {% if services.promo_description3 %}
                                {{ services.promo_description3|safe }}
                            {% else %}
                                  Invite your friends and receive an exclusive gift plus $30 worth of discounts! 
                            {% endif %}
                    </div>
                </div>
            </div>
            <div class="row multiple-images mt-100">
                <div class="col-md-8">
                    <div class="mi-image large" style="background-image: url('{% if services.buttom_image1 %}{{ services.buttom_image1.url }}{% else %}{% static 'frontend/images/services/3.jpg' %}{% endif %}');"></div>
                </div>
                <div class="col-md-4">
                    <div class="mi-image" style="background-image: url('{% if services.buttom_image2 %}{{ services.buttom_image2.url }}{% else %}{% static 'frontend/images/services/2.jpg' %}{% endif %}');"></div>
                    <div class="mi-image" style="background-image: url('{% if services.buttom_image3 %}{{ services.buttom_image3.url }}{% else %}{% static 'frontend/images/services/1.jpg' %}{% endif %}');"></div>
                </div>
            </div>
        </div>
    </div>

   
  <section class="brick brick-timing">
        <div class="brick-heading text-center">
            <h2 class="bh-title">
                {% if services.buttom_title %}
                    {{ services.buttom_title|safe }}
                {% else %}
                      Delivery Window / Booking Timings
                {% endif %}
    </h2>
        </div>
        <div class="nav-tabbar nav-tabbar-secondary">
            <div class="container">
                <ul class="nav nav-pills nav-pricing nav-pricing-secondary" role="tablist">
                    <li role="presentation" class="active"><a href="#loc__1" aria-controls="loc__1" role="tab" data-toggle="tab">
                {% if services.title_for_same_day %}
                    {{ services.title_for_same_day|safe }}
                {% else %}
                      same day delivery
                {% endif %}
                    </a></li>
                    <li role="presentation"><a href="#loc__2" aria-controls="loc__2" role="tab" data-toggle="tab">
                    {% if services.title_for_same_nextday %}
                    {{ services.title_for_same_nextday|safe }}
                {% else %}
                      next day delivery
                {% endif %}

                    </a></li>
                </ul>
            </div>
        </div>
        <div class="timing-tables">
            <div class="container">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="loc__1">
                        {% if services.description_for_same_day %}
                        {{ services.description_for_same_day|safe }}
                        {% else %}                       
                              <div class="row row-delivery">
                                <div class="col-sm-6">
                                    <div class="delivery-card">
                                        <h4 class="dc-title">Morning Standard</h4>
                                        <p>The morning rush hour is a breeze with our swift and early morning delivery.</p>
                                        <ul class="list-inline dc-lists">
                                            <li>Booking cut-off: 9am</li>
                                            <li>Delivery: 10am&ndash;2pm</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="delivery-card">
                                        <h4 class="dc-title">Morning Standard</h4>
                                        <p>The morning rush hour is a breeze with our swift and early morning delivery.</p>
                                        <ul class="list-inline dc-lists">
                                            <li>Booking cut-off: 9am</li>
                                            <li>Delivery: 10am&ndash;2pm</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="delivery-card">
                                        <h4 class="dc-title">Afternoon Standard</h4>
                                        <p>Chasing an end-of-day deadline? Our dedicated couriers will make your delivery our priority.</p>
                                        <ul class="list-inline dc-lists">
                                            <li>Booking cut-off: 1pm</li>
                                            <li>Delivery: 2pm-6pm</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="delivery-card">
                                        <h4 class="dc-title">Afternoon Standard</h4>
                                        <p>Chasing an end-of-day deadline? Our dedicated couriers will make your delivery our priority.</p>
                                        <ul class="list-inline dc-lists">
                                            <li>Booking cut-off: 1pm</li>
                                            <li>Delivery: 2pm-6pm</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="delivery-card">
                                        <h4 class="dc-title">Evening Standard</h4>
                                        <p>We know some days start late. That is why fast and flexible evening door-to-door delivery is here!</p>
                                        <ul class="list-inline dc-lists">
                                            <li>Booking cut-off: 4am</li>
                                            <li>Delivery: 6pm&ndash;10pm</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="delivery-card">
                                        <h4 class="dc-title">Evening Standard</h4>
                                        <p>We know some days start late. That is why fast and flexible evening door-to-door delivery is here!</p>
                                        <ul class="list-inline dc-lists">
                                            <li>Booking cut-off: 4am</li>
                                            <li>Delivery: 6pm&ndash;10pm</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        

                    </div>
                    <div role="tabpanel" class="tab-pane" id="loc__2">
                        {% if services.description_for_nextday %}
                            {{ services.description_for_nextday|safe }}
                        {% else %}
                        <div class="row row-delivery">
                            <div class="col-sm-6">
                                <div class="delivery-card">
                                    <h4 class="dc-title">Evening Standard</h4>
                                    <p>We know some days start late. That is why fast and flexible evening door-to-door delivery is here!</p>
                                    <ul class="list-inline dc-lists">
                                        <li>Booking cut-off: 4am</li>
                                        <li>Delivery: 6pm&ndash;10pm</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="delivery-card">
                                    <h4 class="dc-title">Evening Standard</h4>
                                    <p>We know some days start late. That is why fast and flexible evening door-to-door delivery is here!</p>
                                    <ul class="list-inline dc-lists">
                                        <li>Booking cut-off: 4am</li>
                                        <li>Delivery: 6pm&ndash;10pm</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="delivery-card">
                                    <h4 class="dc-title">Morning Standard</h4>
                                    <p>The morning rush hour is a breeze with our swift and early morning delivery.</p>
                                    <ul class="list-inline dc-lists">
                                        <li>Booking cut-off: 9am</li>
                                        <li>Delivery: 10am&ndash;2pm</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="delivery-card">
                                    <h4 class="dc-title">Morning Standard</h4>
                                    <p>The morning rush hour is a breeze with our swift and early morning delivery.</p>
                                    <ul class="list-inline dc-lists">
                                        <li>Booking cut-off: 9am</li>
                                        <li>Delivery: 10am&ndash;2pm</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="delivery-card">
                                    <h4 class="dc-title">Afternoon Standard</h4>
                                    <p>Chasing an end-of-day deadline? Our dedicated couriers will make your delivery our priority.</p>
                                    <ul class="list-inline dc-lists">
                                        <li>Booking cut-off: 1pm</li>
                                        <li>Delivery: 2pm-6pm</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="delivery-card">
                                    <h4 class="dc-title">Afternoon Standard</h4>
                                    <p>Chasing an end-of-day deadline? Our dedicated couriers will make your delivery our priority.</p>
                                    <ul class="list-inline dc-lists">
                                        <li>Booking cut-off: 1pm</li>
                                        <li>Delivery: 2pm-6pm</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
