{% extends "base/form_layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block content %}
 <div class="user-dashpage image-cover bg-lighter">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h1>{% trans "Account Inactive" %}</h1>
                    <p>{% trans "This account is inactive." %}</p>
                </div>
            </div>
        </div>
        <div class="me-dash-footer">
            <div class="container">
                <div class="me-dash-fooer-in">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline me-dash-foo">
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 sm-right">
                            <span class="copy-text">&copy; 2016 Uncle Frank. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
