<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Uncle Frank</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'frontend/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'frontend/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'frontend/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'frontend/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'frontend/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'frontend/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'frontend/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'frontend/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'frontend/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'frontend/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'frontend/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'frontend/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'frontend/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'frontend/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">


    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet"> 

    
    <link href="{% static 'frontend/plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/plugins/slick/slick.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/plugins/slick/slick-theme.css' %}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sign-page">                                    
    <nav class="navbar navbar-default navbar-base navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% static 'frontend/images/logo.png' %}" alt="Uncle Frank">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav-main">
                    <li><a href="/customer/register/">Sign Up</a></li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="sing-wrapper">
            <div class="sign sign-field">
                <h1 class="sign-heading text-center">Login to account</h1>
                <form action="{% url 'account_login' %}" method="post">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="form-group">
                        <div class="inputbar">
                            <p class="error-message">{{ form.login.errors.as_text }}</p>
                            <!-- <input type="text" class="form-control huge" placeholder="Email / Mobile Number*"> -->
                            {{ form.login }}
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="inputbar">
                            <!-- <input type="text" class="form-control huge" placeholder="Password*"> -->
                            <p class="error-message">{{ form.password.errors.as_text }}</p>
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <a href="{% url 'account_reset_password' %}">Forgot your password?</a>
                    </div>
                    <div class="form-group text-center">
                        <button  type="submit" class="btn btn-secondary fs-13 fw-bold large uppercase unstroked btn-block">Continue</button>
                    </div>
                    <div class="form-group text-center white mt-50">
                        Need an account? <a href="/customer/register/">Join</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-links-container">
        <div class="bottom-links">
            <a href="/" class="pull-left">
                <img src="{% static 'frontend/images/Order-Back.svg' %}" alt="...">
                BACK
            </a>
            <a href="/customer/accounts/facebook/login/" class="pull-right" data-toggle="tooltip" data-placement="top" title="Continue with Facebook">
                <img src="{% static 'frontend/images/Order-Facebook.svg' %}" alt="...">
                CONNECT
            </a>
        </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontend/plugins/browserclass.js' %}"></script>
    <script>
        jQuery(document).ready(function() {
            "use strict";

            jQuery(window).scroll(function () { 
                if ($(window).scrollTop() > 100) {
                    $('.navbar-fixed-top').addClass('onScroll');
                    $('.navbar-brand img').attr('src','{% static 'frontend/images/logo.png' %}');
                }
                else{
                    $('.navbar-fixed-top').removeClass('onScroll');
                    $('.navbar-brand img').attr('src','{% static 'frontend/images/logo-white.png' %}');
                }
            });

        });
    </script>
    <script src="{% static 'frontend/js/script.js' %}"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102637792-1', 'auto');
  ga('send', 'pageview');

    </script>

</body>

</html>
