{% extends "frontend/form_layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}


                    {% block formcontent %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="sign sign-field">
                                    <h1 class="sign-heading text-center">Get a new password</h1>

                                    <form method="post" action="{% url 'account_reset_password' %}"  class="form-horizontal mt-45" id="password-reset-form">
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="inputbar">
                                                    <p class="error-message">{{ form.email.errors.as_text }}</p>
                                                    {{ form.email }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-0">
                                            <div class="col-sm-12">
                                                <button class="btn btn-secondary fs-13 fw-bold large uppercase unstroked btn-block">Request new password</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> 
                        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102637792-1', 'auto');
  ga('send', 'pageview');

</script>
                        
                    {% endblock %}

                