{% extends "frontend/form_layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}


{% block formcontent %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="sign-field">
                <h1 class="sign-heading text-center">{% trans "Change Password" %}</h1>
                <p class="text-center" style="color: #fff;">{% trans 'Your password is now changed.' %}</p>
            </div>
        </div>
    </div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102637792-1', 'auto');
  ga('send', 'pageview');

</script>
    
{% endblock %}