{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
          <h1 class="pages-heading">Coupon Edit (courier)</h1>
     <div class="panel">
     <div class="panel-body">
        <div class="table-responsive">
        <table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Discount Type</th>
                  <th>Discount Value</th>
                  <th>Start Date</th>
                  <th>Start Time</th>
                  <th>End Date</th>
                  <th>End Time</th>
                  <th>Number of Use</th>
                   <th>Number of Use per User</th>
                  <th>Delivery Window</th>
                  <th>Action</th>
                </tr>
              </thead>
            {% if coupons %}
              <tbody>
              {% for coupon in coupons %}
                  <tr>
                      <td>{{ coupon.code }}</td>
                      <td>{{ coupon.discount_type }}</td>
                      <td>{{ coupon.discount_value }}</td>
                      <td>{{ coupon.start_date }}</td>
                      <td>{{ coupon.start_time }}</td>
                      <td>{{ coupon.end_date }}</td>
                      <td>{{ coupon.end_time }}</td>
                      <td>{{ coupon.number_of_use }}</td>
                      <td>{{ coupon.number_of_use_per_user }}</td>
                      <td>{% if coupon.delivery_window %}{{ coupon.delivery_window }}{% else %}ALL{% endif %}</td>
                      <td><div class="actions-orders btn-color-white nowrap">
                          <a href="/sadmin/coupon/delete/{{ coupon.id }}" class="btn btn-sm btn-warning unstroke">Delete</a></div></td>
                  </tr>
              {% endfor %}
              </tbody>
            {% endif %}
          </table>
            </div>
        <hr/>
      <span style="color: red" class="error">{{ error }}</span><br>
      <a  class=" btn-link" onClick="generateCode()">Generate Code</a> 
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="alert alert-danger">
      {% else %}
        <div class="alert alert-{{ message.tags }}">
      {% endif %}
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}         
        </div> 
      {% endfor %}
    {% endif %}       
        <form class="form-group" method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
        <button type="submit" class="btn btn-primary unstroke">Create Code</button>
        </form>

    </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block extrajs %}
<script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
<script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
$( function() {
  $('.time-pick').datetimepicker({ 'format': 'h:m a' });
});
</script>
    <script>
      var dateToday = new Date();
      $('.date').datetimepicker({
          format: 'MM/DD/YYYY',
           minDate: dateToday,
      });
      var generateCode = function generateCode(){
          $.ajax({
              url:'/sadmin/generate_code/',
              type:'get',
              dataType: 'json',
              success:function(data){
                  $('#code').val(data['code']);
              },
              error:function(){
                  console.log('Error in submission.');
              }
        });
      }
    </script>
{% endblock %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'dashboard/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}