<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport">
    <title>Unclefrank</title>
    <style type="text/css">
     @page {
            size: {{ pagesize|default:"B4" }};
            margin-left: 1cm;
            margin-right: 1cm;
            margin-top: 1cm;
            margin-bottom: 1cm;
            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 1.3cm;
                margin-right: 2mm;
                margin-bottom: 1cm;
                margin-left: 1.2cm;
            }
        }
    .ReadMsgBody {
        width: 100%;
        background-color: #ffffff;
    }

    .ExternalClass {
        width: 100%;
        background-color: #ffffff;
    }
        .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
        line-height: 100%;
    }
        * {
        box-sizing: border-box;
    }
    *:before, *:after {
        box-sizing: border-box;
    }
        html {
        width: 100%;
    }

    body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        margin: 0;
        padding: 0;
    }
        table {
        border-spacing: 0;
        border-collapse: collapse;
    }
        table td {
        border-collapse: collapse;
    }

    .yshortcuts a {
        border-bottom: none !important;
    }

    a {
        color: #3bc0b9;
        text-decoration: none;
    }
    a:hover, a:focus {
        color: #37aba5;
    }
    .textbutton a {
        font-family: 'open sans', arial, sans-serif !important;
        color: #ffffff !important;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }
        .foo-socials {
            text-align: center;
        }

        .foo-socials a img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

        .foo-socials a {
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
            margin-right: 8px;
            color: #fff;
        }
    </style>
</head>

<body style="background: #fff;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
        <!--header-2-->
        <tbody>
            <tr>
                <td style="background: #fff;">
                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="900" style="">
                        <tbody>
                            <tr align="left">
                                <td>
                                    <table bgcolor="#fff" cellspacing="0" cellpadding="0" border="0" align="left" width="900">
                                        <tbody>
                                            <tr>
                                                <td style="background-color: #fff; border-bottom: 1px solid #f1f1f1;">
                                                    <table cellspacing="0" cellpadding="0" border="0" class="table600" width="900">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: middle; padding: 10px 20px 10px 0; font-size:14px; line-height: 24px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left;">
                                                                    <img width="118" src="/media/pdf/{{ logo }}" alt="Unclefrank">
                                                                </td>
                                                                <td align="right" style="padding: 10px 0 10px 20px; vertical-align: middle; font-size:14px; line-height: 24px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #fff;">
                                                                   <img src="/media/pdf/way_bill.png" alt="...">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr align="left">
                                <td>
                                    <table cellspacing="0" cellpadding="0" border="0" width="900">
                                        <tr>
                                            <td height="25">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" border="0" width="900">
                                                    <tr>
                                                        <td style="padding-right: 10px; width: 50%;">
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Delivery #</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.order_no }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Order Date</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.created_at }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Service</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.delevery_time }}</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td style="padding-left: 10px; width: 50%;">
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td style="vertical-align: top; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Quick Referance</td>
                                                                    <td style="vertical-align: top; font-size:28px; line-height: 28px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #111; text-align: right; padding: 5px 0px 5px 0;">{{ order.order_no }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" style="vertical-align: top; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: top; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Barcode</td>
                                                                    <td style="vertical-align: top; font-size:28px; line-height: 28px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #111; text-align: right; padding: 5px 0px 5px 0;"><img style="float: right;" src="/media/barcode/{{ image }}" alt=""></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" border="0" width="900">
                                                    <tr>
                                                        <td style="padding-right: 10px; width: 50%; vertical-align: top">
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td colspan="2" style="vertical-align: bottom; font-size:20px; line-height: 20px; font-weight: bold; text-transform: uppercase; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #bf1e2e; text-align: left; padding: 5px 0 5px 0;">
                                                                        <div style="position: relative;">
                                                                            <div style="position: relative; border-bottom: 2px solid #bf1e2e">
                                                                                <span>COLLECTION FROM</span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Name</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.collection_name }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Address</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.collection_address }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                            <tr>
                                                                                <td style="padding-right: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                        <!-- <tr>
                                                                                            <td style="width: 43.5%; vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;white-space: nowrap;">Postal code</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.collection_postal_code }}</td>
                                                                                        </tr> -->
                                                                                    </table>
                                                                                </td>
                                                                                <td style="padding-left: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                        <tr>
                                                                                            <td style="width: 43.5%; vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Tel.No.</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.collection_contact_no }}</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td style="padding-left: 10px; width: 50%; vertical-align: top">
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td colspan="2" style="vertical-align: bottom; font-size:20px; line-height: 20px; font-weight: bold; text-transform: uppercase; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #bf1e2e; text-align: left; padding: 5px 0 5px 0;">
                                                                        <div  style="position: relative; border-bottom: 2px solid #bf1e2e"><span>DELIVER TO</span></div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Name</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.delivery_name }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Address</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.delivery_address }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                            <tr>
                                                                                <td style="padding-right: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                        <!-- <tr>
                                                                                            <td style="width: 43.5%; vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0; white-space: nowrap;">Postal code</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.delivery_postal_code }}</td>
                                                                                        </tr> -->
                                                                                    </table>
                                                                                </td>
                                                                                <td style="padding-left: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                        <tr>
                                                                                            <td style="width: 43.5%; vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Tel.No.</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.delivery_contact_no }}</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" border="0" width="900">
                                                    <tr>
                                                        <td>
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td colspan="2" style="vertical-align: bottom; font-size:20px; line-height: 20px; font-weight: bold; text-transform: uppercase; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #bf1e2e; text-align: left; padding: 5px 0 5px 0;">
                                                                        <div style="position: relative; border-bottom: 2px solid #bf1e2e"><span>ORDER BY</span></div>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td colspan="2">
                                                                        <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                            <tr>
                                                                                <td style="padding-right: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                        <tr>
                                                                                            <td width="80" style=" vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Name</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.customer.name }}</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                                <td style="padding-right: 10px; padding-left: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                    </table>
                                                                                </td>
                                                                                <td style="padding-left: 10px;">
                                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                                        <tr>
                                                                                            <td width="80" style=" vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Tel.No.</td>
                                                                                            <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.customer.contact_no }}</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="80" style="vertical-align: bottom; font-size:12px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align: left; padding: 5px 20px 5px 0;">Comments</td>
                                                                    <td style="vertical-align: bottom; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding: 5px 0px 5px 0; border-bottom: 1px solid #ddd;">{{ order.collection_remark }}</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" border="0" width="900">
                                                    <tr>
                                                        <td>
                                                            <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                <tr>
                                                                    <td style="vertical-align: bottom; font-size:20px; line-height: 20px; font-weight: bold; text-transform: uppercase; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #bf1e2e; text-align: left; padding: 5px 0 5px 0;">
                                                                        <div style="position: relative; border-bottom: 2px solid #bf1e2e"><span">PARCEL PROPERTIES</span></div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                                            <tr>
                                                                                <th style="vertical-align: bottom; font-size:12px; line-height: 16px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align:center; padding: 5px 8px; border-bottom: 2px solid #ddd; width: 50%;">Package</th>
                                                                                <th style="vertical-align: bottom; font-size:12px; line-height: 16px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #999; text-align:center; padding: 5px 8px; border-bottom: 2px solid #ddd; width: 50%;">Quantity</th>
                                                                            </tr>
                                                                            {% for package in packages %}
                                                                            <tr>
                                                                                <td style="{% if forloop.counter|divisibleby:2 %}background: #f1f1f1;{% endif %}vertical-align: middle; font-size:12px; line-height: 16px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align:center; padding: 5px 8px; border-right: 1px solid #ddd; width: 50%;">{{ package.size.name }}</td>
                                                                                <td style="{% if forloop.counter|divisibleby:2 %}background: #f1f1f1;{% endif %} vertical-align: middle; font-size:12px; line-height: 16px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align:center; padding: 5px 8px; border-left: 1px solid #ddd; width: 50%;">{{ package.quantity }}</td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>

            <tr align="center">
                <td height="30"></td>
            </tr>

            <tr align="center">
                <td>
                    <table bgcolor="#fff" cellspacing="0" cellpadding="0" border="0" align="center" width="900" class="">
                        <tbody>
                            <tr>
                                <td height="99" style="padding: 15px 20px; background-color: #bf1e2e">
                                    <table cellspacing="0" cellpadding="0" border="0" align="left" style="width: 100%">
                                        <tr>
                                            <td align="center" style="padding-bottom: 15px;">
                                                <img width="100" src="/media/pdf/{{ logo_white }}" alt="UncleFrank">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; font-size:12px; line-height: 20px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; padding: 0px 20px 10px; color: #fff;">
                                                24 Sin Ming Lane #06-104, Midview City Singapore 573970 <br /> Tel: +6531021268 <br/> Email: info@unclefrank.sg
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; font-size:10px; line-height: 20px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; padding: 0px 20px 10px; color: #fff;">
                                                &copy; 2016 Uncle Frank. All Rights Reserved.
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <!-- end title bar -->
        </tbody>
    </table>
</body>

</html>
