{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport">
    <title>Unclefrank</title>
    <style type="text/css">
        @import 'https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i';
        .ReadMsgBody {
            width: 100%;
            background-color: #ffffff;
        }

        .ExternalClass {
            width: 100%;
            background-color: #ffffff;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        html {
            width: 100%;
        }

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
            margin: 0;
            padding: 0;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        img {
            display: block !important;
        }

        table td {
            border-collapse: collapse;
        }

        .yshortcuts a {
            border-bottom: none !important;
        }

        a {
            color: #3bc0b9;
            text-decoration: none;
        }

        a:hover,
        a:focus {
            color: #37aba5;
        }

        .textbutton a {
            font-family: 'open sans', arial, sans-serif !important;
            color: #ffffff !important;
        }

        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee;
        }




        @media only screen and (max-width: 640px) {
            body {
                width: auto !important;
            }
            table[class="table600"] {
                width: 450px !important;
                text-align: center !important;
            }
            table[class="table-inner"] {
                width: 86% !important;
                text-align: center !important;
            }
            table[class="table2-2"] {
                width: 47% !important;
            }
            table[class="table3-3"] {
                width: 100% !important;
                text-align: center !important;
            }
            table[class="table1-3"] {
                width: 29.9% !important;
            }
            table[class="table3-1"] {
                width: 64% !important;
                text-align: center !important;
            }
            table[class="footer-note"] {
                width: 100% !important;
                text-align: left !important;
            }
            table[class="footer-column"] {
                width: 47% !important;
                text-align: left !important;
            }
            /* Image */
            img[class="img1"] {
                width: 100% !important;
                height: auto !important;
            }
        }

        @media only screen and (max-width: 479px) {
            body {
                width: auto !important;
            }
            table[class="table600"] {
                width: 290px !important;
            }
            table[class="table-inner"] {
                width: 82% !important;
            }
            table[class="table2-2"] {
                width: 100% !important;
            }
            table[class="table3-3"] {
                width: 100% !important;
                text-align: center !important;
            }
            table[class="table1-3"] {
                width: 100% !important;
            }
            table[class="table3-1"] {
                width: 100% !important;
                text-align: center !important;
            }
            table[class="footer-note"] {
                width: 100% !important;
                text-align: center !important;
            }
            table[class="footer-column"] {
                width: 100% !important;
                text-align: center !important;
            }
            /* image */
            img[class="img1"] {
                width: 100% !important;
            }
        }


        .foo-socials {
            text-align: center;
        }

        .foo-socials a img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

        .foo-socials a {
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
            margin-right: 8px;
            color: #fff;
        }
    </style>
</head>

<body style="background: #fff;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
        <!--header-2-->
        <tbody>
            <!-- end 1/1 content -->
            <!-- Title bar -->
            <tr>
                <td height="30"></td>
            </tr>
            <tr>
                <td style="background: #fff;">
                    <table cellspacing="0" cellpadding="0" border="0" align="center" class="table600" style="max-width: 600px; border: 1px solid #eee;">
                        <tbody>
                            <tr align="left">
                                <td>
                                    <table bgcolor="#fff" cellspacing="0" cellpadding="0" border="0" align="left" width="600">
                                        <tbody>
                                            <tr>
                                                <td style="background-color: #fff; border-bottom: 1px solid #f1f1f1;">
                                                    <table cellspacing="0" cellpadding="0" border="0" class="table600" width="600">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: middle; padding: 10px 20px; font-size:14px; line-height: 24px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left;">
                                                                    <img width="118" src="https://unclefrank.com.sg/static/email/logo.png" alt="Unclefrank">
                                                                </td>
                                                                <td style="padding: 10px 20px; vertical-align: middle; font-size:14px; line-height: 24px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #fff; text-align: right;">
                                                                    <a href="#" style="background-color: #bf1e2e; color: #fff; text-align: center; display: inline-block; padding: 8px 15px;font-size: 14px; font-weight: 600; letter-spacing: 1px; border-radius: 2px; text-transform: uppercase;">Invoice</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td style="font-size:14px; line-height: 28px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                                                    <table cellspacing="0" cellpadding="0" border="0" class="table600" width="600" bgcolor="#fff">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding: 15px 20px; background-color: #fff;">
                                                                    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-size:14px; line-height: 28px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">Hello!,</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size:14px; line-height: 28px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">
                                                                                    Thank you for choosing unclefrank Pickup services.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size:14px; line-height: 28px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">
                                                                                    <strong>Invoice Summary:</strong>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table bgcolor="#fff" cellspacing="0" cellpadding="0" border="0" align="left" width="260">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="font-size:14px; line-height: 22px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">Fare:</td>
                                                                                                <td style="font-size:14px; line-height: 22px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">{{ invoice.fare }}</td>
                                                                                            </tr>
      <!--                                                                                       <tr>
                                                                                                <td style="font-size:14px; line-height: 22px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">Standard Cab fee:</td>
                                                                                                <td style="font-size:14px; line-height: 22px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">{{ invoice.online_fee }}</td>
                                                                                            </tr> -->
                                                                                            <tr>
                                                                                                <td style="font-size:14px; line-height: 22px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">Surcharge:</td>
                                                                                                <td style="font-size:14px; line-height: 22px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">{{ invoice.surcharge }}</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td style="font-size:14px; line-height: 22px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">Admin Fee:</td>
                                                                                                <td style="font-size:14px; line-height: 22px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">{{ invoice.ufo_fee }}</td>
                                                                                            </tr>
                   <!--                                                                          <tr>
                                                                                                <td style="font-size:14px; line-height: 22px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">Toll/Others:</td>
                                                                                                <td style="font-size:14px; line-height: 22px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;">{{ invoice.toll_fee }}</td>
                                                                                            </tr> -->
                                                                                            <tr>
                                                                                                <td style="font-size:14px; line-height: 22px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;"><strong>Total:</strong></td>
                                                                                                <td style="font-size:14px; line-height: 22px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #616161;"><strong>{{ invoice.total }}</strong></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td height="15"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="text-align: left; font-size:12px; line-height: 20px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868;">
                                                                                    This email was sent to <a href="mailto:{{ user.email }}">{{ user.email }}</a><br>For further enquiries, please email us at <a href="">info.unclefrank.com.sg</a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr align="left">
                                <td>
                                    <table bgcolor="#fff" cellspacing="0" cellpadding="0" border="0" align="left" width="600" class="table600">
                                        <tbody>
                                            <tr>
                                                <td height="99" style="padding: 15px 20px; background-color: #bf1e2e">
                                                    <table cellspacing="0" cellpadding="0" border="0" align="left" style="width: 100%">
                                                        <tr>
                                                            <td align="center" style="padding-bottom: 15px;">
                                                                <img width="100" src="https://unclefrank.com.sg/static/email/logo-white.png" alt="UncleFrank">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center; vertical-align: middle; font-size:14px; line-height: 14px; color: #fff; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; padding: 5px 20px 10px;">
                                                                <div class="foo-socials">
                                                                    <a href="https://www.facebook.com/" class="facebook"><img style="display: inline-block !important;" src="https://unclefrank.com.sg/static/email/fb.png" alt="..."> Facebook</a>
                                                                    <a href="https://twitter.com" class="twitter"><img style="display: inline-block !important;" src="https://unclefrank.com.sg/static/email/twt.png" alt="..."> Twitter</a>
                                                                    <a href="https://www.instagram.com" class="instagram"><img style="display: inline-block !important;" src="https://unclefrank.com.sg/static/email/ins.png" alt=""> Instagram</a>
                                                                    <a href="https://www.youtube.com" class="youtube"><img style="display: inline-block !important;" src="https://unclefrank.com.sg/static/email/you.png" alt=""> Youtube</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center; font-size: 12px; line-height: 14px; color: #fff; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; padding: 10px 20px;">
                                                                Get us on the go! Download the Uncle Frank app
                                                                <br />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="padding: 5px 20px;">
                                                                <a href="{{ common.iso_app_download_link }}"><img src="https://unclefrank.com.sg/static/email/btn-app-sm.png" alt="..."></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td padding: 10px 20px;>
                                                                <hr style="border-top-color: rgba(255, 255, 255, 0.2)">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center; font-size:18px; line-height: 18px; font-weight: 600;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: rgba(255, 255, 255, 0.9); padding: 10px 20px;">
                                                                Singapore
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center; font-size:12px; line-height: 20px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: rgba(255, 255, 255, 0.8); padding: 0px 20px 10px;">
                                                                {{ common.company_address }}<br /> Tel: {{ common.company_phone_no }} <br/> Email: {{ common.company_email }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center; font-size:10px; line-height: 20px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: rgba(255, 255, 255, 0.8); padding: 0px 20px 10px;">
                                                                &copy; 2016 Uncle Frank. All Rights Reserved.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- end title bar -->
        </tbody>
    </table>
</body>

</html>
