{% extends "base/page_layout.html" %}
{% load staticfiles %}

    {% block nav_top %}                                    
        {% include "base/nave_top.html" %}
    {% endblock %}


    {% block content_banner %}
    <section style="background-image: url('{% static 'base/images/banner/1.jpg' %}');" class="brick brick-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

    {% block content %}
    <div class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3 brick-heading brick-heading-pages text-center">
                    <h2 class="bh-title">Careers</h2>
                    <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis <a href="">careers@unclefrank.com.</a></p>
                </div>
            </div>
            <div class="careers">
                <div class="career">
                    <h4 class="job-name">Ultricies Amet Bibendum Tortor</h4>
                    <p>
                        Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean  lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                    <ul class="list-unstyled jobs-meta-lists">
                        <li>Sit Ipsum Nibh Ultricies</li>
                        <li>Porta Dolor Tellus</li>
                        <li>Ornare Fermentum Etiam</li>
                    </ul>
                </div>
                <div class="career">
                    <h4 class="job-name">Ultricies Amet Bibendum Tortor</h4>
                    <p>
                        Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean  lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                    <ul class="list-unstyled jobs-meta-lists">
                        <li>Sit Ipsum Nibh Ultricies</li>
                        <li>Porta Dolor Tellus</li>
                        <li>Ornare Fermentum Etiam</li>
                    </ul>
                </div>
                <div class="career">
                    <h4 class="job-name">Ultricies Amet Bibendum Tortor</h4>
                    <p>
                        Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean  lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                    <ul class="list-unstyled jobs-meta-lists">
                        <li>Sit Ipsum Nibh Ultricies</li>
                        <li>Porta Dolor Tellus</li>
                        <li>Ornare Fermentum Etiam</li>
                    </ul>
                </div>
                <div class="career">
                    <h4 class="job-name">Ultricies Amet Bibendum Tortor</h4>
                    <p>
                        Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean  lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                    <ul class="list-unstyled jobs-meta-lists">
                        <li>Sit Ipsum Nibh Ultricies</li>
                        <li>Porta Dolor Tellus</li>
                        <li>Ornare Fermentum Etiam</li>
                    </ul>
                </div>
                <div class="career">
                    <h4 class="job-name">Ultricies Amet Bibendum Tortor</h4>
                    <p>
                        Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean  lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                    <ul class="list-unstyled jobs-meta-lists">
                        <li>Sit Ipsum Nibh Ultricies</li>
                        <li>Porta Dolor Tellus</li>
                        <li>Ornare Fermentum Etiam</li>
                    </ul>
                </div>
                <div class="career">
                    <h4 class="job-name">Ultricies Amet Bibendum Tortor</h4>
                    <p>
                        Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean  lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                    <ul class="list-unstyled jobs-meta-lists">
                        <li>Sit Ipsum Nibh Ultricies</li>
                        <li>Porta Dolor Tellus</li>
                        <li>Ornare Fermentum Etiam</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}