{% extends "base/page_layout.html" %}
{% load staticfiles %}
    {% block extracss %}
        <link href="{% static 'base/css/formValidation.min.css' %}" rel="stylesheet">
    {% endblock %}

    {% block content_banner %}

        <input id="address" type="hidden" value="{{ contactus.contact_location }}">
       <section class="brick brick-banner brick-banner-contact no-pointer-event">
        <div class="google-map" id="google-map" style="height: 450px; width: 100%">

        </div>
        <div class="banner-contact-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="map-location">
                            <h5 class="montserret bold mt-0">
                              {% if contactus.addr_title %}
                                  {{ contactus.addr_title }}
                              {% else %}
                                  abcd
                              {% endif %}


                            </h5>
                            <p>
                              {% if contactus.contact_location %}
                                  {{ contactus.contact_location }}
                              {% else %}
                                  addr
                              {% endif %}
                            </p>
                            <div class="loc">
                                Tel:
                                {% if contactus.addr_tel %}
                                    {{ contactus.addr_tel }}
                                {% else %}
                                    abcd
                                {% endif %}
                                <br>
                                Fax:
                                {% if contactus.addr_fax %}
                                    {{ contactus.addr_fax }}
                                {% else %}
                                    abcd
                                {% endif %}
                                <br>
                                Email:
                                {% if contactus.addr_email %}
                                    {{ contactus.addr_email }}
                                {% else %}
                                    abcd
                                {% endif %}
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

    {% block content %}

   <div class="brick brick-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 brick-heading brick-heading-pages text-center">
                    <h2 class="bh-title">
                      {% if contactus.title %}
                          {{ contactus.title }}
                      {% else %}
                          abcd
                      {% endif %}

                    </h2>
                    <p>
                      {% if contactus.desc %}
                          {{ contactus.desc|safe }}
                      {% else %}
                          abcd
                      {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
            {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
                <div class="col-md-10 col-md-offset-1">
                    <form method= 'POST' action="" class="form-horizontal form-contact" id="contact_us_form">
                      {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="" class="site-label">First Name</label>
                                <!-- <input type="text" class="form-control site-field"> -->
                                <p class="text-danger">{{ form.first_name.errors }}</p>
                                {{form.first_name}}

                            </div>

                            <div class="col-sm-6">
                                <label for="" class="site-label">Last Name</label>
                                <!-- <input type="text" class="form-control site-field"> -->
                                <p class="text-danger">{{ form.last_name.errors }}</p>
                                {{form.last_name}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="" class="site-label">Email Address</label>
                                <p class="text-danger">{{ form.email_address.errors }}</p>
                                {{form.email_address}}
                                <!-- <input type="email" class="form-control site-field"> -->
                            </div>

                            <div class="col-sm-6">
                                <label for="" class="site-label">Company</label>
                                <p class="text-danger">{{ form.country.errors }}</p>
                                {{form.company}}
                                <!-- <input type="text" class="form-control site-field"> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="" class="site-label">Country</label>
                                <p class="text-danger">{{ form.country.errors }}</p>
                                {{form.country}}
                                <!-- <input type="text" class="form-control site-field"> -->
                            </div>

                            <div class="col-sm-6">
                                <label for="" class="site-label">Phone</label>
                                <p class="text-danger">{{ form.phone.errors }}</p>
                                {{form.phone}}
                                <!-- <input type="text" class="form-control site-field"> -->
                            </div>
                        </div>

                        <!-- SUBJECT FIELD -->
                         <div class="form-group">
                            <div class="col-sm-6">
                                <label for="" class="site-label">Subject</label>
                                <p class="text-danger">{{ form.subjects.errors }}</p>
                                {{form.subjects}}
                                <!-- <select class="form-control select-styled site-field">
                                    <option value="" selected="selected">Please Select Subject</option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="" class="site-label">Message</label>
                                <p class="text-danger">{{ form.message.errors }}</p>
                                {{form.message}}
                                <!-- <textarea class="form-control site-field"></textarea> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="" class="site-label">Track ID</label>
                                <p class="text-danger">{{ form.track_id.errors }}</p>
                                {{form.track_id}}
                                <!-- <input type="text" class="form-control site-field"> -->
                            </div>
                        </div>
                        <button type="submit" name="submitButton" class="btn btn-secondary fs-13 gotham bold large uppercase unstroke plr-30">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block extrajs %}

    <script type="text/javascript" src="{% static 'base/js/formValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/framework/bootstrap.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#contact_us_form').formValidation({
              framework: 'bootstrap',
                  icon: {
                      valid: 'glyphicon glyphicon-ok',
                      invalid: 'glyphicon glyphicon-remove',
                      validating: 'glyphicon glyphicon-refresh'
                  },
                  err: {
                      // You can set it to popover
                      // The message then will be shown in Bootstrap popover
                      container: 'tooltip'
                  },
                    fields: {
                        first_name: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'First name is required'
                                }
                            }
                        },
                        last_name: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Last name is required'
                                }
                            }
                        },
                        email_address: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Email address is required'
                                },
                                emailAddress: {
                                    message: 'The value is not a valid email address'
                                },
                                regexp: {
                                    regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                                    message: 'The value is not a valid email address'
                                }
                            }
                        },

                        company: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Company is required'
                                }
                            }
                        },

                        country: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Country is required'
                                }
                            }
                        },
                        phone: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Phone number is required'
                                },
                                integer: {
                                    message: 'The value is not a Number'
                                }
                            }
                        },
                        message: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Message is required'
                                }
                            }
                        },
                        track_id: {
                            row: '',
                            validators: {
                                notEmpty: {
                                    message: 'Track ID is required'
                                }
                            }
                        },
                    }
                });
        });
    </script>


    <script>
          var map;
          var geocoder;
          function initMap() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(1.3521, 103.8198);
            var mapOptions = new google.maps.Map(document.getElementById('google-map'), {
              zoom: 17,
              center: latlng
            });
//            codeAddress(document.getElementById('address').value);
            map = new google.maps.Map(document.getElementById('google-map'), mapOptions);
//            alert(map);
            codeAddress(document.getElementById('address').value);

          }

          function codeAddress(address) {
//            var address = document.getElementById('address').value;
            console.log(address);
            geocoder.geocode( { 'address': address }, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    title: address
                });
              } else {
                alert('Geocode was not successful for the following reason: ' + status);
              }
            });
          }
//   function initMap() {
//        var uluru = {lat: -34.397, lng: 150.644 };
//        var map = new google.maps.Map(document.getElementById('google-map'), {
//          zoom: 4,
//          center: uluru
//        });
//        var marker = new google.maps.Marker({
//          position: uluru,
//          map: map
//        });
//      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&callback=initMap">
    </script>
    {% endblock %}
