{% extends "base/page_layout.html" %}
{% load staticfiles %}

    {% block content_banner %}
       <section class="brick brick-banner brick-banner-contact no-pointer-event">
        <div class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d58406.779028056815!2d90.3642969!3d23.8035283!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1469451248968" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="banner-contact-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="map-location">
                            <h5 class="montserret bold mt-0">Uncle Frank</h5>
                            <p>
                                123 Lorem Ipsum Acet, #01-23
                                Magnum Vestibulum, Singapore 123456
                            </p>
                            <div class="loc">
                                Tel: 65 1234 5678<br>
                                Fax: 65 1234 5678<br>
                                Email: info@website.com.sg<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

    {% block content %}
   
   <div class="brick brick-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 brick-heading brick-heading-pages text-center">
                    <h2 class="bh-title">Contact us</h2>
                    <p>We have received your message, we will get back to you shortly</p>
                </div>
            </div>
        </div>
    </div>
   
    {% endblock %}