{% extends "frontend/frontend_layout.html" %}
{% load staticfiles %}

    {% block content %}
        <section class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="ph-sub-title fs-34">
                        {{ privacy.title }}
                    </h2>
                </div>
                <div class="col-sm-12">
                    <div class="row notify-bar bg-ligher">
                    <div class="col-sm-12">
                            {{ privacy.description|safe }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="vessel vessel-vtop has-content-right">
        <div class="ve-cell ve-content ve-right">
                <div class="col-sm-12 brick-heading brick-heading-pages text-center">
                    <div class="ab-feat-content">
                    <h2 class="bh-title"></h2>
                    </div>
                </div>
        </div>
    </div>
   
    {% endblock %}