{% extends "base/page_layout.html" %}
{% load staticfiles %}

    {% block content %}
    <div class="vessel vessel-vtop has-content-right vessel-service-big">
        <div style="background-image: url('{% if services.image1 %}{{ services.image1.url }}{% else %}{% static 'base/images/banner/1.jpg' %}{% endif %}');" class="ve-cell ve-image image-cover ve-left"></div>
        <div class="ve-cell ve-content ve-right">
            <article class="ve-article">
                <h2 class="ve-title">
                  {% if services.title1 %}
                      {{ services.title1 }}
                  {% else %}
                      Courier Service
                  {% endif %}
                </h2>
                <div class="note">
                  {% if services.desc1 %}
                      {{ services.desc1|safe }}

                    {% endif %}
                </div>
                <h4 class="montserret bold fs-18 uppercase text-color mb-35">LOYALTY REWARDS</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="reward-item text-center">
                            <img src="{% if services.rewards1_image %}{{ services.rewards1_image.url }}{% endif %}" alt="NORMAL" title="NORMAL" class="ri-image">
                            <h5 class="ri-title">
                              {% if services.rewards1_text %}
                                  {{ services.rewards1_text }}
                              {% else %}
                                  Normal
                              {% endif %}
                            </h5>
                              {% if services.rewards1_desc %}
                                  {{ services.rewards1_desc|safe }}
                              {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="reward-item text-center">
                            <img src="{% if services.rewards2_image %}{{ services.rewards2_image.url }}{% endif %}" alt="BRONZE" title="BRONZE" class="ri-image">
                            <h5 class="ri-title">
                              {% if services.rewards2_text %}
                                  {{ services.rewards2_text }}
                              {% else %}
                                  Bronze
                              {% endif %}
                            </h5>
                    
                              {% if services.rewards2_desc %}
                                  {{ services.rewards2_desc|safe }}
                              {% endif %}
                                
                       
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="reward-item text-center">
                            <img src="{% if services.rewards3_image %}{{ services.rewards3_image.url }}{% endif %}" alt="SILVER" title="SILVER" class="ri-image">
                            <h5 class="ri-title">
                              {% if services.rewards3_text %}
                                  {{ services.rewards3_text }}
                              {% else %}
                                  Normal
                              {% endif %}
                            </h5>
          
                              {% if services.rewards3_desc %}
                                  {{ services.rewards3_desc|safe }}
                              {% endif %}
                               
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="reward-item text-center">
                            <img src="{% if services.rewards4_image %}{{ services.rewards4_image.url }}{% endif %}" alt="GOLD" title="GOLD" class="ri-image">
                            <h5 class="ri-title">
                              {% if services.rewards4_text %}
                                  {{ services.rewards4_text }}
                              {% else %}
                                  Gold
                              {% endif %}
                            </h5>
                           
                              {% if services.rewards4_desc %}
                                  {{ services.rewards4_desc|safe }}
                              {% endif %}

                            
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="vessel vessel-vtop has-content-left">
        <div class="ve-cell ve-content ve-right">
            <article class="ve-article">
                <h2 class="ve-title">

                  {% if services.title2 %}
                      {{ services.title2 }}
                  {% else %}
                      Passenger Pickup
                  {% endif %}

                </h2>
                <div class="note">
                      {% if services.desc2 %}
                          {{ services.desc2|safe }}
                      {% endif %}

     
                </div>
                <h4 class="montserret bold fs-18 uppercase text-color mb-35">INVITE FRIENDS</h4>
                <div class="list-has-image">
                    <div class="li-image">
                        <img src="{% if services.small_icon %}{{ services.small_icon.url }}{% endif %}" alt="...">
                    </div>
                    <div class="note">
                      {% if services.small_icon_desc %}
                          {{ services.small_icon_desc|safe }}
                    
                      {% endif %}

                    </div>
                </div>
            </article>
        </div>
        <div style="background-image: url('{% if services.image2 %}{{ services.image2.url }}{% else %}{% static 'base/images/banner/1.jpg' %}{% endif %}');" class="ve-cell ve-image image-cover ve-left"></div>
    </div>

    <div class="brick brick-delivery-booking">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3 brick-heading brick-heading-pages mb-50 text-center">
                    <h2 class="bh-title">

                      {% if services.title3 %}
                          {{ services.title3}}
                      {% endif %}


                    </h2>
                

                      {% if services.desc3 %}
                          {{ services.desc3|safe}}
                      {% endif %}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="delivery-holder">
                        <ul class="nav nav-pills nav-justified nav-delivery-booking" role="tablist">
                            <li role="presentation"><a href="#delivery__1" aria-controls="delivery__1" role="tab" data-toggle="tab">
                              {% if services.tab1 %}
                                  {{ services.tab1}}
                              {% else %}
                                  SAME DAY DELIVERY
                              {% endif %}

                            </a></li>
                            <li role="presentation" class="active"><a href="#delivery__2" aria-controls="delivery__2" role="tab" data-toggle="tab">
                              {% if services.tab2 %}
                                  {{ services.tab2}}
                              {% else %}
                                  NEXT DAY DELIVERY
                              {% endif %}
                            </a></li>
                            <li role="presentation"><a href="#delivery__3" aria-controls="delivery__3" role="tab" data-toggle="tab">
                              {% if services.tab3 %}
                                  {{ services.tab3}}
                              {% else %}
                                  SAME DAY DELIVERY
                              {% endif %}


                            </a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="delivery__1">
                                {% if services.tab1_desc %}
                                  {{ services.tab1_desc|safe }}
                                {% endif %}
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="delivery__2">
                                {% if services.tab2_desc %}
                                  {{ services.tab2_desc|safe }}
                                {% endif %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="delivery__3">
                                {% if services.tab3_desc %}
                                  {{ services.tab3_desc|safe }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="brick brick-how-work">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3 brick-heading brick-heading-pages mb-50 text-center">
                    <h2 class="bh-title">
                      {% if services.title4 %}
                          {{ services.title4}}
                      {% else %}
                          How it Works
                      {% endif %}

                    </h2>
                    <p>
                      {% if services.desc4 %}
                          {{ services.desc4|safe }}
                      {% endif %}
                    </p>

                </div>
            </div>

                <div class="how-work-slider">
                <div class="swiper-container hs-slider">
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{% if services.slider_image1 %}{{ services.slider_image1.url }}{% else %}{% static 'base/images/work/1.jpg' %}{% endif %}" alt="...">
                        </div>
                        <div class="swiper-slide">
                            <img src="{% if services.slider_image2 %}{{ services.slider_image2.url }}{% else %}{% static 'base/images/work/1.jpg' %}{% endif %}" alt="...">
                        </div>
                        <div class="swiper-slide">
                            <img src="{% if services.slider_image3 %}{{ services.slider_image3.url }}{% else %}{% static 'base/images/work/1.jpg' %}{% endif %}" alt="...">
                        </div>
                        <div class="swiper-slide">
                            <img src="{% if services.slider_image4 %}{{ services.slider_image4.url }}{% else %}{% static 'base/images/work/1.jpg' %}{% endif %}" alt="...">
                        </div>
                        <div class="swiper-slide">
                            <img src="{% if services.slider_image5 %}{{ services.slider_image5.url }}{% else %}{% static 'base/images/work/1.jpg' %}{% endif %}" alt="...">
                        </div>
                    </div>
                    
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block extracss %}
       <link href="{% static 'base/plugins/swiper/css/swiper.min.css' %}" rel="stylesheet">
    {% endblock %}
    {% block extrajs %}
        <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'base/plugins/browserclass.js' %}"></script>
       <script src="{% static 'base/plugins/swiper/js/swiper.jquery.min.js' %}"></script>
       <script>
        $(document).ready(function(){
            "use strict";
            var swiper = new Swiper('.hs-slider', {
                pagination: '.swiper-pagination',
                pagination: '.swiper-pagination',
                paginationClickable: true,
                paginationBulletRender: function (index, className) {
                    return '<span class="' + className + '">' + (index + 1) + '</span>';
                },
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 'auto',
                loop: true,
                coverflow: {
                    rotate: 0,
                    stretch: 0,
                    depth: 0,
                    modifier: 1,
                    slideShadows : false
                }
            });
        });
    </script>

    {% endblock %}
