{% extends "frontend/frontend_layout.html" %}
{% load staticfiles %}
    {% block topnav %}                                 
    <nav class="navbar navbar-default navbar-base navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <span class="navbar-brand">
                    <img src="{% if common.logo %}{{ common.logo.url }}{% else %}{% static 'frontend/images/logo.png' %}{% endif %}" alt="Uncle Frank">
                </span>
            </div>
           
        </div>
    </nav>
    {% endblock %}

    {% block content %}
        <section class="brick">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="ph-sub-title fs-34">
                        {{ terms.title }}
                    </h2>
                </div>
                <div class="col-sm-12">
                    <div class="row notify-bar bg-ligher">
                    <div class="col-sm-12">
                            {{ terms.description|safe }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="vessel vessel-vtop has-content-right">
        <div class="ve-cell ve-content ve-right">
                <div class="col-sm-12 brick-heading brick-heading-pages text-center">
                    <div class="ab-feat-content">
                    <h2 class="bh-title"></h2>
                    </div>
                </div>
        </div>
    </div>
   
    {% endblock %}
    {% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="footer-topbar">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="foo-col text-center">
                            <img width="100" src="{% static 'frontend/images/logo-white.png' %}" alt="uncle frank">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-foobar">
                <div class="row">
                    <div class="col-sm-5 text-right-sml">
                        <span class="copy-info">&copy; 2016 Uncle Frank. All Rights Reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
