.panel {
	&.panel-base {
		.panel-title {
			.mon-normal;
			font-size: 18px;
			.btn {
				&.btn-sm {
					padding: 3px 18px;
					margin-left: 10px;
				}
			}
			.pt-span {
				.mon-lighter;
				color: #666;
				padding-left: 30px;
				text-transform: none;
			}
		}

		.table {
			color: @text-color;
			a {
				text-decoration: none;
			}
			tr {
				th {
					color: #a3afb7;
				}
			}

			&.table-label {
				color: #666;
			}
		}
	}

	&.panel-dark {
		.panel-title {
			color: @white;
		}
	}

	&.panel-uncle {
		img {
			margin-top: 20px;
		}
		.title {
			font-size: 26px;
			margin-top: 30px;
		}
	}

	&.square {
		.border-radius(0);
		.panel-heading {
			.border-radius(0);
		}
	}

	&.has-link {
		.panel-heading {
			display: block;
			border-bottom: 1px solid @white;
		}
	}
}

.panel {
	&.panel-gray {
		.panel-heading {
			background-color: #e7e8e9;
		}
		.panel-body {
			background-color: #e7e8e9;
		}
	}
	&.panel-light-gray {
		.panel-heading {
			background-color: #edeeef;
		}
		.panel-body {
			background-color: #edeeef;
		}
	}
	&.panel-xlight-gray {
		.panel-heading {
			background-color: #f2f2f3;
		}
		.panel-body {
			background-color: #f2f2f3;
		}
	}
}

.well-add-mdelivery {
	position: relative;
	width: 100%;
	.add-more-item-delivery {
		display: block;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		.quicksand;
		font-size: 18px;
		color: @title-color;
		font-weight: 700;
		text-align: center;
		padding: 30px;

		i {
			margin-right: 30px;
		}

		>span {
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}
}

.td-denote {
	position: relative;
	.note {
		padding-right: 65px;
		overflow: hidden;
	}
	img {
		float: right;
	}
}
.well {
	.well-title {
		.mon-normal;
		text-transform: uppercase;
		margin: 0 0 20px;
	}
	&.well-enq {
		background-color: #f6f6f6;
		border: 0;
		padding: 30px;		
		.border-radius(0);
		box-shadow: none;
		margin-bottom: 30px;
	}
}

.panel {
	&.has-hplink {
		position: relative;
		.hplink {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}


/* New */
.pages-heading {
	.mon-lighter;
	font-size: 34px;
	margin: 0 0 30px;
}
.state-bk-id {
	.mon-normal;
	font-size: 21px;
	color: @brand-primary;
	small {
		.mon-lighter;
		font-size: 13px;
		color: #999;
	}
}

.collect-lists {
	margin-bottom: 0;
	li {
		padding-left: 24px;
		display: block;
		color: @text-color-light;
		position: relative;
		margin-bottom: 5px;

		i {
			position: absolute;
			left: 0;
			top: 4px;
			color: #ddd;
		}
	}
}
.panel-in-hr {
	margin-left: -30px;
	margin-right: -30px;
}

.mef-holder {
	margin-top: 50px;
}

.input-brick {
	.control-label {
		.mon-normal;
		color: @brand-primary;
		text-transform: uppercase;
		text-align: left;
		font-weight: normal;
	}
	.input-lg {
		font-size: 15px;
		height: 48px;
	}
	.form-control[disabled]{
		background-color: #e8e8e8;
	}
	.btn-file {
		&.btn-ufile {
			font-family: @Gotham-Medium;
			font-size: 12px;
			text-transform: uppercase;
			padding: 13.5px 20px;
		}
	}
}

.mef-title {
	border-bottom: 1px solid @border-color;
	padding-bottom: 12px;
	margin: 0 0 25px;
	text-transform: uppercase;
}

.nav {
	&.nav-dash-list {
		margin-left: -3px;
		margin-right: -3px;
		margin-bottom: 25px;
		li {
			float: left;
			width: 50%;
			padding: 0 6px;
			a {
				display: block;
				.mon-normal;
				font-size: 21px;
				text-align: center;
				color: #666666;
				text-transform: uppercase;
				background-color: #e8e8e8;
				padding: 23px 15px;
				.border-radius(4px);
			}

			&.active {
				a {
					background-color: @brand-secondary;
					color: @white;
				}
			}
		}
	}
}

.white-stroke {
	height: 10px;
	display: block;
	background-color: @white;
	margin-bottom: 50px;
	margin-left: -30px;
	margin-right: -30px;
	position: relative;
}

.btn {
	&.btn-step {
		&.btn-lg {
			padding: 14.5px 30px;
			min-width: 170px;
		}
	}
}

.table {
	&.table-label {
		tr {
			td {
				border: none;
			}
			&:nth-child(odd) {
				background-color: #f8f8f8;
			}
		}
	}
}

.nav {
	&.nav-steps {
		background-color: @white;
		border: 1px solid #dfdfdf;
		margin-bottom: 30px;
		.border-radius(4px);
		box-shadow: 0 1px 3px rgba(13, 14, 14, 0.1);
		li {
			a {
				background-color: @white;
				.mon-normal;
				font-size: 16px;
				text-transform: uppercase;
				color: #999;
				padding: 21px 15px;
				overflow: inherit;
				cursor: not-allowed;

				.badge {
					font-size: 13px;
					color: #737373;
					display: inline-block;
					min-width: 23px;
					min-height: 23px;
					margin-right: 9px;
					background-color: #dcdcdc;
					.border-radius(30px);
				}
			}

			&:first-child {
				a {
					.border-radius(4px 0 0 4px);
				}
			}
			&:last-child {
				a {
					.border-radius(0 4px  4px 0);
				}
			}

			&.active {
				a {
					position: relative;
					color: @gray-dark;
					cursor: pointer;
					.badge {
						background-color: @brand-primary;
						color: @white;
					}
					&:before, &:after {
						content: " ";
						position: absolute;
					}
					&:before {
						display: block;
						width: 100%;
						height: 3px;
						background-color: @brand-primary;
						left: 0;
						bottom: 0;
					}
					&:after {
						border: 8px solid transparent;
						border-top-color: @brand-primary;
						width: 0;
						height: 0;
						left: 50%;
						top: 100%;
						z-index: 100; 
					}
				}
			}
		}
	}
}

.vmid-title {
	vertical-align: middle;
	span, button {
		vertical-align: middle;
		display: inline-block;
	}
	span {
		padding-top: 13px;
	}
}

.input-inline-list {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		display: table-cell;
		vertical-align: middle;

		.inlist-span {
			.mon-normal;
			font-size: 15px;
			display: inline-block;
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}

.view-upfile {
	width: 100%;
	.vu-cell {
		display: table-cell;
		vertical-align: bottom;
		.vi-image {
			padding-right: 14px;
			img {
				max-width: 130px;
				height: auto;
			}
		}
		.vu-file-name {
			font-size: 15px;
			color: #333;
			margin-bottom: 12px;
		}
		.btn {
			&.btn-default {
				background-color: #e8e8e8;
				border: 1px solid #e0e0e0;
				color: #666;
			}
		}
	}
}

.package-card {
	background-color: #f6f6f6;
	padding: 30px 35px;
	position: relative;
	margin-bottom: 30px;
	.pc-title {
		.mon-normal;
		font-size: 18px;
		margin: 0 0 20px;
	}
	.card-close {
		position: absolute;
		top: 13px;
		right: 14px;
	}
}

.me-quantity {
	position: relative;
	.btn-qty {
		position: absolute;
		right: 1px;
		width: 36px;
		height: 23px;
		text-indent: -9999px;
		text-align: center;
		background-color: transparent;
		background-image: url('../../assets/images/qt-arrow.png');
		background-repeat: no-repeat;
		background-size: 12px 20px;
		&.qty-minus {
			bottom: 1px;
			background-position: 50% -13px;
		}
		&.qty-plus {
			top: 1px;
			background-position: 50% 13px;
		}
	}
}

.field-has-icon {
	position: relative;
	img {
		position: absolute;
		top: 50%;
		right: 14px;
		pointer-events: none;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);

	}
}

.cole-info {
	p {
		font-size: 15px;
		margin-bottom: 35px;
	}
}
.collect-lists {
	margin: 0 0 56px;
	padding: 0;
	list-style: none;
	display: table;
	table-layout: fixed;
	width: 100%;
	position: relative;

	li {
		display: table-cell;
		vertical-align: top;
		width: 1%;
		background-color: #f6f6f6;
		padding: 23px;
		border-right: 1px solid #e1e1e1;
		.cl-content {
			padding-left: 48px;
			position: relative;
			.cl-icon {
				position: absolute;
				left: 0;
				top: 0;
				font-size: 36px;
				line-height: 1;
				color: #c8c8c8;
			}
			.cl-title {
				.mon-normal;
				text-transform: uppercase;
				font-size: 15px;
				color: @brand-primary;
				margin: 0 0 5px;
			}
			.note {
				font-size: 15px;
				color: @title-color;
			}
		}
		&:nth-child(2n+2) {
			border-right: none;
		}
	}
}
.hr-in-panel {
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: -30px;
	margin-right: -30px;
}
.package-item {
	&.selected-package {
		.pk-price {
			color: @brand-primary;
		}
		.view-upfile {
			.vu-cell {
				vertical-align: top;
				&.denote {
					.vu-file-name {
						.mon-normal;
						font-size: 15px;
						margin: 0;
					}
					p {
						font-size: 15px;
						color: #666;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.breakdown-lists {
	margin: 35px 0 0;
	padding: 0;
	list-style: none;
	max-width: 284px;
	li {
		width: 100%;
		color: #666;
		padding: 6px 0;
		span {
			display: table-cell;
			vertical-align: middle;
			width: 1%;
			font-size: 15px;
			&:last-child {
				text-align: right;
			}
		}
	}
}

.has-abs {
	position: relative;
	.pay-amount {
		.mon-lighter;
		font-size: 40px;
		color: @brand-primary;
		position: absolute;
		right: 0;
		top: -13px;
	}
}

.btn-step-group {
	.btn {
		margin-right: 18px;
		&:last-child {
			margin-right: 0;
		}
	}
}

