
.form-control {
	color: @text-color;
	&.square {
		.border-radius(0);
	}
	&.large {
		height: 56px;
		padding: 10px 20px;
	}


	&.select-styled {
		background-image: url('../../assets/images/arrow-down-default.png');
		background-position: right center; 
		background-repeat: no-repeat;
		background-size: 30px 7px;
		padding-right: 35px;

		-webkit-user-select: none;
		-moz-user-select: -moz-none;
		-ms-user-select: none;
		user-select: none;

		-webkit-appearance: none;
		-moz-appearance: none;
			 appearance: none;
	}

}


.file-button {
	overflow: hidden;
	input {
		&.inputfile {
			+ label {
				background-color: @brand-primary;
				cursor: pointer;
			    font-size: 18px;
			    font-weight: 700;
			    color: @white;
			    white-space: nowrap;
			    width: 100%;
			    display: block;
			    text-align: center;
			    cursor: pointer;
			    overflow: hidden;
			    padding: 14px 15px;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    margin: 0;
			}
		}
	}
}
.js {
	.file-button {
		input {
			&.inputfile {
				width: 0.1px;
			    height: 0.1px;
			    opacity: 0;
			    overflow: hidden;
			    position: absolute;
			    z-index: -1;

				+ label {
					
				}
			}
		}
	}
}
.no-js {
	.file-button {
		input {
			&.inputfile {
				+ label {
					display: none;
				}
			}
		}
	}
}

.input-card {
	background-color: @white;
	overflow: hidden;
	border: 1px solid @border-color;

	.input-grid {
		&:before, &:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
		.grid-row {
			&:before, &:after {
				content: " ";
	    		display: table;
			}
			&:after {
				clear: both;
			}
			.ifield {
				float: left;
				position: relative;
				width: 100%;
				height: 56px;
				padding: 10px 20px;
				margin-top: -1px;
				border: 0;
				border-top: 1px solid @border-color;
				border-bottom: 1px solid @border-color;
				.border-radius(0);

				&.select-styled {
					background-image: url('../../assets/images/arrow-down-sm.png');
					background-size: 30px 8px;
				}
			}
			textarea {
				&.ifield {
					min-height: 148px;
					&.textarea-hauto {
						height: auto;
						min-height: auto;
					}
					&.ah-auto {
						height: auto;
						min-height: auto;
					}
				}
			}

			&.file-button {
				&.has-field {
					input {
						&.inputfile {
							+label {
								&:before, &:after {
									content: " ";
						    		display: table;
								}
								&:after {
									clear: both;
								}
								background-color: transparent;
								padding: 0;
								font-size: 14px;
								.file-name, .upload-btn {
									float: left;
									padding: 17px 15px;
								}
								.file-name {
									background-color: @white;
									font-family: @base-font;
									font-size: 14px;
									font-weight: normal;
									color: @mute-color;
									overflow: hidden;
									white-space: nowrap;
									text-overflow: ellipsis;

								}
								.upload-btn {
									background-color: @brand-primary;
									&:hover, &:focus {
										background-color: darken(@brand-primary, 7%)
									}
								}
							}
						}
					}
				}
			}
		}

		&.has-label {
			.grid-row {
				.gr-col {
					float: left;
					position: relative;
					width: 100%;
					.ifield {
						float: none;
						width: 100%;
						color: #37474f;
					}
					.me-float-label {
						color: #ddd;
					}
					
				}
			}
		}

		&.one {
			.grid-row {
				.ifield {
					width: 100%;
				}
			}
			&.has-label {
				.grid-row {
					.gr-col {
						width: 100%;
						.ifield {
							width: 100%;
						}
					}
				}
			}
		}

		&.two {
			.grid-row {
				.ifield {
					width: 50%;
					border-left: 1px solid @border-color;
					&:nth-child(1){
						border-left: 0;
					}
					@media @xsOnly {
						width: 100%;
						border-left: none;
					}
				}

				&.file-button {
					&.has-field {
						input {
							&.inputfile {
								+label {
									.file-name, .upload-btn {
										width: 50%;
									}
									.file-name {
										text-align: left;
									}
								}
							}
						}
					}
				}
			}
			&.has-label {
				.grid-row {
					.gr-col {
						width: 50%;
						.ifield {
							width: 100%;
							border-left: 1px solid @border-color;
						}
						&:nth-child(1){
							.ifield {
								border-left: 0;
							}
						}
					}
				}
			}
		}

		&:last-child {
			.grid-row {
				.ifield {
					border-bottom: 0;
				}
			}
		}


	}
}


.checkbox-xlg {
	padding-left: 70px;

	label {
		padding-left: 0;
		&:before, &:after {
			width: 32px;
			height: 32px;
			margin-left: -70px;
			top: 5px;
		}
	}

	input[type="checkbox"] {
		width: 32px;
		height: 32px;

		&:checked {
			+label {
				&:after {
					font-size: 20px;
					line-height: 30px;
				}
			}
		}
	}

	&.checkbox-custom {
		label {
			&:before {
				width: 32px;
				height: 32px;
				border-color: @text-color;
			}
		}
	}
}

.btn {
	&.btn-up-file {
		position: relative;
		input[type="file"] {
			cursor: pointer;
		    display: block;
		    left: 0;
		    min-height: 100%;
		    min-width: 100%;
		    opacity: 0;
		    position: absolute;
		    top: 0;
		}
	}
}


/* new */
.has-need {
	position: relative;
	label {
		background-color: @white;
		position: absolute;
		top: 12px;
		left: 19px;
		font-size: 15px;
		font-weight: normal;
		color: #a3afb7;
		margin-bottom: 0;
		pointer-events: none;
		.transition(all, 0.1s, ease-in);
		span {
			color: @brand-primary;
		}
	}
	&.has-select {
		label {
			left: 23px;
		}
		.select-styled {
			option {
				
			}
		}
	}
}
.checkbox-site {
	display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 26px;
    position: relative;
    label {
    	display: inline-block;
	    padding-left: 10px;
	    position: relative;
	    vertical-align: middle;
	    cursor: pointer;
	    font-weight: 300;
	    margin-bottom: 0;
	    min-height: 19px;
	    color: #666;

	    a {
	    	color: @brand-secondary;
	    	text-decoration: underline;
	    }

	    &:before {
	    	content: "";
			background-image: url('../../assets/images/checkbox.png');
			background-repeat: no-repeat;
			background-position: left -19px;
			background-size: 19px 38px;
		    display: inline-block;
		    height: 19px;
		    left: 0;
		    margin-left: -26px;
		    position: absolute;
		    transition: all 0.3s ease-in-out 0s;
		    width: 19px;
	    }

	    span {
	    	display: inline-block;
	    	margin-top: -4px;
	    }
    }
    input[type*="checkbox"] {
    	height: 19px;
	    width: 19px;
	    position: absolute;
	    margin-left: -26px;
	    margin-top: 0;
	    margin-bottom: 0;
	    line-height: normal;
	    z-index: 1;
	    .opacity(0);
	    &:checked {
	    	+ label {
	    		&:before {
	    			background-position: left 0px;
	    		}
	    	}
	    }
    }
    
}
