{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}

<!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Book a Service</h1>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <ul class="nav nav-dash-list">
              <li class="active">
                <a href="">
                  <img src="{% static 'dashboard/assets/images/icons/sm/1.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/1-active.png' %}" alt="Courier Service"> 
                  <span class="nd-title">Courier Service</span>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="{% static 'dashboard/assets/images/icons/sm/2.png' %}" data-active-img="{% static 'dashboard/assets/images/icons/sm/2-active.png' %}" alt="Passenger Pickup"> 
                  <span class="nd-title">Passenger Pickup</span>
                </a>
              </li>
            </ul>
        </div>
      </div>

      
      <div class="row">
        <div class="col-md-12">
          <div>
            <ul id="myTabs" class="nav nav-steps nav-justified">
              <li class="active">
                <a href="#tab__cs__setp__1" role="tab" data-toggle="tab"><span class="badge">1</span> collection details</a>
              </li>
              <li>
                <a href="#tab__cs__setp__2" role="tab" data-toggle="tab" onclick="secondLoad()"><span class="badge">2</span> package details</a>
              </li>
              <li>
                <a href="#tab__cs__setp__3" role="tab" data-toggle="tab"><span class="badge">3</span> collection schedule</a>
              </li>
              <li>
                <a href="#tab__cs__setp__4" role="tab" data-toggle="tab"><span class="badge">4</span> service summary</a>
              </li>
              <li>
                <a href="#tab__cs__setp__5" role="tab" data-toggle="tab"><span class="badge">5</span> payment method</a>
              </li>
            </ul>

            <div class="tab-content panel panel-bordered panel-base">
              <div role="tabpanel" class="tab-pane active" id="tab__cs__setp__1">
                <div class="panel-heading">
                    <h3 class="panel-title fs-24 uppercase clearfix">Step 1. <span class="pt-span">Select collection and delivery details.</span>
                    </h3>
                  </div>
                  <div class="panel-body">
                    <form action="" class="form-horizontal">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="well well-enq" data-match-height="well-box-a">
                            <h4 class="well-title">collection INFORMATION</h4>
                            <div class="form-group input-brick">
                              <div class="col-sm-12">
                                <div class="has-need">
                                  <label for="">Collection Address <span>*</span></label>
                                  <input id="collAdd" type="text" class="form-control input-lg">
                                </div>
                              </div>
                            </div>
                            <div class="form-group input-brick">
                              <div class="col-sm-12">
                                <div class="has-need">
                                  <label for="">Name <span>*</span></label>
                                  <input id="collName" type="text" class="form-control input-lg">
                                </div>
                              </div>
                            </div>
                            <div class="form-group input-brick">
                              <div class="col-sm-12">
                                <div class="has-need">
                                    <label for="">Contact Number <span>*</span></label>
                                    <input id="collConNum" type="text" class="form-control input-lg">
                                </div>
                              </div>
                            </div>
                            <div class="form-group input-brick">
                              <div class="col-sm-12">
                                <textarea id="colRemk" class="form-control" placeholder="Remarks"></textarea>
                              </div>
                            </div>
                            <div class="form-group input-brick">
                              <div class="col-sm-6">
                                <input id="refNum" type="text" class="form-control input-lg" placeholder="External Reference Number">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="well well-enq" data-match-height="well-box-a">
                            <h4 class="well-title">DELIVERY INFORMATION</h4>
                            <div class="form-group input-brick">
                              <div class="col-sm-12">
                                <div class="has-need">
                                  <label for="">Delivery Address <span>*</span></label>
                                  <input id="delAdd" type="text" class="form-control input-lg">
                                </div>
                              </div>
                            </div>
                            <div class="form-group input-brick">
                              <div class="col-sm-12">
                                <div class="has-need">
                                  <label for="">Name <span>*</span></label>
                                  <input id="delName" type="text" class="form-control input-lg">
                                </div>
                              </div>
                            </div>
                            <div class="form-group input-brick">
                              <div class="col-sm-12">
                                <div class="has-need">
                                    <label for="">Contact Number <span>*</span></label>
                                    <input id="delConNum" type="text" class="form-control input-lg">
                                </div>
                              </div>
                            </div>
                            <div class="form-group input-brick">
                              <div class="col-sm-12">
                                <textarea id="delRemk" class="form-control" placeholder="Remarks"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12 text-right btn-step-group">
                            <button id="firstNext" class="btn btn-secondary gotham semi fs-15 btn-step btn-lg uppercase">Next step</button>
                        </div>
                      </div>
                  </form>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="tab__cs__setp__2">
                <div class="panel-heading">
                  <h3 class="panel-title fs-24 uppercase clearfix">Step 2. <span class="pt-span">Select package size, weight, and quantity.</span>
                  </h3>
                </div>
                <div class="panel-body">
                  <form action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-5 col-xlg-5">
                            <h4 class="uppercase fs-21 mt-0 mb-30 vmid-title"><span>Package Guide</span></h4>
                            <div class="table-responsive">
                              <table class="table mon-lighter fs-13 table-label">
                                <tbody>
                                  <tr>
                                    <td>XS / Document</td>
                                    <td>22x22x22cm</td>
                                    <td>2Kg</td>
                                  </tr>
                                  <tr>
                                    <td>Small</td>
                                    <td>30x30x30cm</td>
                                    <td>5Kg</td>
                                  </tr>
                                  <tr>
                                    <td>Medium</td>
                                    <td>37x37x37cm</td>
                                    <td>10Kg</td>
                                  </tr>
                                  <tr>
                                    <td>Large</td>
                                    <td>47x47x47cm</td>
                                    <td>20kg</td>
                                  </tr>
                                  <tr>
                                    <td>X Large</td>
                                    <td>52x52x52cm</td>
                                    <td>30Kg</td>
                                  </tr>
                                  <tr>
                                    <td>XX Large</td>
                                    <td>59x59x59cm</td>
                                    <td>40Kg</td>
                                  </tr>
                                  <tr>
                                    <td>XXX Large</td>
                                    <td>63x63x63cm</td>
                                    <td>50Kg</td>
                                  </tr>
                                  <tr>
                                    <td>Custom Parcel</td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Food, flowers, hampers</td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Bulky items/moving service</td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>Custom package</td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </div>
                        <div class="col-md-7 col-xlg-7">
                          <div class="row">
                            <div class="col-md-12">
                              <h4 class="uppercase fs-21 mt-0 mb-15 clearfix vmid-title"><span>Package Guide</span> <button type="button" class="btn btn-secondary mon-normal uppercase pull-right fs-15 btn-lg add-package">+ Add a Package</button>
                              <button type="button" class="btn btn-secondary mon-normal uppercase pull-right fs-15 btn-lg show-package">+ Show</button></h4>
                            </div>
                          </div>
                          <div class="row package-bar">
                            <div class="col-md-6 package-item">
                              <div class="package-card">
                                  <h4 class="pc-title">PACKAGE <span class='pk-count'>1</span></h4>
                                  <div class="form-group input-brick">
                                    <div class="col-sm-12">
                                      <div class="has-need has-select">
                                        <label for="">Package Size <span>*</span></label>
                                        <select class="form-control input-lg select-styled package-size">
                                          <option value="Package Size" selected="selected">Package Size</option>
                                          <option value="XS Document">XS Document</option>
                                          <option value="Medium">Medium</option>
                                          <option value="Custom">Custom</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group input-brick">
                                    <div class="col-sm-6">
                                      <div class="me-quantity">
                                        <div class="sp-input has-need">
                                            <label for="">Quantity<span>*</span></label>
                                            <input type="text" class="form-control input-lg quntity-input" value="0" />
                                        </div>
                                        <a class="btn-qty qty-plus" href="#">+</a>
                                        <a class="btn-qty qty-minus" href="#">-</a>
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <ul class="input-inline-list pk-weigth hide">
                                        <li>
                                          <div class="has-need">
                                            <label for="">Weight <span>*</span></label>
                                            <input type="text" class="form-control input-lg">
                                          </div>
                                        </li>
                                        <li><span class="inlist-span">Kg</span></li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="form-group input-brick pk-custom-weight hide">
                                    <div class="col-sm-12">
                                        <ul class="input-inline-list">
                                          <li>
                                            <div class="has-need">
                                              <label for="">Length <span>*</span></label>
                                              <input type="text" class="form-control input-lg">
                                            </div>
                                          </li>
                                          <li><span class="inlist-span">X</span></li>
                                          <li>
                                            <div class="has-need">
                                              <label for="">Width <span>*</span></label>
                                              <input type="text" class="form-control input-lg">
                                            </div>
                                          </li>
                                          <li><span class="inlist-span">X</span></li>
                                          <li>
                                            <div class="has-need">
                                              <label for="">Height <span>*</span></label>
                                              <input type="text" class="form-control input-lg">
                                            </div>
                                          </li>
                                          <li><span class="inlist-span">cm</span></li>
                                        </ul>
                                    </div>
                                  </div>
                                  <div class="form-group input-brick upload-filebar">
                                    <div class="col-sm-12">
                                      <div class="input-group input-group-file">
                                        <input type="text" class="form-control input-lg" placeholder="Upload an image (optional)">
                                        <span class="input-group-btn">
                                          <span class="btn btn-secondary btn-file btn-ufile">
                                            BROWSE
                                            <input class="upl-image" type="file" name="">
                                          </span>
                                        </span>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="view-upfile hide">
                                    <div class="vu-cell">
                                      <div class="vi-image"><img class="uploaded-image" src="{% static 'dashboard/assets/images/portraits/2.jpg' %}" alt="your image" /></div>
                                    </div>
                                    <div class="vu-cell">
                                      <div class="vu-file-name">imagefilename001here.jpg</div>
                                      <span class="btn btn-default btn-up-file fs-12 uppercase gotham semi btn-afix">
                                          REPLACE IMAGE
                                          <input class="upl-image" type="file" name="">
                                      </span>
                                    </div>
                                  </div>

                                  <a href="#" class="card-close"><img src="{% static 'dashboard/assets/images/close.png' %}" alt="X"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12 text-right btn-step-group">
                          <a href="" class="btn btn-gray gotham semi fs-15 btn-step btn-lg uppercase">go back</a>
                          <button class="btn btn-secondary gotham semi fs-15 btn-step btn-lg uppercase">Next step</button>
                        </div>
                    </div>
                  </form>

                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="tab__cs__setp__3">
                <div class="panel-heading">
                  <h3 class="panel-title fs-24 uppercase clearfix">Step 3. <span class="pt-span">Choose your collection and delivery dates for all your packages.</span>
                  </h3>
                </div>
                <div class="panel-body">
                  <form action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                          <div data-match-height="well-box-a" class="well well-enq mb-40">
                            <h4 class="well-title">COLLECTION DATE &amp; TIME</h4>
                            <p class="fs-15 color-gray-light mb-20 mt-n7">Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                            <div class="form-group input-brick mb-0">
                              <div class="col-sm-6">
                                  <h5 class="fs-15 brand-primary uppercase">COLLECTION DATE</h5>
                                  <div class="field-has-icon">
                                    <input id="collDate" type="text" class="form-control input-lg" data-plugin="bs-date">
                                    <img src="{% static 'dashboard/assets/images/calendar.png' %}" alt="Date">
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <h5 class="fs-15 brand-primary uppercase">COLLECTION TIME</h5>
                                  <div class="field-has-icon">
                                    <select id="collTime" class="form-control input-lg select-styled">
                                      <option value="9:00am">9:00am</option>
                                    
                                    </select>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="cole-info">
                            <h4 class="mt-10 mb-0 uppercase">COLLECTION INFORMATION</h4>
                            <hr class="mt-17 mb-23">
                            <div class="row">
                              <div class="col-md-6">
                                <h5 class="brand-primary mt-0 uppercase fs-15">COLLECTION ADDRESS</h5>
                                <p class="fs-15">Blk 42 Lorong 6 Orchard Road, #04-08 312332</p>
                              </div>
                              <div class="col-md-6">
                                <h5 class="brand-primary mt-0 uppercase fs-15">Name</h5>
                                <p class="fs-15"><span class="mon-normal">Christine Lai</span><br> 9709-8489</p>
                              </div>
                              <div class="col-sm-12">
                                <h5 class="brand-primary mt-0 uppercase fs-15">REMARKS</h5>
                                <p class="fs-15">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor. Sed posuere cons.</p>
                              </div>
                              <div class="col-md-6">
                                <h5 class="brand-primary mt-0 uppercase fs-15">EXTERNAL REFERENCE ID</h5>
                                <p class="fs-15">GW4587263</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div data-match-height="well-box-a" class="well well-enq mb-40">
                            <h4 class="well-title">DELIVERY DATE &amp; TIME</h4>
                            <p class="fs-15 color-gray-light mb-20 mt-n7">Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                            <div class="form-group input-brick mb-0">
                              <div class="col-sm-6">
                                  <h5 class="fs-15 brand-primary uppercase">DELIVERY DATE</h5>
                                  <div class="field-has-icon">
                                    <input id="delDate" type="text" class="form-control input-lg" data-plugin="bs-date">
                                    <img src="{% static 'dashboard/assets/images/calendar.png' %}" alt="Date">
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <h5 class="fs-15 brand-primary uppercase">DELIVERY TIME</h5>
                                  <div class="field-has-icon">
                                    <select id="delTime" class="form-control input-lg select-styled">
                                      <option value="">11:00 am</option>
                                      <option value="">3:00 pm</option>
                                      <option value="">8:00 pm</option>
                                    </select>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="cole-info">
                            <h4 class="mt-10 mb-0 uppercase">DELIVERY INFORMATION</h4>
                            <hr class="mt-17 mb-23">
                            <div class="row">
                              <div class="col-md-6">
                                <h5 class="brand-primary mt-0 uppercase fs-15">DELIVERY ADDRESS</h5>
                                <p class="fs-15">Blk 42 Lorong 6 Orchard Road, #04-08 312332</p>
                              </div>
                              <div class="col-md-6">
                                <h5 class="brand-primary mt-0 uppercase fs-15">Name</h5>
                                <p class="fs-15"><span class="mon-normal">Christine Lai</span><br> 9709-8489</p>
                              </div>
                              <div class="col-sm-12">
                                <h5 class="brand-primary mt-0 uppercase fs-15">REMARKS</h5>
                                <p class="fs-15">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor. Sed posuere cons.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12 text-right btn-step-group">
                          <a href="" class="btn btn-gray gotham semi fs-15 btn-step btn-lg uppercase">go back</a>
                          <button class="btn btn-secondary gotham semi fs-15 btn-step btn-lg uppercase">Next step</button>
                        </div>
                    </div>
                  </form>

                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="tab__cs__setp__4">
                <div class="panel-heading">
                  <h3 class="panel-title fs-24 uppercase clearfix">Step 4. <span class="pt-span">Review your details.</span>
                  </h3>
                </div>
                <div class="panel-body">
                  <form action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                          <h4 class="mt-18 mb-18 uppercase">COLLECTION INFORMATION</h4>
                          <ul class="collect-info-lists">
                            <li>
                              <div class="cl-content">
                                <i class="cl-icon fa fa-calendar"></i>
                                <div class="denote">
                                  <h5 class="cl-title">COLLECTION DATE</h5>
                                  <div class="note">15 May 2016</div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="cl-content">
                                <i class="cl-icon fa fa-clock-o"></i>
                                <div class="denote">
                                  <h5 class="cl-title">COLLECTION TIME</h5>
                                  <div class="note">Morning (9:00am-11:00am)</div>
                                </div>
                              </div>
                            </li>
                          </ul>
                          
                          <div class="cole-info">
                            <div class="row">
                              <div class="col-md-6">
                                <h5 class="brand-primary mt-0 uppercase fs-15">COLLECTION ADDRESS</h5>
                                <p class="fs-15">Blk 42 Lorong 6 Orchard Road, #04-08 312332</p>
                              </div>
                              <div class="col-md-6">
                                <h5 class="brand-primary mt-0 uppercase fs-15">Name</h5>
                                <p class="fs-15"><span class="mon-normal">Christine Lai</span><br> 9709-8489</p>
                              </div>
                              <div class="col-sm-12">
                                <h5 class="brand-primary mt-0 uppercase fs-15">REMARKS</h5>
                                <p class="fs-15">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor. Sed posuere cons.</p>
                              </div>
                              <div class="col-md-6">
                                <h5 class="brand-primary mt-0 uppercase fs-15">EXTERNAL REFERENCE ID</h5>
                                <p class="fs-15">GW4587263</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <h4 class="mt-18 mb-18 uppercase">DELIVERY INFORMATION</h4>
                          <ul class="collect-info-lists">
                            <li>
                              <div class="cl-content">
                                <i class="cl-icon fa fa-calendar"></i>
                                <div class="denote">
                                  <h5 class="cl-title">DELIVERY DATE</h5>
                                  <div class="note">15 May 2016</div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="cl-content">
                                <i class="cl-icon fa fa-clock-o"></i>
                                <div class="denote">
                                  <h5 class="cl-title">DELIVERY TIME</h5>
                                  <div class="note">Morning (9:00am-11:00am)</div>
                                </div>
                              </div>
                            </li>
                          </ul>
                          
                          <div class="cole-info">
                            <div class="row">
                              <div class="col-md-6">
                                <h5 class="brand-primary mt-0 uppercase fs-15">DELIVERY ADDRESS</h5>
                                <p class="fs-15">Blk 42 Lorong 6 Orchard Road, #04-08 312332</p>
                              </div>
                              <div class="col-md-6">
                                <h5 class="brand-primary mt-0 uppercase fs-15">Name</h5>
                                <p class="fs-15"><span class="mon-normal">Christine Lai</span><br> 9709-8489</p>
                              </div>
                              <div class="col-sm-12">
                                <h5 class="brand-primary mt-0 uppercase fs-15">REMARKS</h5>
                                <p class="fs-15">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor. Sed posuere cons.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <hr class="hr-in-panel">
                            <h4 class="mt-18 mb-18 uppercase">Your package/s</h4>
                            <div class="row package-bar">
                              <div class="col-md-4 package-item selected-package">
                                <div class="package-card">
                                  <h4 class="pc-title clearfix">PACKAGE <span class="pk-count">1</span> <span class="pull-right pk-price">$40.00</span></h4>
                                  <div class="view-upfile">
                                    <div class="vu-cell">
                                      <div class="vi-image"><img alt="your image" src="{% static 'dashboard/assets/images/portraits/2.jpg' %}"></div>
                                    </div>
                                    <div class="vu-cell denote">
                                      <div class="vu-file-name">XS / Document</div>
                                      <p>Qty: 2</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 package-item selected-package">
                                <div class="package-card">
                                  <h4 class="pc-title clearfix">PACKAGE <span class="pk-count">2</span> <span class="pull-right pk-price">$40.00</span></h4>
                                  <div class="view-upfile">
                                    <div class="vu-cell">
                                      <div class="vi-image"><img alt="your image" src="{% static 'dashboard/assets/images/portraits/2.jpg' %}"></div>
                                    </div>
                                    <div class="vu-cell denote">
                                      <div class="vu-file-name">XS / Document</div>
                                      <p>Qty: 2</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 package-item selected-package">
                                <div class="package-card">
                                  <h4 class="pc-title clearfix">PACKAGE <span class="pk-count">3</span> <span class="pull-right pk-price">$40.00</span></h4>
                                  <div class="view-upfile">
                                    <div class="vu-cell">
                                      <div class="vi-image"><img alt="your image" src="{% static 'dashboard/assets/images/portraits/2.jpg' %}"></div>
                                    </div>
                                    <div class="vu-cell denote">
                                      <div class="vu-file-name">Custom Package</div>                                  
                                      <p>Qty: 2</p>
                                      <p>Weight: 0.2 kg</p>
                                      <p>Dimensions: 21 x 20 x 30 cm</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                              <div class="col-sm-12"><hr class="hr-in-panel"></div>
                              <div class="col-md-6">
                                  <h4 class="mt-18 mb-18 uppercase">fees breakdown</h4>
                                  <ul class="breakdown-lists">
                                    <li>
                                      <span>Collection Fee</span>
                                      <span>$10.00</span>
                                    </li>
                                    <li>
                                      <span>Delivery Fee</span>
                                      <span>$10.00</span>
                                    </li>
                                    <li>
                                      <span>XS / Document  x  2</span>
                                      <span>$40.00</span>
                                    </li>
                                    <li>
                                      <span>Medium  x  1</span>
                                      <span>$35.00</span>
                                    </li>
                                    <li>
                                      <span>Custom x 1</span>
                                      <span class="color-primary">$95.00</span>
                                    </li>
                                    <li>
                                      <span class="color-primary mon-normal">TOTAL</span>
                                      <span class="color-primary mon-normal">$120.00</span>
                                    </li>
                                  </ul>
                              </div>
                              <div class="col-md-6">
                                <h4 class="mt-18 mb-18 uppercase has-abs">PAYABLE AMOUNT <span class="pay-amount">$120.00</span></h4>
                                <div class="checkbox-site mt-80">
                                  <input type="checkbox" id="check__1">
                                  <label for="check__1">
                                    <span>Aenean eu leo quam. Pellentesque <a href="">ornare sem lacinia quam</a> venenatis vestibulum. Maecenas faucibus mollis interdum.</span>
                                  </label>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-right btn-step-group">
                          <a href="" class="btn btn-gray gotham semi fs-15 btn-step btn-lg uppercase">go back</a>
                          <button id="finalSubmit" class="btn btn-secondary gotham semi fs-15 btn-step btn-lg uppercase">PROCEED TO PAYMENT</button>
                        </div>
                    </div>
                  </form>

                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="tab__cs__setp__5">...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <!-- Core  -->
  <script src="{% static 'dashboard/global/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/bootstrap/bootstrap.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/animsition/animsition.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/asscroll/jquery-asScroll.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/asscrollable/jquery.asScrollable.all.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
  
  <!-- Plugins -->
  <script src="{% static 'dashboard/global/vendor/switchery/switchery.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/intro-js/intro.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/skycons/skycons.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-js/chartist.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/aspieprogress/jquery-asPieProgress.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/jquery.jvectormap.min.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>
  <script src="{% static 'dashboard/plugins/bs-dateTime/moment.min.js' %}"></script>
  <script src="{% static 'dashboard/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>

  <script>
    $(document).ready(function(){

      $('#finalSubmit').click(function(e) {

        e.preventDefault();
        
        var posting = $.post( "/customer/booking/", 
        { collAdd: $('#collAdd').val(),
          collName: $('#collName').val(),
          collConNum: $('#collConNum').val(),
          colRemk: $('#colRemk').val(),
          collDate: $('#collDate').val(), 
          collTime: $('#collTime :selected').text(),
          delAdd: $('#delAdd').val(),
          delConNum: $('#delConNum').val(),
          delName: $('#delName').val(),
          delDate: $('#delDate').val(),
          delTime: $('#delTime :selected').text(),
          delRemk: $('#delRemk').val(),
          refNum: $('#refNum').val(),
        });

        posting.done(function( data ) {
         alert(data.foo);
        });

      })

      $('#firstNext').click(function(e){
        e.preventDefault();
        $('#mytabs a[href="#tab__cs__setp__2"]').tab('show');
      })


      var packageTemplate = `<div class='col-md-6 package-item'>
          <div class='package-card'>
              <h4 class='pc-title'>PACKAGE <span class='pk-count'>pkCount</span></h4>
              <div class='form-group input-brick'>
                <div class='col-sm-12'>
                  <div class='has-need has-select'>
                    <label for=''>Package Size <span>*</span></label>
                    <select class='form-control input-lg select-styled package-size'>
                      <option value='Package Size' selected='selected'>Package Size</option>
                      <option value='XS Document'>XS Document</option>
                      <option value='Medium'>Medium</option>
                      <option value='Custom'>Custom</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class='form-group input-brick'>
                <div class='col-sm-6'>
                  <div class="me-quantity">
                    <div class="sp-input has-need">
                        <label for="">Quantity<span>*</span></label>
                        <input type="text" class="form-control input-lg quntity-input" value="0" />
                    </div>
                    <a class="btn-qty qty-plus" href="#">+</a>
                    <a class="btn-qty qty-minus" href="#">-</a>
                  </div>
                </div>
                <div class='col-sm-6'>
                  <ul class='input-inline-list pk-weigth hide'>
                    <li> 
                      <div class='has-need'>
                        <label for=''>Weight <span>*</span></label>
                        <input type='text' class='form-control input-lg'>
                      </div>
                    </li>
                    <li><span class='inlist-span'>Kg</span></li>
                  </ul>
                </div>
              </div>
              <div class='form-group input-brick pk-custom-weight hide'>
                <div class='col-sm-12'>
                    <ul class='input-inline-list'>
                      <li>
                        <div class='has-need'>
                          <label for=''>Length <span>*</span></label>
                          <input type='text' class='form-control input-lg'>
                        </div>
                      </li>
                      <li><span class='inlist-span'>X</span></li>
                      <li>
                        <div class='has-need'>
                          <label for=''>Width <span>*</span></label>
                          <input type='text' class='form-control input-lg'>
                        </div>
                      </li>
                      <li><span class='inlist-span'>X</span></li>
                      <li>
                        <div class='has-need'>
                          <label for=''>Height <span>*</span></label>
                          <input type='text' class='form-control input-lg'>
                        </div>
                      </li>
                      <li><span class='inlist-span'>cm</span></li>
                    </ul>
                </div>
              </div>
              <div class='form-group input-brick upload-filebar'>
                <div class='col-sm-12'>
                  <div class='input-group input-group-file'>
                    <input type='text' class='form-control input-lg' placeholder='Upload an image (optional)'>
                    <span class='input-group-btn'>
                      <span class='btn btn-secondary btn-file btn-ufile'>
                        BROWSE <input class='upl-image' type='file' name=''>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class='view-upfile hide'>
                <div class='vu-cell'>
                  <div class='vi-image'><img class='uploaded-image' src="{% static 'dashboard/assets/images/portraits/2.jpg' %}" alt='your image' /></div>
                </div>
                <div class='vu-cell'>
                  <div class='vu-file-name'>Image Name</div>
                  <span class='btn btn-default btn-up-file fs-12 uppercase gotham semi btn-afix'>
                      REPLACE IMAGE <input class='upl-image' type='file' name=''>
                  </span>
                </div>
              </div>
              <a href='#' class='card-close'><img src="{% static 'dashboard/assets/images/close.png' %}" alt='X'></a>
          </div>
        </div>`;


      $('.nav-dash-list li').each(function() {
          var dataActImg = $(this).find('img').attr('data-active-img');
          var dataInactImg = $(this).find('img').attr('src');
          if ($(this).hasClass('active')) {
              $(this).find('img').attr('src', dataActImg);
          } else {
              $(this).find('img').attr('src', dataInactImg);
          }
      });

      $(function() {
          $(".has-need label + .form-control").keyup(function() {
              if($(this).val().length) {
                  $(this).prev('label').hide();
              } else {
                  $(this).prev('label').show();
              }
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });


      $(function() {
          $(document).on("input keyup change", ".has-need label + .form-control", function() {
              if($(this).val().length) {
                  $(this).prev('label').hide();
              } else {
                  $(this).prev('label').show();
              }
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });

      $(function() {
          $(document).on("input keyup change", ".has-need label + .form-control.package-size", function() {
              var vall = $(this).val();
              var divParent = $(this).parents('.package-card');
              /*if(vall.length) {
                  $(this).prev('label').hide();
              }*/
              if (vall == "Custom") {
                  divParent.find(".pk-weigth, .pk-custom-weight").removeClass('hide');
              } else {
                  $(this).prev('label').show();
                  divParent.find(".pk-weigth, .pk-custom-weight").addClass('hide');
              }$(this).prev('label').hide();
          });
          $(".has-need label").click(function() {
              $(this).next().focus();
          });
      });


      $(function(){
          function readURL(input, divParent) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                   divParent.find('.uploaded-image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
          }
          $(document).on("change", ".upl-image", function() {
              var divParent = $(this).parents('.package-card');
              divParent.find(".upload-filebar").addClass('hide');
              divParent.find(".view-upfile").removeClass('hide');
              var filename = $(this).val();
              divParent.find('.vu-file-name').text(filename);
              readURL(this,divParent);
          });
      });

      $(function(){

        $(document).on('click', '.show-package', function() {
          // $('input', $('.package-item')).each(function () {
          //   console.log($(this).find('.quntity-input'));
          // });
          $(".package-size").each(function(){
              console.log($(this).val());
          });

          $(".quntity-input").each(function(){
              console.log($(this).val());
          });

          

        });
        
        $(document).on('click', '.add-package', function() {
          $('.package-bar').append(packageTemplate);
          var pkgLenght = $('.package-item').length;
          for (var i = 1; i < pkgLenght; i++) {
            $('.package-item').last().find('.pk-count').text(i+1);
          }
        });

        $(document).on('click', '.card-close', function(e){
          e.preventDefault();
          var packLength = $('.package-bar').find('.package-item').length;
          if(packLength > 1){
              $(this).parents('.package-item').remove();
          }
          var count = 0;
          $('.pk-count').each(function(index, value){
              count = count+1;
              $(this).text(count);
          });
        });
      });

      $(function(){
        $(document).on("click", ".btn-qty", function (e) {
          e.preventDefault();
            var $button = $(this);
            var oldValue = $button.closest('.me-quantity').find("input.quntity-input").val();

            if ($button.text() == "+") {
                var newVal = parseFloat(oldValue) + 1;
                $(this).closest('.me-quantity').find("input.quntity-input").prev('label').hide();
            } else {
                // Don't allow decrementing below zero
                if (oldValue > 0) {
                    var newVal = parseFloat(oldValue) - 1;
                } else {
                    newVal = 0;
                }
            }
            $button.closest('.me-quantity').find("input.quntity-input").val(newVal);

        });
      });
      $('[data-plugin="bs-date"]').datetimepicker({
          format: 'DD MMM YYYY'
      });


    });
  </script>

  <!-- Scripts -->
  <script src="{% static 'dashboard/global/js/core.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/site.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/menu.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/menubar.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/gridmenu.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sections/sidebar.js' %}"></script>
  <script src="{% static 'dashboard/global/js/configs/config-colors.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/configs/config-tour.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/asscrollable.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/animsition.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/slidepanel.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/switchery.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/matchheight.js' %}"></script>
  <script src="{% static 'dashboard/global/js/components/jvectormap.js' %}"></script>
  <script src="{% static 'dashboard/assets/examples/js/dashboard/v1.js' %}"></script>

{% endblock %}