{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->

    <!--<div class="panel-body">-->
        <!--<div class="vb-searchbar">-->
          <!--<div class="vb-search-row vb-search-hold">-->
            <!--<div class="cell cell-field">-->
              <!--<div class="cf-block">-->
                <!--<div class="input-group">-->
                  <!--<div class="input-group-addon">SEARCH</div>-->
                  <!--<input id="searchCourier" type="text" class="form-control" placeholder="Type keyword...">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="cell cell-btn">-->
              <!--<div class="vb-btn-group">-->
                <!--<button type="submit" class="btn btn-black medium mon-normal uppercase">Search</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="panel panel-bordered panel-base panel-bookings">
      <div id="tableCourierDiv" class="panel-body table-responsive">
          <h3>{{ driver.name }}'s location</h3>
            <div id="map" style="height: 800px; width: 100%"></div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#collapse__filters').on('shown.bs.collapse', function () {
           $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
        });

        $('#collapse__filters').on('hidden.bs.collapse', function () {
           $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
        });

        $(function(){
          $(".sort-listings a").on("click", function(e) {
            e.preventDefault();
            $(".sort-listings li").removeClass("active");
            $(this).closest("li").addClass("active");
          });
        });

        $(function(){
          var tableCourier = $("#tableCourier").DataTable({
            aoColumnDefs: [
              {
                 bSortable: false,
                 aTargets: [ -1 ]
              }
            ]
          });
          $("#searchCourier").keyup(function(){
                tableCourier.search($(this).val()).draw() ;
          })
        });
      });
    </script>

    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4
        });
        // var marker = new google.maps.Marker({
        //   position: uluru,
        //   map: map
        // });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&callback=initMap">
    </script>


{% endblock %}