{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
      <h1 class="pages-heading">Archieves</h1>
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}

    <!--<div class="panel-body">-->
        <!--<div class="vb-searchbar">-->
          <!--<div class="vb-search-row vb-search-hold">-->
            <!--<div class="cell cell-field">-->
              <!--<div class="cf-block">-->
                <!--<div class="input-group">-->
                  <!--<div class="input-group-addon">SEARCH</div>-->
                  <!--<input id="searchCourier" type="text" class="form-control" placeholder="Type keyword...">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="cell cell-btn">-->
              <!--<div class="vb-btn-group">-->
                <!--<button type="submit" class="btn btn-black medium mon-normal uppercase">Search</button>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="panel panel-bordered panel-base panel-bookings">

      <div id="tableCourierDiv" class="panel-body table-responsive">

          {% if informations %}
         <table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
              <thead>
                <tr>
                  <th class="col_search">ID</th>
                  <th class="col_search">Order made by</th>
                  <th>Date</th>
                  <th>Action</th>
                  <th>Admin Remarks</th>
<!--                   <th>Add Remarks</th>
                  <th>Message</th> -->
                </tr>
              </thead>
              <div>
                {% for obj in informations %}
                  <div>
                    <td><a href="/sadmin/pickup_summary/{{ obj.id }}/" class="btn btn-link">{{ obj.order_no }}</a></td>
                    <td>{{ obj.customer.name }}</td>
                    <td>{{ obj.created_at|date:"M d, Y" }}</td>


                      {% if obj.pickup_status == 'taken' or obj.pickup_status == 'assigned' %}
                    <td>
                        <div class="actions-orders btn-color-white nowrap">
                        <a href="/sadmin/pickup_order_list/delete/{{ obj.id }}" class="btn btn-warning btn-sm unstroke">Delete</a>
                        </div>
                    </td>
                      {% elif obj.pickup_status == 'pending' %}
                    <td>
                        <div class="actions-orders btn-color-white nowrap">
                        <a href="/sadmin/pickup_order_list/delete/{{ obj.id }}" class="btn btn-warning btn-sm unstroke">Delete</a>
                 </td>
                      </div>
                      {% else %}
                      <td>
                          <div class="actions-orders btn-color-white nowrap">
                            <a href="/sadmin/pickup_order_list/delete/{{ obj.id }}/" class="btn btn-warning btn-sm unstroke">Delete</a>
                           <!--  <a href="/sadmin/pickup_order_list/archive/{{ obj.id }}/" class="btn btn-success btn-sm unstroke">Archive</a> -->
                          </div>
                      </td>

                      {% endif %}
                      <td>{{ obj.admin_remarks }}</td>
                     <!--  <td><button type="button" class="btn btn-gray" data-target="#remarks-modal{{obj.id}}" data-toggle="modal">Add Remarks</button></td>
                      <td><button type="button" class="btn btn-gray" data-target="#message-modal{{obj.id}}" data-toggle="modal">Message</button></td> -->
                  </tr>
                <div id="message-modal{{obj.id}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">Message</h2>
                          </div>
                        <form class="form-group" action="" method="POST">
                          {% csrf_token %}
                            <input type="hidden" name="job_id" value="{{ obj.id }}">
                          <div class="modal-body">
                          {% if obj.pickup_status == 'pending' %}
                          <select name="message-to" class="form-control">
                              <option value="customer">Customer</option>
                          </select>
                          {% else %}
                          <select name="message-to" class="form-control">
                              <option value="customer">Customer</option>
                              <option value="driver">Driver</option>
                          </select>
                          {% endif %}

                            <br/>
                            <textarea class="form-control" cols="6" rows="6" name="message" required></textarea>

                          </div>
                          <div class="modal-footer">
                            <button type="submit" id="message_btn" class="btn btn-success">SEND</button>
                          </div>
                        </form>
                        </div>

                      </div>
                    </div>

                    <div id="remarks-modal{{obj.id}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">Message</h2>
                          </div>
                        <form class="form-group" action="/sadmin/remarks/pickup/" method="POST">
                          {% csrf_token %}
                            <input type="hidden" id="job_id" name="job_id" value="{{ obj.id }}">
                          <div class="modal-body">

                            <textarea id="remark_message" class="form-control" cols="6" rows="6" name="remark" required></textarea>

                          </div>
                          <div class="modal-footer">
                            <button type="submit" id="remark_btn" class="btn btn-success">SEND</button>
                          </div>
                        </form>
                        </div>

                      </div>
                    </div>
                {% endfor %}

              </tbody>
          </table>
          {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#collapse__filters').on('shown.bs.collapse', function () {
           $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
        });

        $('#collapse__filters').on('hidden.bs.collapse', function () {
           $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
        });

        $(function(){
          $(".sort-listings a").on("click", function(e) {
            e.preventDefault();
            $(".sort-listings li").removeClass("active");
            $(this).closest("li").addClass("active");
          });
        });

        $(function(){

        $('.col_search').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" style="width: 120px" placeholder="Search '+title+'" />' );
        } );
          var tableCourier = $("#tableCourier").DataTable({
            aoColumnDefs: [
              {
                 bSortable: false,
                 aTargets: [ -1 ]
              }
            ]
          });
//          $("#searchCourier").keyup(function(){
//                tableCourier.search($(this).val()).draw() ;
//          })
          tableCourier.columns().every( function () {
            var that = this;

            $( 'input', this.header() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
        });
      });
    </script>
{% endblock %}