{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
        <h1 class="pages-heading">Assign Driver</h1>
        <div class="panel panel-bordered panel-base panel-bookings">
          <div id="tableCourierDiv" class="panel-body">
            <div class="panel">
              <div class="panel-body">
              <!--<button type="button" id="check_all" class="btn btn-gray">Select all</button>-->
              <div class="table-responsive">
                  <table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
                    <thead>
                      <tr>
                        <th>Driver Name</th>
                        <th>Customer Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                      {% if corporates %}
                      <tbody>
                      {% for obj in corporates %}
                        <tr class="forRemove">
                            <td>{{ obj.driver.name }}</td>
                            <td>{{ obj.customer.name }}</td>
                            <td>
                                <div class="actions-orders btn-color-white nowrap">
                                <a href="/sadmin/assign_driver_for_corporate/delete/{{ obj.id }}/" class="btn btn-sm btn-warning unstroke">Delete</a>
                                </div>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                      {% endif %}
                  </table>
              </div>
          <br/>
        <h3>Assign Driver</h3>
        <hr/>
        <!--<h5><span style="color:red">From</span> {{ job.collection_address }} <span style="color:red">To</span> {{ job.delivery_address }}</h5>-->
        <form class="form-group" method="POST" action="">
            {% csrf_token %}
            <!--<input type="hidden" value="{{ job.id }}" name="id">-->
            Driver<br/>
             <select name="drivers" class="form-control huge mb-10">
                {% for obj in driver %}
                    <option value="{{ obj.id }}">{{ obj.name }} ({{ obj.id }})</option>
                {% endfor %}
            </select>
            <!--<select name="drivers" class="form-control huge">-->
                <!--{% for obj in driver %}-->
                    <!--<option value="{{ obj.id }}">{{ obj.name }}</option>-->
                <!--{% endfor %}-->
            <!--</select>-->
            <div class="drivers">

            </div>
            <br/>
            Customer
            <select name="customers" class="form-control huge mb-10">
                {% for obj in customer %}
                    <option value="{{ obj.id }}">{{ obj.name }} ({{ obj.id }})</option>
                {% endfor %}
            </select>
        <button type="submit" class="btn btn-primary">Assign</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
    <script>
        var tableCourier = $("#tableCourier").DataTable({
                aoColumnDefs: [
                  {
                     bSortable: false,
                     aTargets: [ -1 ],
                  }
                ]
              });
    //          $("#searchCourier").keyup(function(){
    //                tableCourier.search($(this).val()).draw() ;
                tableCourier.columns().every( function () {
                var that = this;

                $( 'input', this.header() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        $('#search').on('keyup', function(){
//            console.log($('#search').val());
            if($('#search').val() == ''){
                $('.drivers').empty();
            }
            else {
            $.ajax({
                  url:'/sadmin/get_drivers_search/',
                  type:'post',
                  data: {driver:$('#search').val()},
                  dataType: 'html',
                  success:function(data){
    //                  alert(data['street']);
                      $('.drivers').html(data);
                      console.log(data);

    //                  $('#deliveryAddress').val(data['street']);
    //                  $('#deliveryBuilding').val(data['building']);
    //                  $('#collectionPostalCode').val(data);
                  },
                  error:function(err){
                      console.log(err);
                      $('#errorModal').modal('show');
                  }
                 });
            }
        });
</script>
{% endblock %}