{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
    <h1 class="pages-heading">Audit Trail</h1>
    <div class="panel-body">
        <div class="vb-searchbar">
          <div class="vb-search-row vb-search-hold">
            <div class="cell cell-field">
              <div class="cf-block">
                <div class="input-group">
                  <div class="input-group-addon">SEARCH</div>
                  <input id="searchCourier" type="text" class="form-control" placeholder="Type keyword...">
                </div>
              </div>
            </div>
            <div class="cell cell-btn">
              <div class="vb-btn-group">
                <button type="submit" class="btn btn-black medium mon-normal uppercase">Search</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="panel panel-bordered panel-base panel-bookings">
      <div id="tableCourierDiv" class="panel-body table-responsive">
         <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
              <thead>
                <tr>
                  <th>Table Name</th>
                  <th>Old Data</th>
                  <th>New Data</th>
                  <th>Operation</th>
                  <th>User Name</th>
                  <th>Date and Time</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in data %}
                  <tr>
                      <td>{{ obj.table }}</td>
                      <td>{{ obj.old_data }}</td>
                      <td>{{ obj.new_data }}</td>
                      <td>{{ obj.operation }}</td>
                      <td>{{ obj.user_name }}</td>
                      <td>{{ obj.updated_at }}</td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>

    <script type="text/javascript">
      $(document).ready(function(){

        $('#collapse__filters').on('shown.bs.collapse', function () {
           $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
        });

        $('#collapse__filters').on('hidden.bs.collapse', function () {
           $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
        });

        $(function(){
          $(".sort-listings a").on("click", function(e) {
            e.preventDefault();
            $(".sort-listings li").removeClass("active");
            $(this).closest("li").addClass("active");
          });
        });

        $(function(){
          var tableCourier = $("#tableCourier").DataTable({
            aoColumnDefs: [
              {
                 bSortable: false,
                 aTargets: [ -1 ]
              }
            ]
          });
          $("#searchCourier").keyup(function(){
                tableCourier.search($(this).val()).draw() ;
          })
        });
      });
    </script>
{% endblock %}