{% extends "dashboard/super_layout.html" %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <h1 class="pages-heading">Ride Cancellation Reasons</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

        {% if reason %}
        <div class="table-responsive">
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                  <th>Icon</th>
                  <th>Icon Active</th>
                  <th>Reason</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in reason %}
                <tr>
                  <td><img src="{% if obj.image %}{{ obj.image.url }}{% endif %}" width="30px" height="30px"/></td>
                  <td><img src="{% if obj.image_active %}{{ obj.image_active.url }}{% endif %}" width="30px" height="30px"/></td>
                    <!--<td>{{ obj.image.url }}</td>-->
                  <td>{{ obj.reason }}</td>
                  <td>
                    <div class="actions-orders btn-color-white nowrap">
                    <a href="/sadmin/pickup_cancellation_reason/update/{{ obj.id }}/" class="btn btn-sm btn-primary unstroke">Update</a>
                    <a href="/sadmin/pickup_cancellation_reason/delete/{{ obj.id }}/" class="btn btn-sm btn-warning unstroke">Delete</a>
                    </div>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
            </table>
        </div>
        {% endif %}
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}

  	      {{ form.as_p }}

  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
{% endblock %}