{% extends "dashboard/super_layout.html" %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
            <h1 class="pages-heading">Postal Code Surcharge</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

        {% if charges %}
            <div class="table-responsive">
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                <th>Postal Code</th>
                <th>Charge</th>
        <!--         <th>Corporate Charge</th> -->
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in charges %}
                <tr>
                  <td>{{ obj.postal_code }}</td>
                  <td>{{ obj.charge }}</td>
  <!--                 <td>{{ obj.corp_charge }}</td> -->
                  <td>{{ obj.description }}</td>
                  <td>
                    <a href="/sadmin/courier_surcharge/update/{{ obj.id }}">Update</a> /
                    <a href="/sadmin/courier_surcharge/delete/{{ obj.id }}">Delete</a>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}

  	      {{ form.as_p }}

  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
{% endblock %}