{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">

    <div class="panel panel-bordered panel-base panel-bookings">
      <div id="tableCourierDiv" class="panel-body table-responsive">
        <div class="panel">
          <div class="panel-body table-responsive">
         <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
             {% if driver %}
              <thead>
                <tr>
                  <th class="col_search">Name</th>
                  <th class="col_search">Acceptance Rate</th>
                  <th class="col_search">Cancellation Rate</th>
                </tr>
              </thead>
                <tbody>
                {% for obj in driver %}

                  <tr class="forRemove">
                    <td><a href="/sadmin/driver_profile_detail/{{ obj.id }}/">{{ obj.name }}</a></td>
                    <td>{{ obj.acceptance_rate }}</td>
                    <td>{{ obj.cancellation_rate }}</td>
                  </tr>
                {% endfor %}

              </tbody>
              {% endif %}
          </table>

      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
    <script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
    <script src="{% static 'dashboard/plugins/star-rating/js/star-rating.min.js' %}"></script>
    <script src="{% static 'dashboard/plugins/star-rating/themes/krajee-fa/theme.min.js' %}"></script>
    <script>
    $(function() {
        $('.stars').rating({
            displayOnly: true,
            theme: 'krajee-fa',
            filledStar: '<i class="fa fa-star"></i>',
            emptyStar: '<i class="fa fa-star-o"></i>',
            showCaption: true,
        })
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function() {

          $('#collapse__filters').on('shown.bs.collapse', function () {
              $(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
          });

          $('#collapse__filters').on('hidden.bs.collapse', function () {
              $(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
          });

          $(function () {
              $(".sort-listings a").on("click", function (e) {
                  e.preventDefault();
                  $(".sort-listings li").removeClass("active");
                  $(this).closest("li").addClass("active");
              });
          });

          $(function () {
              $('.col_search').each(function () {
                  var title = $(this).text();
                  $(this).html('<input type="text" style="width: 120px" placeholder="Search ' + title + '" />');
              });
              var tableCourier = $("#tableCourier").DataTable({
                  aoColumnDefs: [
                      {
                          bSortable: false,
                          aTargets: [-1],
                      }
                  ]
              });
//              $("#searchCourier").keyup(function () {
//                  tableCourier.search($(this).val()).draw();
//              });
              tableCourier.columns().every(function () {
                  var that = this;

                  $('input', this.header()).on('keyup change', function () {
                      if (that.search() !== this.value) {
                          that
                                  .search(this.value)
                                  .draw();
                      }
                  });
              });
          });
      });

      $(document).ready(function() {
      $('[data-plugin="bs-date"]').datetimepicker({
          format: 'DD MMM YYYY',
      });

    });

    var find_from_date = function find_from_date(){
        from = $('#from').val();
        to = $('#to').val();
        $.ajax({
              url:'/sadmin/drivers_from_date/',
              type:'post',
              data: {from_date:from, to_date:to},
              dataType: 'html',
              success:function(data){
                  $('.forRemove').empty();
                  $('#tableCourier').html(data);
                  $('.col_search').each( function () {
                    var title = $(this).text();
                    $(this).html( '<input type="text" style="width: 120px" placeholder="Search '+title+'" />' );
                  } );

                   $('.stars').rating({
                        displayOnly: true,
                        theme: 'krajee-fa',
                        filledStar: '<i class="fa fa-star"></i>',
                        emptyStar: '<i class="fa fa-star-o"></i>',
                        showCaption: true,
                    });


                  var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });

                  tableCourier.columns().every( function () {
                    var that = this;

                    $( 'input', this.header() ).on( 'keyup change', function () {
                        if ( that.search() !== this.value ) {
                            that
                                .search( this.value )
                                .draw();
                        }
                    } );
                } );

              },
              error:function(){
                  console.log('Error in submission.');
              }
        });
      }
    </script>
{% endblock %}
{% block extracss %}
 <link rel="stylesheet" href="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}