<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Driver List</h1>
        <table border="1">
             <thead>
              <tr>
                <th>ID</th>
                <th>Driver ID</th>
                <th>Total Cost</th>
                <th>Job Status</th>
                <th>Paid Amount</th>
                <th>Admin Fee</th>
                <th>Car Fee</th>
                <th>Toll Fee</th>
                <th>Online Fee</th>
                <th>Job Completion Time</th>
                <th>Payment Status</th>
              </tr>
            </thead>
            <tbody>
            {% if earnings %}
                {% for obj in earnings %}
                {% if obj.delevery_service %}
                <tr>
                  {% if obj.delevery_service %}
                    {% if obj.payment_status == 'UNPAID' %}
                    <td><input type="checkbox" id="check_{{ obj.id }}" value="{{ obj.id }}">DELIVERY#{{ obj.delevery_service.id }}</td>
                    {% else %}
                    <td><input type="checkbox" disabled>DELIVERY#{{ obj.delevery_service.id }}</td>
                    {% endif %}
                  {% else %}
                    <td><input type="checkbox" disabled>Order may be removed</td>
                  {% endif %}
                  {% if obj.delevery_service.taken_by %}
                    <td>{{ obj.delevery_service.taken_by.id }}</td>
                  {% else %}
                    <td>Job not taken yet.</td>
                  {% endif %}
                  <td>{{ obj.total_cost }}</td>
                  <td>{{ obj.delevery_service.delevery_status }}</td>
                  <td>{{ obj.paid_amount }}</td>
                  <td>{{ obj.admin_fee }}</td>
                  <td>{{ obj.car_fee }}</td>
                  <td>{{ obj.toll_fee }}</td>
                  <td>{{ obj.online_fee }}</td>
                  <td>{{ obj.delevery_service.job_complete_time|date:'d, M Y' }}</td>
                  <td>{{ obj.payment_status }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </body>
</html>