{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <h1 class="pages-heading">Courier GST Setup</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">
  	    <form method='POST' action='' enctype='multipart/form-data'>
        {% csrf_token %}
  	       {{ form.as_p }}
            <br>
  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}