<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport">
    <title>Unclefrank</title>
    <style type="text/css">
     @page {
            size: {{ pagesize|default:"B4" }};
            margin-left: 1cm;
            margin-right: 1cm;
            margin-top: 1cm;
            margin-bottom: 1cm;
            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 1.3cm;
                margin-right: 2mm;
                margin-bottom: 1cm;
                margin-left: 1.2cm;
            }
        }
    .ReadMsgBody {
        width: 100%;
        background-color: #ffffff;
    }

    .ExternalClass {
        width: 100%;
        background-color: #ffffff;
    }
        .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
        line-height: 100%;
    }
        * {
        box-sizing: border-box;
    }
    *:before, *:after {
        box-sizing: border-box;
    }
        html {
        width: 100%;
    }

    body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        margin: 0;
        padding: 0;
    }
        table {
        border-spacing: 0;
        border-collapse: collapse;
    }
        table td {
        border-collapse: collapse;
    }

    .yshortcuts a {
        border-bottom: none !important;
    }

    a {
        color: #3bc0b9;
        text-decoration: none;
    }
    a:hover, a:focus {
        color: #37aba5;
    }
    .textbutton a {
        font-family: 'open sans', arial, sans-serif !important;
        color: #ffffff !important;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }
        .foo-socials {
            text-align: center;
        }

        .foo-socials a img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

        .foo-socials a {
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
            margin-right: 8px;
            color: #fff;
        }
    </style>
</head>

<body style="background: #fff;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
        <!--header-2-->
        <tbody>
            <tr>
                <td style="background: #fff;">
                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="900" style="">
                        <tbody>
                            <tr align="left">
                                <td>
                                    <table bgcolor="#fff" cellspacing="0" cellpadding="0" border="0" align="left" width="900">
                                        <tbody>
                                            <tr>
                                                <td style="background-color: #fff; border-bottom: 1px solid #f1f1f1;">
                                                    <table cellspacing="0" cellpadding="0" border="0" class="table600" width="900">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: middle; padding: 10px 20px 10px 0; font-size:14px; line-height: 24px; color: #686868; text-align: left;">
                                                                    <img width="118" src="/media/pdf/logo.png" alt="Unclefrank">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr align="left">
                                <td>
                                    <table cellspacing="0" cellpadding="0" border="0" width="900">
                                        <br>
                                            Customer Name: {{ customer_name }}<br>
                                            Customer ID: {{ customer_id }}<br>
                                             <span>Invoice for: </span> {{ date|date:"Y M" }}
                                             <table id="example" class="display" cellspacing="0" width="100%">
                                                <thead>
                                                <tr>
                                                    <td>OrderID</td>
                                                    <td>Order Date</td>
                                            <!--         <th>Cost</th>
                                                    <th>Express Cost</th>
                                                    <th>Surcharge</th>
                                                    <th>Discount</th> -->
                                                    <td>Cost</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for d in data %}
                                                <tr>
                                                    <td>{{ d.delevery_service.order_no }}</td>
                                                    <td>{{ d.delevery_service.created_at|date:"Y m d" }}</td>
                                            <!--                 <td>{{ d.cost }}</td>
                                                    <td>{{ d.express_charge }}</td>
                                                    <td>{{ d.sercharge }}</td>
                                                    <td>{{ d.discount }}</td> -->
                                                    <td>{{ d.total }}</td>
                                                </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td colspan="2">Total:</td>
                                                    <td>{{ total }}</td>
                                                </tr>
                                                </tbody>
                                                        

                                            </table>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>

            <tr align="center">
                <td height="30"></td>
            </tr>

            <tr align="center">
                <td>
                    <table bgcolor="#fff" cellspacing="0" cellpadding="0" border="0" align="center" width="900" class="">
                        <tbody>

                        </tbody>
                    </table>
                </td>
            </tr>

            <!-- end title bar -->
        </tbody>
    </table>
</body>

</html>