{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="page animsition">
    <div class="page-content">
     <h1 class="pages-heading">Credit Terms Invoice</h1>
      <!-- Panel -->
      <div class="panel">
        <form method='POST' action=''>
  	      {% csrf_token %}
          <div class="col-sm-12">
          Customer:<br>
            <select name="customer" class="form-control select">
              {% for c in customers %}
                <option value="{{ c.id }}">{{ c.name }} ({{ c.id }})</option>
              {% endfor %}
            </select>
            </div>
            <div class="col-sm-12">
            Year: <br>
            <select name="year" class="form-control select">
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
            </select>
            </div>
            <div class="col-sm-12">
            Month: <br>
            <select name="month" class="form-control select">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            </div>
            <div class="col-sm-12">
  	         <input type="submit" class="btn btn-primary unstroke" value="Generate Invoice"/>
             </div>
  	    </form>
    </div>
    <div class="panel">
        {% for d in data %}
        	{{ d }}
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}