<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport">
    <title>Unclefrank</title>
    <style type="text/css">
         .ReadMsgBody {
        width: 100%;
        background-color: #ffffff;
    }

    .ExternalClass {
        width: 100%;
        background-color: #ffffff;
    }
        .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
        line-height: 100%;
    }
        * {
        box-sizing: border-box;
    }
    *:before, *:after {
        box-sizing: border-box;
    }
        html {
        width: 100%;
    }

    body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        margin: 0;
        padding: 0;
    }
        table {
        border-spacing: 0;
        border-collapse: collapse;
    }
        table td {
        border-collapse: collapse;
    }

    .yshortcuts a {
        border-bottom: none !important;
    }

    a {
        color: #3bc0b9;
        text-decoration: none;
    }
    a:hover, a:focus {
        color: #37aba5;
    }
    .textbutton a {
        font-family: 'open sans', arial, sans-serif !important;
        color: #ffffff !important;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }

   </style>
</head>

<body style="background: #fff;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
        <!--header-2-->
        <tbody>
            <tr>
                <td height="30"></td>
            </tr>
            <tr>
                <td style="">
                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="900"  style="">
                        <tbody>
                            <tr align="left">
                                <td>
                                    <table bgcolor="#fff" cellspacing="0" cellpadding="0" border="0" align="left" width="900">
                                        <tbody>
                                            <tr>
                                                <td style="background-color: #fff;">
                                                    <table cellspacing="0" cellpadding="0" border="0" width="900">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: top; padding: 15px 0">
                                                                    <table cellspacing="0" cellpadding="0" border="0">
                                                                        <tr>
                                                                            <td style="vertical-align: top; font-size:14px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding-right: 10px;"><span style="color: #F72C3C">T: </span>{{ common.company_phone_no }}<br> <span style="color: #F72C3C">E: </span>{{ common.company_email }} </td>

                                                                            <td style="vertical-align: top; font-size:14px; line-height: 24px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #686868; text-align: left; padding-left: 10px;">{{ common.company_address }}<br><span style="color: #F72C3C">www.unclefrank.com.sg</span></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td width="100" style="padding: 15px 0px 15px 20px; vertical-align: top; font-size:24px; line-height: 24px;  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #474747; text-align: right;"><img src="/media/pdf/logo.png"></td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>     
                                                </td>                                          
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr align="left">
                                <td>
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td height="25"></td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: top; font-size:20px; line-height: 24px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: bold; color: #111; text-align: left; padding-right: 10px;">Credit Term Invoice </td>
                                        </tr>
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <table cellspacing="0" cellpadding="0" border="0" width="900">
                                            <tr>
                                                <td style="font-size: 14px; line-height: 22px; color: #666; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                                                    Customer Name: {{ customer_name }}<br>
                                                    Customer ID: {{ customer_id }}<br>
                                             <span>Invoice for: </span> {{ date|date:"Y M" }}
                                                </td>
                                            </tr>
                                            <tr><td height="15"></td></tr>
                                            <tr>
                                                <td>
                                                    <table style="border: 1px solid #e1e1e1; border-collapse: collapse;" id="example" class="display" cellspacing="0" width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th style=" font-size: 14px; padding: 6px; border: 1px solid #e1e1e1; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">OrderID</th>
                                                            <th style=" font-size: 14px; padding: 6px; border: 1px solid #e1e1e1; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">Order Date</th>
                                                            <th style=" font-size: 14px; padding: 6px; border: 1px solid #e1e1e1; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">Cost($)</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for d in data %}
                                                        <tr>
                                                            <td style=" font-size: 14px; padding: 6px; border: 1px solid #e1e1e1; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">{{ d.delevery_service.order_no }}</td>
                                                            <td style=" font-size: 14px; padding: 6px; border: 1px solid #e1e1e1; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">{{ d.delevery_service.created_at|date:"Y m d" }}</td>
                                                            <td style=" font-size: 14px; padding: 6px; border: 1px solid #e1e1e1; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">{{ d.total }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        <tr>
                                                            <td style=" font-size: 14px; padding: 6px; border: 1px solid #e1e1e1; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;" colspan="2">Total:</td>
                                                            <td style=" font-size: 14px; padding: 6px; border: 1px solid #e1e1e1; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">{{ total }}</td>
                                                        </tr>
                                                        </tbody>
                                                                

                                                    </table>
                                                </td>
                                            </tr>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>