{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}

{% block extracss %}



{% endblock %}

{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
       <div class="panel">
        <div class="panel-body">
            <div class="vb-searchbar">
              <div class="vb-search-row vb-search-hold">
                <div class="cell cell-field">
                  <div class="cf-block">
                    <div class="input-group">
                      <div class="input-group-addon">SEARCH</div>
                      <input id="searchCourier" type="text" class="form-control" placeholder="Type keyword...">
                    </div>
                  </div>
                </div>
                <div class="cell cell-btn">
                  <div class="vb-btn-group">
                  </div>
                </div>
              </div>
            </div>
           </div>
           </div>
        <div class="panel panel-bordered panel-base panel-bookings">
          <div class="panel-body">
              <div class="table-responsive">
              <table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">

                {% if delivery %}
                <thead>
                  <tr>
                    <th>Taken By</th>
                    <th>Collection Name</th>
                    <th>Collection Address</th>
                    <th>Delivery Name</th>
                    <th>Delivery Address</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                {% for obj in delivery %}
                    <tr>
                      {% if obj.taken_by %}
                      <td><a href="/sadmin/driver_profile_detail/{{ obj.taken_by.id }}">{{obj.taken_by.name}}</a></td>
                      {% else %}
                      <td>Pending</td>
                      {% endif %}</td>
                      <td>{{obj.collection_name}}</td>
                      <td>{{obj.collection_address}}</td>
                      <td>{{obj.delivery_name}}</td>
                      <td>{{obj.delivery_address}}</td>
                      <td>{{obj.delevery_status}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                {% else %}
                <thead>
                    <th>NO COURIER ORDERS FROM THIS CUSTOMER YET</th>
                </thead>
                <tbody>
                    <tr>
                      <td>NO COURIER ORDERS FROM THIS CUSTOMER YET</td>
                    </tr>
                </tbody>
                {% endif %}

               </table>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">


    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>

  <script type="text/javascript">
        $(function(){
          $(".sort-listings a").on("click", function(e) {
            e.preventDefault();
            $(".sort-listings li").removeClass("active");
            $(this).closest("li").addClass("active");
          });
        });

        $(function(){
          var tableCourier = $("#tableCourier").DataTable({
            aoColumnDefs: [
              {
                 bSortable: false,
                 aTargets: [ -1 ],
              }
            ]
          });
          $("#searchCourier").keyup(function(){
                tableCourier.search($(this).val()).draw() ;
      });
        });


    </script>
{% endblock %}