{% extends "dashboard/super_layout.html" %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
            <h1 class="pages-heading">Credit terms</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

            <div class="table-responsive">
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                <th>Customer</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in data %}
                <tr>
                  <td>{{ obj.customer.name }} ({{ obj.customer_id }})</td>
                  <td>{{ obj.credit_term }}</td>
                  <td>
                    <a href="/sadmin/creditterm_edit/{{ obj.id }}">Update</a> /
                    <a href="/sadmin/creditterm_delete/{{ obj.id }}">Delete</a>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        </div>
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}

  	      {{ form.as_p }}

  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
{% endblock %}