{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}

{% block extracss %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

{% endblock %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->

        <div class="panel-body">
          </div>
            <div class="vb-searchbar">
              <div class="vb-search-row vb-search-hold">
                <div class="cell cell-field">
                  <div class="cf-block">
                    <div class="input-group">
                      <div class="input-group-addon">SEARCH</div>
                      <input id="searchCourier" type="text" class="form-control" placeholder="Type keyword...">
                    </div>
                  </div>
                </div>
                <div class="cell cell-btn">
                  <div class="vb-btn-group">
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="panel panel-bordered panel-base panel-bookings">
          <div id="tableCourierDiv" class="panel-body table-responsive">
            <div class="panel">
              <div class="panel-body">
              <table id="tableCourier" class="table table-hover dataTable table-striped width-full">

                {% if pickup %}
                <thead>
                  <tr>
                    <th>Taken By</th>
                    <th>Pickup Address</th>
                    <th>Dropoff Address</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                {% for obj in pickup %}
                    <tr>
                      {% if obj.pickedup_by %}
                      <td><a href="/sadmin/driver_profile_detail/{{ obj.pickedup_by.id }}">{{obj.pickedup_by.name}}</a></td>
                      {% else %}
                      <td>Pending</td>
                      {% endif %}
                      <td>{{obj.pickup_address}}</td>
                      <td>{{obj.dropoff_address}}</td>
                      <td>{{obj.pickup_status}}</td>
                    </tr>

                {% endfor %}
                </tbody>
                {% else %}
                <thead>
                    <th>NO PICKUP ORDERS FROM THIS CUSTOMER YET</th>
                </thead>
                {% endif %}

               </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>

  <script type="text/javascript">
        $(function(){
          $(".sort-listings a").on("click", function(e) {
            e.preventDefault();
            $(".sort-listings li").removeClass("active");
            $(this).closest("li").addClass("active");
          });
        });

        $(function(){
          var tableCourier = $("#tableCourier").DataTable({
            aoColumnDefs: [
              {
                 bSortable: false,
                 aTargets: [ -1 ],
              }
            ]
          });
          $("#searchCourier").keyup(function(){
                tableCourier.search($(this).val()).draw() ;
      });

      $(document).ready(function() {
      $('[data-plugin="bs-date"]').datetimepicker({
          format: 'DD MMM YYYY',
      });

    });
          $("#searchCourier").keyup(function(){
                tableCourier.search($(this).val()).draw() ;
          })
        });


    </script>
{% endblock %}