{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block title %}Courier Report{% endblock %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
      <h1 class="pages-heading">Courier Order Report</h1>
      <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 mb-20">
                <button type="button" class="btn btn-gray mb-10" id="all">All</button>
                <button type="button" class="btn btn-gray mb-10" id="last_week">Last Week</button>
                <button type="button" class="btn btn-gray mb-10" id="last_month">Last Month</button>
                <button type="button" class="btn btn-gray mb-10" id="last_year">Last Year</button>
                </div>
                <div class="col-sm-12">

                    <div class="row">
                        <div class="col-sm-4">
                            <h5 class="fs-15 brand-primary uppercase">FROM</h5>
                          <div class="field-has-icon">
                            <input id="from" required="true" name='from' type="text" class="form-control" data-plugin="bs-date">
                            <img src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                          </div>
                        </div>
                        <div class="col-sm-4">
                            <h5 class="fs-15 brand-primary uppercase">TO</h5>
                  <div class="field-has-icon">
                    <input id="to" required="true" name='to' type="text" class="form-control" data-plugin="bs-date">
                    <img src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                  </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" onclick="find_from_date()"
                            class="btn btn-black medium mon-normal uppercase mt-15">Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                    <div class="table-responsive mb-20 ">
                        <table id="tableCourier" class="table table-hover table-striped width-full th-nowrap table-arrow-align">
                        <thead>
                          <tr>
                            <th>Order ID</th>
                            <th>Driver ID</th>
                            <th>Posting Time</th>
                            <th>Total Cost</th>
                            <th>Job Status</th>
                            <th>Paid Amount</th>
                            <th>Driver's Earning</th>
                            <th>Job Completion Time</th>
                            <th>Transaction ID</th>
                            <th>Payment to Driver</th>
                          </tr>
                        </thead>
                        <tbody id="remove">
                            {% if earnings %}
                            {% for obj in earnings %}
                            <tr>
                         <!--      <td> {{ forloop.counter }}</td> -->
                              {% if obj.delevery_service %}
                                {% if obj.payment_status == 'UNPAID' %}
                                <td>
                                    <div class="nowrap checkbox-vmiddle">
                                        <div class="checkbox-custom inline">
                                          <input type="checkbox" id="check_{{ obj.id }}" value="{{ obj.id }}">
                                          <label><a href="/sadmin/delivery_summary/{{ obj.delevery_service.id }}/">
                                        {{ obj.delevery_service.order_no }}</a></label>
                                        </div>


                                    </div>
                                </td>
                                {% else %}
                                <td>
                                    <div class="nowrap checkbox-vmiddle">
                                        <div class="checkbox-custom inline">
                                          <input type="checkbox" disabled>
                                          <label><a href="/sadmin/delivery_summary/{{ obj.delevery_service.id }}/">
                                        {{ obj.delevery_service.order_no }}</a></label>
                                        </div>


                                    </div>

                                </td>
                                {% endif %}
                              {% else %}
                                <td>
                                     <div class="nowrap checkbox-vmiddle">
                                        <div class="checkbox-custom inline">
                                          <label>Order may be removed</label>
                                        </div></a>
                                    </div>
                                </td>
                              {% endif %}
                              {% if obj.delevery_service.taken_by %}
                                <td>{{ obj.delevery_service.taken_by.id }}</td>
                              {% else %}
                                <td>Job not taken yet.</td>
                              {% endif %}
                              <td>{{ obj.delevery_service.created_at }}</td>
                              <td>{{ obj.total_cost }}</td>
                              <td>{{ obj.delevery_service.delevery_status }}</td>
                              <td>{{ obj.paid_amount }}</td>
                              <td>{{ obj.delevery_service.drivers_fee }}</td>
                              <td>{{ obj.delevery_service.job_complete_time }}</td>
                              <td>Transaction# {{obj.id}}</td>
                              <td>{{ obj.payment_status }}</td>
                         <!--      <td><a href="/sadmin/courier_report/delete/{{obj.id}}" class="btn btn-link">Delete</a> </td>-->
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Order ID</th>
                            <th>Driver ID</th>
                            <th>Posting Time</th>
                            <th>Total Cost</th>
                            <th>Job Status</th>
                            <th>Paid Amount</th>
                            <th>Driver's Earning</th>
                            <th>Job Completion Time</th>
                            <th>Transaction ID</th>
                            <th>Payment to Driver</th>
                          </tr>
                        </tfoot>
                    </table>
                    </div>
                    <button type="button" class="btn btn-success unstroke mb-10" id="pay">PAY THE BILLS</button>
                </div>
            </div>




  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
  <script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
    <script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>

    <!-- For data table -->
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">
    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
    <!-- For data table -->


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>


    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
    <script src="{% static 'dashboard/plugins/star-rating/js/star-rating.min.js' %}"></script>
    <script src="{% static 'dashboard/plugins/star-rating/themes/krajee-fa/theme.min.js' %}"></script>
<script>
 var tableCourier;
    $(document).ready(function() {
        $('[data-plugin="bs-date"]').datetimepicker({
            format: 'DD MMM YYYY',
        });
    });
    $(function () {
        tableCourier = $("#tableCourier").DataTable({
            initComplete: function () {
                this.api().columns([4,9]).every( function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
     
                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                        } );
     
                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            },
            dom: 'Bfrtip',
            buttons: [
                'csvHtml5',
                'pdfHtml5'
            ],
            exportOptions: {
            rows: { selected: true },
            },

        });
    });
</script>
<script type="text/javascript">
    $('#all').on('click', function(){
        console.log('success');
        location.reload(true);
    });
    $('#last_week').on('click', function(){
        $.ajax({
            url: '/sadmin/earnings/last_week/',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                tableCourier.destroy();
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                
                tableCourier = $("#tableCourier").DataTable( {
                            initComplete: function () {
                                this.api().columns([4,9]).every( function () {
                                    var column = this;
                                    var select = $('<select><option value=""></option></select>')
                                        .appendTo( $(column.footer()).empty() )
                                        .on( 'change', function () {
                                            var val = $.fn.dataTable.util.escapeRegex(
                                                $(this).val()
                                            );
                     
                                            column
                                                .search( val ? '^'+val+'$' : '', true, false )
                                                .draw();
                                        } );
                     
                                    column.data().unique().sort().each( function ( d, j ) {
                                        select.append( '<option value="'+d+'">'+d+'</option>' )
                                    } );
                                });
                            },
                            dom: 'Bfrtip',
                            buttons: [
                                'csvHtml5',
                                'pdfHtml5'
                            ],
                            exportOptions: {
                            rows: { selected: true },
                            },
                        });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
    $('#last_month').on('click', function(){
        $.ajax({
            url: '/sadmin/earnings/last_month/',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                tableCourier.destroy();
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                tableCourier = $("#tableCourier").DataTable( {
                            initComplete: function () {
                                this.api().columns([4,9]).every( function () {
                                    var column = this;
                                    var select = $('<select><option value=""></option></select>')
                                        .appendTo( $(column.footer()).empty() )
                                        .on( 'change', function () {
                                            var val = $.fn.dataTable.util.escapeRegex(
                                                $(this).val()
                                            );
                     
                                            column
                                                .search( val ? '^'+val+'$' : '', true, false )
                                                .draw();
                                        } );
                     
                                    column.data().unique().sort().each( function ( d, j ) {
                                        select.append( '<option value="'+d+'">'+d+'</option>' )
                                    } );
                                } );
                            },
                            dom: 'Bfrtip',
                            buttons: [
                                'csvHtml5',
                                'pdfHtml5'
                            ],
                            exportOptions: {
                            rows: { selected: true },
                            },
                        });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
    $('#last_year').on('click', function(){
        $.ajax({
            url: '/sadmin/earnings/last_year/',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                tableCourier.destroy();
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                tableCourier = $("#tableCourier").DataTable( {
                            initComplete: function () {
                                this.api().columns([4, 9]).every( function () {
                                    var column = this;
                                    var select = $('<select><option value=""></option></select>')
                                        .appendTo( $(column.footer()).empty() )
                                        .on( 'change', function () {
                                            var val = $.fn.dataTable.util.escapeRegex(
                                                $(this).val()
                                            );
                     
                                            column
                                                .search( val ? '^'+val+'$' : '', true, false )
                                                .draw();
                                        } );
                     
                                    column.data().unique().sort().each( function ( d, j ) {
                                        select.append( '<option value="'+d+'">'+d+'</option>' )
                                    } );
                                } );
                            },
                            dom: 'Bfrtip',
                            buttons: [
                                'csvHtml5',
                                'pdfHtml5'
                            ],
                            exportOptions: {
                            rows: { selected: true },
                            },
                        });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });

    $("#pay").click(function(e) {
        var myArray = [];
        $(":checkbox:checked").each(function() {
            myArray.push(this.value);
        });

        $.ajax({
            url: '/sadmin/pay_driver/',
            type: 'post',
            data: {pay_id:myArray},
            dataType: 'html',
            success: function (data) {
                console.log('success');
                location.reload(true);
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
</script>

<script>
var find_from_date = function find_from_date(){
        from = $('#from').val();
        to = $('#to').val();
        $.ajax({
              url:'/sadmin/earnings/from_date/',
              type:'post',
              data: {from_date:from, to_date:to},
              dataType: 'html',
              success: function (data) {
                tableCourier.destroy();
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                tableCourier = $("#tableCourier").DataTable( {
                            initComplete: function () {
                                this.api().columns([4, 9]).every( function () {
                                    var column = this;
                                    var select = $('<select><option value=""></option></select>')
                                        .appendTo( $(column.footer()).empty() )
                                        .on( 'change', function () {
                                            var val = $.fn.dataTable.util.escapeRegex(
                                                $(this).val()
                                            );
                     
                                            column
                                                .search( val ? '^'+val+'$' : '', true, false )
                                                .draw();
                                        } );
                     
                                    column.data().unique().sort().each( function ( d, j ) {
                                        select.append( '<option value="'+d+'">'+d+'</option>' )
                                    } );
                                } );
                            },
                            dom: 'Bfrtip',
                            buttons: [
                                'csvHtml5',
                                'pdfHtml5'
                            ],
                            exportOptions: {
                            rows: { selected: true },
                            },
                        });
            },
            error: function (err) {
                console.log(err)
            }
        });
      }
    </script>
{% endblock %}
{% block extracss %}
 <link rel="stylesheet" href="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}
