<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Driver List</h1>
        <table border="1">
            <thead>
            <tr>
                <th>Name</th>
                <th>Contact No</th>
                <th>Service Type</th>
                <th width="25%">Email</th>
                <th>Driver Category</th>
                <th>Acceptance Rate</th>
                <th>Cancellation Rate</th>
                <th>Driver Rate</th>
            </tr>
            </thead>
            <tbody>
            {% for d in drivers %}
            <tr>
                <td>{{ d.name }}</td>
                <td>{{ d.mobile_no }}</td>
                <td>{{ d.driver_service_type }}</td>
                <td>{{ d.email }}</td>
                <td>{{ d.driver_category }}</td>
                <td>{{ d.acceptance_rate }}</td>
                <td>{{ d.cancellation_rate }}</td>
                <td>{{ d.rate }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>