{% extends "dashboard/super_layout.html" %}

{% block extracss %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

{% endblock %}

{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->

        <div class="panel-body">
            <div class="vb-searchbar">
              <div class="vb-search-row vb-search-hold">
                <div class="cell cell-field">
                  <div class="cf-block">
                    <div class="input-group">
                      <div class="input-group-addon">SEARCH</div>
                      <input id="searchCourier" type="text" class="form-control" placeholder="Type keyword...">
                    </div>
                  </div>
                </div>
                <div class="cell cell-btn">
                  <div class="vb-btn-group">
                    <button type="submit" class="btn btn-black medium mon-normal uppercase">Search</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="panel panel-bordered panel-base panel-bookings">
          <div id="tableCourierDiv" class="panel-body table-responsive">
        <div class="panel">
          <div class="panel-body table-responsive">
            <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
                {% if delivery %}
                <thead>
                  <tr>
                    <th>Ordered By</th>
                    <th>Collection Name</th>
                    <th>Collection Address</th>
                    <th>Delivery Name</th>
                    <th>Delivery Address</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                {% for obj in delivery %}
                    <tr>
                      <td><a href="/sadmin/customer_profile_detail/{{ obj.customer.id }}">{{ obj.customer.name }}</a></td>
                      <td>{{obj.collection_name}}</td>
                      <td>{{obj.collection_address}}</td>
                      <td>{{obj.delivery_name}}</td>
                      <td>{{obj.delivery_address}}</td>
                      <td>{{obj.delevery_status}}</td>
                    </tr>
                </tbody>
                {% endfor %}
                {% else %}
                <thead>
                    <th>NO COURIER ORDERS FROM THIS CUSTOMER YET</th>
                </thead>
                <tbody>
                    <tr>
                      <td>NO COURIER ORDERS FROM THIS CUSTOMER YET</td>
                    </tr>
                </tbody>
                {% endif %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#tableCourier').DataTable();
    } );
  </script>
    <script>
        $(function(){
          $(".sort-listings a").on("click", function(e) {
            e.preventDefault();
            $(".sort-listings li").removeClass("active");
            $(this).closest("li").addClass("active");
          });
        });

        $(function(){
          var tableCourier = $("#tableCourier").DataTable({
            aoColumnDefs: [
              {
                 bSortable: false,
                 aTargets: [ -1 ]
              }
            ]
          });
          $("#searchCourier").keyup(function(){
                tableCourier.search($(this).val()).draw() ;
          })
        });
      });
    </script>
{% endblock %}