{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}
{% load humanize %}

<div class="page animsition">
  <div class="page-content">
      <div class="panel panel-bordered panel-base panel-bookings">
        <div id="tableCourierDiv" class="panel-body table-responsive">
        <div class="panel">
          <div class="panel-body">
              <div class="col-sm-6">
                  {% if driver.profile_image %}
                  <img src="{{ driver.profile_image.url }}" class="img-circle" width="250" height="250">
                  {% else %}
                  <img src="{% static 'base/images/user.jpg' %}" class="img-circle" width="300" height="300">
                  {% endif %}
                  <h3 style="color: #00a8c6">Rating: {{rate|floatformat:1}}<input value="{{ rate }}" id="input-id"></h3>
                  <h2>{{ driver.name }}</h2>
                  <h3>Contact No: {{ driver.mobile_no }}</h3>
                  <h3>Email: {{ driver.email }}</h3>
                  <h3>NRIC and Driving Licence (Front):</h3> {% if driver.nric_photo.url %}<a href="{{ driver.nric_photo.url }}"><img src="{{ driver.nric_photo.url }}" width="100"></a>{% endif %}
                  <h3>NRIC and Driving Licence (Back):</h3> {% if driver.driving_licence_photo.url %}<a href="{{ driver.driving_licence_photo.url }}"><img src="{{ driver.driving_licence_photo.url }}" width="100"></a>{% endif %}
                  {% if driver.driver_category %}
                  {% if driver.driver_category == 'NORMAL'%}
                  <h3 style="color:#00a8c6">{{ driver.driver_category }}</h3>
                  {% elif driver.driver_category == 'BRONZE' %}
                  <h3 style="color:#C9AE5D">{{ driver.driver_category }}</h3>
                  {% elif driver.driver_category == 'SILVER' %}
                  <h3 style="color:#A9A9A9">{{ driver.driver_category }}</h3>
                  {% else %}
                  <h3 style="color:#FFD700">{{ driver.driver_category }}</h3>
                  {% endif %}
                  {% else %}
                  <h3>No category yet.</h3>
                  {% endif %}
                  <h3>{% if driver.is_corporate %}<span style="color: #00d95a">Corporate </span>
                      <a href="/sadmin/make_driver_corporate/make/{{ driver.id }}/" class="btn btn-success">Make Normal</a>
                      {% else %}<span style="color: #0b96e5">Normal </span>
                      <a href="/sadmin/make_driver_corporate/make/{{ driver.id }}/" class="btn btn-success">Make Corporate</a>{% endif %}</h3>
              </div>
              <div class="col-sm-6">
                  <h1>Driver Detail</h1>
                  <p>Location: {{ driver.location }}</p>
                  <p>Verification: {{ driver.verification }}</p>
                  <p>Provided Service: {{ driver.driver_service_type }}</p>
                  <p>
                    Company :  {{ driver.company }}
                  </p>
                  {% if driver.driver_service_type != 'courier' %}
                  <p>Acceptance Rate: {{ acceptance_rate }} %</p>
                  <p>Cancellation Rate: {{ cancellation_rate }} %</p>
                  {% endif %}
                  {% if pickup %}
                  <ul>
                      <li>Ride Order: <b> {{ pickup.order_no }} <!-- {{ pickup.created_at|date:"d M,Y g:i A" }} --></b></li>
                      <li>Status: {{ pickup.pickup_status }}</li>
                  </ul>
                  <a href="/sadmin/driver_pickup_orders/{{ driver.id }}">More</a><br/>
                  {% else %}
                  <p>No Rides</p>
                  {% endif %}

                  <h3>Courier Job</h3>
                  {% if delivery %}
                  <ul>
                      <li>Courier order: <b> {{ delivery.order_no }} <!-- {{ delivery.created_at|date:"d M,Y g:i A" }} --></b></li>
                      <li>Status: {{ delivery.delevery_status }}</li>
                  </ul>
                  <a href="/sadmin/driver_delivery_orders/{{ driver.id }}">More</a>
                  {% else %}
                  <p>No Courier Jobs</p>
                  {% endif %}
                  <br/>
                  <button type="button" class="btn btn-gray"  data-target="#editModal" data-toggle="modal">Edit Profile</button>
              </div>
          </div>
           <hr/>
          <div class="panel-body">
            <div class="row">

              <h1>Driver Earnings</h1>
              <div class="col-sm-12">

                    <div class="row">
                        <div class="col-sm-3">
                            <h5 class="fs-15 brand-primary uppercase">FROM</h5>
                          <div class="field-has-icon">
                            <input id="from" required="true" name='from' type="text" class="form-control date" data-plugin="bs-date">
                            <img src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                          </div>
                        </div>
                        <div class="col-sm-3">
                            <h5 class="fs-15 brand-primary uppercase">TO</h5>
                            <div class="field-has-icon">
                              <input id="to" required="true" name='to' type="text" class="form-control date" data-plugin="bs-date">
                              <img src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="button" onclick="find_from_date()"
                            class="btn btn-black medium mon-normal uppercase mt-15">Search</button>
                        </div>
                    </div>
                </div>
              <div class="col-sm-12 mb-20 mt-15">
                  <button type="button" class="btn btn-gray" id="all">All</button>
                  <button type="button" class="btn btn-gray" id="last_week">Last Week</button>
                  <button type="button" class="btn btn-gray" id="last_month">Last Month</button>
                  <button type="button" class="btn btn-gray" id="last_year">Last Year</button>
                </div>
                <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Paid Amount</th>
                    <th>Driver's Earning</th>
                    <th>Payment to Driver</th>
                  </tr>
                </thead>
                <tbody id="remove">
                    {% for obj in earnings %}
                    <tr>
                      {% if obj.payment %}
                        {% if obj.payment.payment_status == 'UNPAID' %}
                        <td>
                        <!-- <input type="checkbox" id="check_{{ obj.payment.id }}" value="{{ obj.payment.id }}"> -->
                        <label><a href="/sadmin/{% if obj.payment.delevery_service %}delivery_summary{% else %}pickup_summary{% endif %}/{{ obj.id }}/">
                        {{ obj.order_no }}
                        </a></label>
                        </td>
                        {% else %}
                        <td>
                       <!--  <input type="checkbox" disabled> -->
                        <label><a href="/sadmin/{% if obj.payment.delevery_service %}delivery_summary{% else %}pickup_summary{% endif %}/{{ obj.id }}/">
                        {{ obj.order_no }}
                        </a></label>
                        </td>
                        {% endif %}
                      {% else %}
                        <td>
                        <!-- <input type="checkbox" disabled> -->
                          <label><a href="/sadmin/{% if obj.payment.delevery_service %}delivery_summary{% else %}pickup_summary{% endif %}/{{ obj.id }}/">
                        {{ obj.order_no }}
                        </a></label>
                        </td>
                      {% endif %}
                      <td>{{ obj.payment.paid_amount }}</td>
                      <td>{{ obj.drivers_fee }}</td>
                      <td>{{ obj.payment.payment_status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          <!--   <button type="button" class="btn btn-success" id="pay">PAY THE BILLS</button> -->
          </div>
          </div>
        <div class="panel-body">
          <h2>Vehicle Informations</h2>
          <table class="table table-hover dataTable table-striped width-full">
                <thead>
                  <tr>
                    <th class="col_search">Vehicle Type</th>
                    <th class="col_search">Number</th>
                    <th class="col_search">Brand</th>
                    <th class="col_search">Plate</th>
                    <th class="col_search">Vehicle Photo</th>
                  </tr>
                </thead>
                <tbody>
                {% for v in vechiles %}
                  <tr>
                    <td>{{ v.get_vehicle_name }}</td>
                    <td>{{ v.vechile_number }}</td>
                    <td>{{ v.brand }}</a></td>
                    <td>{% if v.plate %}<a href="{{ v.plate.url }}"><img src="{{ v.plate.url }}" width="100"></a>{% endif %}</td>
                    <td>{% if v.vechile_photo %}<a href="{{ v.vechile_photo.url }}"><img src="{{ v.vechile_photo.url }}" width="100"></a>{% endif %}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="panel-body">
          <h2>Bank Informations</h2>
          <table class="table table-hover dataTable table-striped width-full">
                <thead>
                  <tr>
                    <th class="col_search">Bank Name</th>
                    <th class="col_search">Account Number</th>
                    <th class="col_search">Bank code</th>
                    <th class="col_search">Branch</th>
                  </tr>
                </thead>
                <tbody>
                {% for b in banks %}
                  <tr>
                    <td>{{ b.name_of_bank }}</td>
                    <td>{{ b.account_number }}</a></td>
                    <td>{{ b.bank_code }}</td>
                    <td>{{ b.branch_code }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="panel-body">
          <h2>Added Document</h2>
          <table class="table table-hover dataTable table-striped width-full">
                <thead>
                  <tr>
                    <th class="col_search">File</th>
                    <th class="col_search">Actions</th>
                  </tr>
                </thead>
                <tbody>
                {% for file in fiels %}
                  <tr>
                    <td><a href="{{ file.file.url }}">{{ file.file_name }}</a></td>
                    <td><a href="/sadmin/delete_driver_file/{{ file.id }}/">Delete</a></td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" name="submit" value="Add">
            </form>
          </div>
                    <div class="panel-body">
            <h2>Reviews From Customers</h2>
            <hr/>
            {% for rete in ratings %}
            <div class="container">
            <div class="col-sm-10">
                <h4 style="color: #00a8c6">Rated: {{ rete.rating|floatformat:1}}<input value="{{ rete.rating }}" class="stars"></h4>
                <p style="color: #00a8c6">{{ rete.comment }}</p>
                <span>by - {{ rete.rated_by.name }}</span>
            </div>
            </div>
            <hr/>
            {% endfor %}
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-cab-details" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="modal-header text-center">
            <h3 class="title fs-24 uppercase color-primary">Edit Driver's Information</h3>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero.</p>
          </div>
          <div class="modal-body">
            <h4 class="uppercase fs-15 mon-normal text-center mb-0 mt-0 ">Edit {{ driver.name }}'s information</h4>
            <input type="hidden" value="{{ driver.id }}" id="driver_id">
            <br/>
            <div class="text-center mb-20">
                <p>Driver Category</p>
                <select name="category" class="form-control huge" id="category">
                    {% if driver.driver_category %}
                    <option value="{{ driver.driver_category }}" selected>{{ driver.driver_category }} (OLD)</option>
                    {% endif %}
                    <option value="NORMAL">NORMAL</option>
                    <option value="BRONZE">BRONZE</option>
                    <option value="SILVER">SILVER</option>
                    <option value="GOLD">GOLD</option>
                </select>
                <p>Name</p>
                <input type="text" value="{{ driver.name }}" class="form-control huge" id="name">
            </div>
          </div>
          <div class="modal-footer text-right">
            <button type="submit" class="btn btn-secondary gotham normal uppercase fs-15 btn-afix" onclick="edit()">SUBMIT</button>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block extrajs %}
 <script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
<!--  <link rel="stylesheet" href="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}"> -->
  <script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
<!--   <link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}"> -->
  <script src="{% static 'dashboard/plugins/star-rating/js/star-rating.min.js' %}"></script>
  <script src="{% static 'dashboard/plugins/star-rating/themes/krajee-fa/theme.min.js' %}"></script>
  
  <!-- For data table -->
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">
    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
    <!-- For data table -->

  <script>
    $(document).ready(function() {
        $('.date').datepicker({
            dateFormat: 'd M yy',
        });
    });
</script>
    <script>
    $(function() {
        $('#input-id').rating({
            displayOnly: true,
            theme: 'krajee-fa',
            filledStar: '<i class="fa fa-star"></i>',
            emptyStar: '<i class="fa fa-star-o"></i>',
        })
      });

     $(function() {
        $('.stars').rating({
            displayOnly: true,
            theme: 'krajee-fa',
            filledStar: '<i class="fa fa-star"></i>',
            emptyStar: '<i class="fa fa-star-o"></i>',
        })
      });
    </script>

    <script>
    var tableCourier;
    $(function () {
      tableCourier = $("#tableCourier").DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'csvHtml5',
            'pdfHtml5'
        ],
        exportOptions: {
        rows: { selected: true },
        },
    });
    });
</script>

  <script type="text/javascript">
        var edit = function edit(){
            var id = $('#driver_id').val();
            var category = $('#category').val();
            var name = $('#name').val();
            $.ajax({
              url:'/sadmin/driver_profile_edit/',
              type:'POST',
              data: {id:id, category:category, name:name},
              dataType:'json',
              success:function(data){
                  console.log(data);
                  $('#editModal').modal('hide');
                   window.location = '/sadmin/driver_profile_detail/'+id+'/';
              },
              error:function(){
                  console.log('Error in submission.');
              }
            });
        }


    </script>
<script type="text/javascript">
    $('#all').on('click', function(){
        console.log('success');
        location.reload(true);
    });
    $('#last_week').on('click', function(){
        $.ajax({
            url: '/sadmin/driver_earnings/last_week/{{ driver.id }}/',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                tableCourier.destroy();
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                tableCourier = $("#tableCourier").DataTable( {
                      dom: 'Bfrtip',
                      buttons: [
                          'csvHtml5',
                          'pdfHtml5'
                      ],
                      exportOptions: {
                      rows: { selected: true },
                      },
                  });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
    $('#last_month').on('click', function(){
        $.ajax({
            url: '/sadmin/driver_earnings/last_month/{{ driver.id }}/',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                tableCourier.destroy();
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                tableCourier = $("#tableCourier").DataTable( {
                      dom: 'Bfrtip',
                      buttons: [
                          'csvHtml5',
                          'pdfHtml5'
                      ],
                      exportOptions: {
                      rows: { selected: true },
                      },
                  });

            },
            error: function (err) {
                console.log(err)
            }
        });
    });
    $('#last_year').on('click', function(){
        $.ajax({
            url: '/sadmin/driver_earnings/last_year/{{ driver.id }}/',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                tableCourier.destroy();
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                tableCourier = $("#tableCourier").DataTable( {
                      dom: 'Bfrtip',
                      buttons: [
                          'csvHtml5',
                          'pdfHtml5'
                      ],
                      exportOptions: {
                      rows: { selected: true },
                      },
                  });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });

    $("#pay").click(function(e) {
        var myArray = [];
        $(":checkbox:checked").each(function() {
            myArray.push(this.value);
        });

        $.ajax({
            url: '/sadmin/pay_driver/',
            type: 'post',
            data: {pay_id:myArray},
            dataType: 'html',
            success: function (data) {
                console.log('success');
                location.reload(true);
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
</script>
<script>
var find_from_date = function find_from_date(){
        var from = $('#from').val();
        var to = $('#to').val();
        if(from == "" || to == ""){
          alert("Both dates required");
          return false;
        }
        var driver_id = {{ driver.id }};
        $.ajax({
              url:'/sadmin/drivers_earnings_on_range/',
              type:'post',
              data: {from_date:from, to_date:to, driver_id: driver_id},
              dataType: 'html',
              success: function (data) {
                tableCourier.destroy();
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                tableCourier = $("#tableCourier").DataTable( {
                      dom: 'Bfrtip',
                      buttons: [
                          'csvHtml5',
                          'pdfHtml5'
                      ],
                      exportOptions: {
                      rows: { selected: true },
                      },
                  });
            },
            error: function (err) {
                console.log(err)
            }
        });
      }
    </script>

{% endblock %}