{% extends "dashboard/super_layout.html" %}
{% block content %}

<div class="page animsition">
    <div class="page-content">
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">
        {% if driver_status %}
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full">
            <thead>
              <tr>
                <th>Driver Type</th>
                <th>Courier Commission</th>
                <th>Ride Commission</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in driver_status %}
                <tr>
                  <td>{{ obj.driver_type }}</td>
                  <td>{{ obj.courier_commission}} %</td>
                  <td>{{ obj.pickup_commission }} %</td>
                  <td>
                    <a href="/sadmin/driver_status_edit/update/{{ obj.id }}">Update</a> /
                    <a href="/sadmin/driver_status_edit/delete/{{ obj.id }}">Delete</a>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        {% endif %}
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}

  	      {{ form.as_p }}

  	      <input type="submit" class="btn btn-primary" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
{% endblock %}
