{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->

    <h1 class="pages-heading">Express Windows</h1>
      <div class="panel">
        <div class="panel-body">
        {% if express %}
            <div class="table-responsive">
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                <th>Window Name</th>
                <th>Additional Charges</th>
                <th>Multiple</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in express %}
                <tr>
                  <td>{{ obj.window_name }}</td>
                  <td>{{ obj.price }}</td>
                  <td>{{ obj.multiple }}</td>
                  <td>
                  <div class="actions-orders btn-color-white nowrap">
                    <a href="/sadmin/express_pricing/update/{{ obj.id }}/" class="btn btn-sm btn-primary unstroke">Update</a>
                    <a href="/sadmin/express_pricing/delete/{{ obj.id }}/" class="btn btn-sm btn-warning unstroke">Delete</a>
                  </div>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        </div>
      </div>
      <div class="panel">
        <div class="panel-body">
        <h3>Add new Express Window</h3>
        {% endif %}
  	    <form method='POST' id="form" action='' enctype='multipart/form-data'>
  	      {% csrf_token %}
            <label>Window Name *</label>
            <bd>
            {{ form.window_name }}
            <br/>
            Additional Charges
            {{ form.price }}
            <br/>
            Will additional charge multiple with main charge ?
            <br>
            {{ form.multiple }}
            <br>
            <br>
            <label>Max Number of Open Jobs *</label>
            {{ form.max_number_of_active_job }}
            <br>

  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>
<div>
<script type="text/javascript">
var form = document.getElementById('form'); // form has to have ID: <form id="formID">
form.noValidate = true;
form.addEventListener('submit', function(event) { // listen for form submitting
        if (!event.target.checkValidity()) {
            event.preventDefault(); // dismiss the default functionality
            alert('Please fill required fields with valide data.'); // error message
        }
    }, false);
</script>
{% endblock %}