{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <h1 class="pages-heading">Holiday List (Ride)</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

        {% if holidays %}
        <div class="table-responsive">
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                <th>Date</th>
                <th>Caption</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in holidays %}
                <tr>
                  <td>{{ obj.date }}</td>
                  <td>{{ obj.caption }}</td>
                  <td>
                    <div class="actions-orders btn-color-white nowrap">
                    <a href="/sadmin/holiday_list/update/{{ obj.id }}" class="btn-sm btn btn-primary unstroke">Update</a>
                    <a href="/sadmin/holiday_list/delete/{{ obj.id }}" class="btn-sm btn btn-warning unstroke">Delete</a>
                    </div>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
            </table>
        </div>
        {% endif %}
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}

  	      <div class="field-has-icon">

              {{ form.date }}
              <img src="{% static 'dashboard/assets/images/calendar.png' %}"  alt="Date">
          </div>
            <br/>
                {{ form.caption }}
            <br/>

  	      <input type="submit" class="btn btn-primary" value="Update" onclick="myFunction()"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
    <script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
    <script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
    <script>
      var dateToday = new Date();
      $('[data-plugin="bs-date"]').datetimepicker({
          format: 'YYYY-MM-DD',
           minDate: dateToday,
      });
    </script>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}