{% extends "dashboard/super_layout.html" %}
{% load humanize %}

{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/assets/examples/css/dashboard/v1.css' %}">

{% endblock %}
  {% block content %}
  <div class="page animsition">
    <div class="page-content">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Welcome to your Dashboard!</h1>
        </div>
      </div>

            <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-xlg-6 col-md-6">
          <div class="panel panel-bordered panel-base">
            <div class="panel-heading has-right-content">
              <h3 class="panel-title uppercase clearfix">Courier Statistics<a href="/sadmin/delivery_order_list/" class="btn btn-flat btn-secondary pull-right mt-n8">View all</a>
              </h3>
            </div>
            <div class="panel-body">
              <div class="row statistics-bar">
                <div class="col-sm-6 col-lg-6 col-xlg-4">
                <a href="/sadmin/courier_sales_report/">
                  <div class="statistics-card statistics-card-primary">
                    <img src="{% static 'dashboard/assets/images/s_icon/Total-Sales.png' %}">
                    <h5 class="name">Toal Sales</h5>
                    <span class="count">{% if sum.paid_amount__sum %} ${{ sum.paid_amount__sum }} {% endif %}</span>
                  </div>
                </a>
                </div>
                <div class="col-sm-6 col-lg-6 col-xlg-4">
                <a href="/sadmin/courier_sales_report/">
                  <div class="statistics-card statistics-card-secondary">
                    <img src="{% static 'dashboard/assets/images/s_icon/Averae-Sales.png' %}">
                      <h5 class="name">Average Sales</h5>
                      <span class="count">{% if avg %} ${{ avg|floatformat:2 }} {% endif %}</span>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-lg-6 col-xlg-4">
                <a href="/sadmin/delivery_order_list/">
                  <div class="statistics-card statistics-card-blue">
                  <img src="{% static 'dashboard/assets/images/s_icon/Total-Jobs.png' %}">
                    <h5 class="name">Total jobs</h5>
                    <span class="count">{{ total_deliveries }}</span>
                  </div>
                </a>
                </div>
                <div class="col-sm-6 col-lg-6 col-xlg-4">
                  <a href="/sadmin/delivery_order_list/">
                    <div class="statistics-card statistics-card-parpal">
                      <img src="{% static 'dashboard/assets/images/s_icon/Completed.png' %}">
                      <h5 class="name">Completed jobs</h5>
                      <span class="count">{{ completed_courier }}</span>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-lg-6 col-xlg-4">
                  <a href="/sadmin/delivery_order_list/">
                    <div class="statistics-card statistics-card-orange">
                      <img src="{% static 'dashboard/assets/images/s_icon/Pending.png' %}">
                      <h5 class="name">Pending jobs</h5>
                      <span class="count">{{ pending_courier }}</span>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-lg-6 col-xlg-4">
                  <a href="/sadmin/delivery_order_list/">
                    <div class="statistics-card statistics-card-green">
                      <img src="{% static 'dashboard/assets/images/s_icon/Cancelled.png' %}">
                      <h5 class="name">Cancelled jobs</h5>
                      <span class="count">{{ cancelled_courier }}</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xlg-6 col-md-6">
          <div class="panel panel-bordered panel-base">
            <div class="panel-heading has-right-content">
              <h3 class="panel-title uppercase clearfix">Ride Statistics<a href="/sadmin/pickup_order_list/" class="btn btn-flat btn-secondary pull-right mt-n8">View all</a>
              </h3>
            </div>
            <div class="panel-body">
              <div class="row statistics-bar">
                <div class="col-sm-6 col-lg-6 col-xlg-4">
                  <a href="/sadmin/pickup_sales_report/">
                    <div class="statistics-card statistics-card-primary">
                      <img src="{% static 'dashboard/assets/images/s_icon/Total-Sales.png' %}">
                      <h5 class="name">Toal Sales</h5>
                      <span class="count">${{ total_pick }}</span>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-lg-6 col-xlg-4">
                  <a href="/sadmin/pickup_sales_report/">
                    <div class="statistics-card statistics-card-secondary">
                      <img src="{% static 'dashboard/assets/images/s_icon/Averae-Sales.png' %}">
                      <h5 class="name">Average Sales</h5>
                      <span class="count">${{ avg_pickup|floatformat:2 }}</span>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-lg-6 col-xlg-4">
                  <a href="/sadmin/pickup_order_list/">
                    <div class="statistics-card statistics-card-blue">
                      <img src="{% static 'dashboard/assets/images/s_icon/Total-Jobs.png' %}">
                      <h5 class="name">Total Jobs</h5>
                      <span class="count">{{ total_pickup }}</span>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-lg-6 col-xlg-4">
                  <a href="/sadmin/pickup_order_list/">
                    <div class="statistics-card statistics-card-parpal">
                      <img src="{% static 'dashboard/assets/images/s_icon/Completed.png' %}">
                      <h5 class="name">Completed jobs</h5>
                      <span class="count">{{ completed_pickup }}</span>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-lg-6 col-xlg-8">
                  <a href="/sadmin/pickup_order_list/">
                    <div class="statistics-card statistics-card-orange">
                      <img src="{% static 'dashboard/assets/images/s_icon/Cancelled.png' %}">
                      <h5 class="name">Cancelled jobs</h5>
                      <span class="count">{{ cancelled_pickup }}</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="row" data-plugin="matchHeight" data-by-row="true">
      <div class="col-sm-12">
                <div class="panel">
            <div class="panel-body">
              <div class="row">

                <div class="col-sm-6">

          <h4>Last Five Courier Order</h4>
          <div class="table-responsive">
          <table id="" class="table table-hover table-striped width-full">
            <thead>
            <tr>
            <th>Order ID</th>
            <th>Status</th>
            </tr>
            </thead>
            {% if delivery %}
            <tbody id="del_body">
            {% for obj in delivery %}
            <tr>
            <td>{{ obj.order_no }}</td>
            <td><span class="text-warning">{{ obj.delevery_status }}</span></td>
            </tr>
            {% endfor %}
            </tbody>
            {% endif %}

           </table>
            </div>
                </div>
               <!--<div class="panel-body">-->
                <div class="col-sm-6">
                   <h4>Last Five Ride Order</h4>
                      <div class="table-responsive">
                      <table id="tableCourier" class="table table-hover dataTable table-striped width-full">
                        <thead>
                        <tr>
                        <th>Order ID</th>
                        <th>Status</th>
                        </tr>
                        </thead>
                        {% if pickup %}
                        <tbody id="pick_body">
                        {% for obj in pickup %}
                        <tr>
                        <td>{{ obj.order_no }}</td>
                        <td><span class="text-warning">{{ obj.pickup_status }}</span></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        {% endif %}
                      </table>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
        </div>
              <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-sm-6">
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h4 class="panel-title">Delivery Activities</h4>
            </div>
            <div class="panel-body">
              <div class="chart-canvas-wrap">
                <canvas id="deliveryChart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h4 class="panel-title">Ride Activities</h4>
            </div>
            <div class="panel-body">
              <div class="chart-canvas-wrap">
                <canvas id="pickupChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-app='myApp' class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-sm-12">
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h4 class="panel-title">Active Drivers</h4>
            </div>
            <div ng-controller='myCtrl' class="panel-body">
              <div class="chart-canvas-wrap">
                <div id="map-canvas" style="height: 800px; width: 100%"></div>
                <hr/>
                <div class="text-center">
                  <ul class="list-unstyled car-marker-lists">
                    <li>
                      <img src="{% static 'dashboard/assets/images/car_marker/2.png' %}"> 
                      <div class="cl-counter">
                        Courier Driver
                        <span>( {$ no_of_courier $} )</span>
                      </div>
                    </li>
                    <li>
                      <img src="{% static 'dashboard/assets/images/car_marker/1.png' %}">
                      <div class="cl-counter">
                        Passenger Driver
                        <span>( {$ no_of_pickup $} )</span>
                      </div>
                    </li>
                    <li><img src="{% static 'dashboard/assets/images/car_marker/3.png' %}">
                      <div class="cl-counter">
                        Both Service Driver
                        <span>( {$ no_of_both $} )</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h4 class="panel-title">Customer's Location</h4>
            </div>
            <div ng-controller='myCtrl' class="panel-body">
              <div class="chart-canvas-wrap">
                <div id="map-canvas-customer" style="height: 800px; width: 100%"></div>
                <hr/>
                <div class="text-center">
                  <ul class="list-unstyled car-marker-lists">
                    <li>
                      <img src="{% static 'dashboard/assets/images/car_marker/4.png' %}">
                      <div class="cl-counter">
                        Consumer
                        <span>( {$ no_of_customer $} )</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      </div>
      </div>

      <!-- Panel -->

      <!-- Map -->

  	</div>
  </div>
 </div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>




<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90434140-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>
<script>
  $(function(){
      var ctx = document.getElementById("pickupChart");
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: ["Completed", "Cancelled", "Total"],
              datasets: [{
                        label: "No of Pickup Orders",
                  data: [{{ completed_pickup }}, {{ cancelled_pickup }}, {{ total_pickup }}],
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        // data: [65, 59, 80, 81, 56, 55, 40],
                        spanGaps: false,
              }]
          }
      });
    });

    $(function(){
      var ctx = document.getElementById("deliveryChart");
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: ["Pending", "Assigned", "Taken", "Completed", "Cancelled"],
              datasets: [{
                label: "No of Courier Orders",
                  data: [{{ pending_del_job }}, {{ assigned_del_job }},{{ taken_del_job }},
              {{ completed_del_job }}, {{ cancelled_del_job }}],
              lineTension: 0.1,
              backgroundColor: "rgba(75,192,192,0.4)",
              borderColor: "rgba(75,192,192,1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(75,192,192,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(75,192,192,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              // data: [65, 59, 80, 81, 56, 55, 40],
              spanGaps: false,

              }]
          }
      });
    });
</script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?amp&key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&libraries=places"></script>

<script type="text/javascript" src="{% static 'dashboard/assets/js/ngAutocomplete.js' %}"></script>
  <script type="text/javascript">
  var app = angular.module('myApp', ['ngAutocomplete']);
  app.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
  })
.controller('myCtrl', function($scope,  $http, $timeout) {
  angular.element(document).ready(function () {

    //settings for auto complete

  
      // Inicializing google map
      var map;
      var map2;
      var markers = [];
      var markers_customer = [];
      function initialize() {        
      var mapOptions = {
          zoom: 13,
          center: new google.maps.LatLng(1.3772034, 103.8419299)
//          center: new google.maps.LatLng(23.7938808, 90.4016019)
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
        map2 = new google.maps.Map(document.getElementById('map-canvas-customer'),
          mapOptions);
        
      }initialize();
      //clear  customer marker
      function setMapOnAllCustomer(map){
        for (var i = 0; i < markers_customer.length; i++) {
          markers_customer[i].setMap(map);
        }
      }
      //clear marker
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
      // Set markers
      $scope.no_of_courier = 0;
      $scope.no_of_pickup = 0;
      $scope.no_of_both = 0;
      $scope.no_of_customer = 0;

      $scope.makeMarkers =function makeMarkers(data){
        console.log("marcer function called");
        setMapOnAll(null);
        var corier_no = 0;
        var pickup_no = 0;
        var both_no = 0;
        var customer_no = 0
        for(var i in data){
          console.log("marcer function has data");
          if(data[i].is_active){
            var marker_icon = "{% static 'dashboard/assets/images/car_marker/2.png' %}";
            if(data[i].driver_type == 'courier'){
              var marker_icon = "{% static 'dashboard/assets/images/car_marker/2.png' %}";
              corier_no = corier_no +1;
            } else if(data[i].driver_type == 'pickup'){
              var marker_icon = "{% static 'dashboard/assets/images/car_marker/1.pngg' %}";
              pickup_no = pickup_no+1;
            } else if (data[i].driver_type == 'both'){
              var marker_icon = "{% static 'dashboard/assets/images/car_marker/3.png' %}";
              both_no = both_no +1;
            }

            var marker = new google.maps.Marker({
                map:map,
                position: new google.maps.LatLng(data[i].lat, data[i].lng),
                icon : marker_icon
              });
             markers.push(marker);
          }
        }
        $scope.no_of_courier = corier_no;
        $scope.no_of_pickup = pickup_no;
        $scope.no_of_both = both_no;

      }

      $scope.makeMarkersCustomer =function makeMarkers(data){

        //cler customer marker
        setMapOnAllCustomer(null);
        var customer_no = 0;
        for(var i in data){
         
          if(data[i].is_active){
            if (data[i].driver_type == 'consumer'){
               // console.log("consumer ----------");
              var marker_icon = "{% static 'dashboard/assets/images/car_marker/4.png' %}";
              customer_no = customer_no +1;
            }
            var marker_customer = new google.maps.Marker({
                map:map2,
                position: new google.maps.LatLng(data[i].lat, data[i].lng),
                icon : marker_icon
              });
             markers_customer.push(marker_customer);
             
          }
        }
        $scope.no_of_customer = customer_no;
      }




      // get drivers lication form server
      // Function to get the data
      $scope.getData = function(){
        $http.get('/apis/get_driver_location/')
          .success(function(data, status, headers, config) {

          // Your code here
          $scope.makeMarkers(data);
        });
      }

      $scope.getDataConsumer = function(){
        $http.get('/apis/get_customer_location/')
          .success(function(data, status, headers, config) {

          // Your code here
          $scope.makeMarkersCustomer(data);
        });
      }
    // Function to replicate setInterval using $timeout service.
    $scope.intervalFunction = function(){
      $timeout(function() {
        $scope.getData();
        $scope.getDataConsumer();
        $scope.intervalFunction();
        console.log("test");
    }, 10000)
    };

    // Initial call for the driver location
    $scope.getData();
    // Kick off the interval
    $scope.intervalFunction();
    
  //get pricing details for the car

});
});

      $('#days').on('change', function(){
          var day = $('#days').val();
          if(day.length>0){
              console.log(day);
              $.ajax({
                  url: '/sadmin/dashboard_deltable_timewise/',
                  type: 'post',
                  data: {days: day},
//                  data: {days: day},
                  dataType: 'json',
                  success: function(data){
                     $('#del_body').empty();
                    results = JSON.parse(data);
                      $.each(results, function (key, data) {
                          $('#del_body').append('<tr><td>'+ results[key].fields.order_no +
                                  '</td>><td><span class="text-warning">'+ results[key].fields.delevery_status+ '</span></td></tr>');
//                          console.log(results[key].fields.collection_address);
                      })
                  },
                  error: function(){
                      console.log("Error in submission");
                  }
              });
          }
      });

      $('#days_pick').on('change', function(){
          var day = $('#days_pick').val();
          if(day.length>0){
              console.log(day);
              $.ajax({
                  url: '/sadmin/dashboard_picktable_timewise/',
                  type: 'post',
                  data: {days: day},
//                  data: {days: day},
                  dataType: 'json',
                  success: function(data){
                      $('#pick_body').empty();
                      results = JSON.parse(data);
                      $.each(results, function (key, data) {
                          $('#pick_body').append('<tr><td>' + results[key].fields.order_no +
                              '</td>><td><span class="text-warning">'+ results[key].fields.pickup_status + '</span></td></tr>');
//                          console.log(results[key].fields.collection_address);
                      });
                  },
                  error: function(){
                      console.log("Error in submission");
                  }
              });
          }
      });

  </script>
{% endblock %}
