{% extends "dashboard/super_layout.html" %}
{% block content %}
<div class="page animsition">
  <div class="page-content padding-30 container-fluid">
    <h1 class="pages-heading">{% if header %}{{ header }}{% endif %}</h1>
    <div class="panel">
      <div class="panel-body">

    <div class="row">
      <div class="col-md-12">
    <form method='POST' action='' enctype='multipart/form-data'>
      {% csrf_token %}

      {{ form.as_p }}

      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
  {% block extrajs %}
      <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
     <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
  {% endblock %}
