  {% extends "dashboard/super_layout.html" %}
  {% block content %}
  <div class="page animsition">
    <div class="page-content">
        <h1 class="pages-heading">About Page Edit</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

		  <form method='POST' action='' enctype='multipart/form-data'>
		    {% csrf_token %}

		

        {% for field in form %}

        <p>
          <div class="form-error">{{ field.errors.as_text }}</div>
          <label for="{{ f.label }}">{{ field.label_tag }}</label>
          {{ field }}
        </p>

        {% endfor %}

		    <input type="submit" class="btn btn-primary unstroke" value="Update" name="btn-form-1"/>
  			</form>
        <h1>Slider Image Edit</h1>
        <div class="table-responsive">
        <table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Desc</th>
                  <th>Image</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="forData">
                {% if sliderinstance %}
                {% for obj in sliderinstance %}
                  <tr class="forRemove">
                    <td>{% if obj.title %}{{obj.title}}{% else %}No Title{% endif %}</td>
                    <td>{% if obj.desc %}{{obj.desc}}{% else %}No Desc{% endif %}</td>
                    <td>{% if obj.images %}<img src="{{ obj.images.url }}" height="50" width="100">{% else %}No Image{% endif %}</td>
                    <td>
                        <div class="actions-orders btn-color-white nowrap">
                        <a href="/sadmin/aboutpage_edit/delete/{{obj.id}}" class="btn btn-warning btn-sm unstroke">Delete</a></td>
                        </div>
                  </tr>
                {% endfor %}
              {% endif %}
              </tbody>
          </table>
        </div>
        <form method='POST' action='' enctype='multipart/form-data'>
        {% csrf_token %}
            {% for field in sliderimageform %}
            <p>
              <div class="form-error">{{ field.errors.as_text }}</div>
              <label for="{{ f.label }}">{{ field.label_tag }}</label>
              {{ field }}
            </p>
            {% endfor %}
		    <input type="submit" class="btn btn-primary unstroke" value="Update" name="btn-form-2"/>
        </form>

        <h1>Registration Background Image Edit</h1>
        <div class="table-responsive">
            <table class="table table-hover dataTable table-striped width-full th-nowrap">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Image</th>
                </tr>
              </thead>
              <tbody>
                {% if backgroundimageinstance %}
                {% for obj in backgroundimageinstance %}
                  <tr class="forRemove">
                    <td>{% if obj.title %}{{obj.title}}{% else %}No Title{% endif %}</td>
                    <td>{% if obj.images %}<img src="{{ obj.images.url }}" height="50" width="100">{% else %}No Image{% endif %}</td>
                  </tr>
                {% endfor %}
              {% endif %}
              </tbody>
              </table>

        </div>

        <form method='POST' action='' enctype='multipart/form-data'>
        {% csrf_token %}
            {% for field in backgroundimageform %}
            <p>
              <div class="form-error">{{ field.errors.as_text }}</div>
              <label for="{{ f.label }}">{{ field.label_tag }}</label>
              {{ field }}
            </p>
            {% endfor %}
		    <input type="submit" class="btn btn-primary unstroke" value="Update" name="btn-form-3"/>
        </form>
  		</div>
  	</div>
  </div>
 </div>
{% endblock %}
    {% block extrajs %}
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
  <script src="https://maps.googleapis.com/maps/api/js?amp&key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&libraries=places&callback=initMap"async defer></script>
        <script type="text/javascript">
          var map;
          function initMap() {
            console.log('Testing');
            var location = document.getElementById('location');
            var options = {
                types: ['address'],
                componentRestrictions: {country: 'SG'}
            };

            var autocomplete1 = new google.maps.places.Autocomplete(location, options);
          }
        </script>
    {% endblock %}


