{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block title %}
UncleFrank | Login
{% endblock %}
{% block extracss %}
<style type="text/css">
html, body {
    width: 100%;
    height: 100%;
  }

    .super-admin-wrap {
      position: relative;
      background-image: url('{% static "dashboard/assets/images/imgpsh_fullsize.jpeg" %}');
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .super-admin-wrap:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    } 

      .form-signin {
        max-width: 280px;
        margin: 10px auto;
      }

      .form-signin .checkbox {
        font-weight: normal;
      }

      .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
      }

      .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        box-shadow: none;
        border-radius: 3px 3px 0px 0px;
      }

      .form-signin input[type="text"]:focus {
        /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
      }

      .form-signin input[type="password"] {
        z-index: 2;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        border-radius: 0px 0px 3px 3px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      }

      .form-signin input[type="password"]:focus {
        /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.5);*/
      }

</style>
{% endblock %}
{% block nav_top %}
 
{% endblock %}
{% block nav_side %}

{% endblock %}

{% block content %}
<div class="super-admin-wrap">
  <div class="container relative">
    {% if messages %}
    {% for message in messages %}
    <h3 class="{{ message.tags }}">{{ message }}</h3>
    {% endfor %}
{% endif %}
    <form action="" method="post" class="form-signin">
      <h3 style="color: #fff;">Admin Log In</h3>
    <div class="form-error">
        <span style="color: red;">{{ error }}</span>
    </div>
      {% csrf_token %}
          <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
          <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        
          <button class="btn btn-lg btn-secondary btn-block" type="submit">Log in</button>
      </form>
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
<!-- <div class="super-admin-wrap">
    <div class="container">
      <form class="form-signin" method="post" action="">
        <h3>Admin Log In</h3>
      <div class="form-error">
          <span style="color: red;"></span>
      </div>
        <input type="hidden" value="KTmzu207PSsZ8GjfKw9hEtFjWxlWKswd" name="csrfmiddlewaretoken">
            <input type="text" autofocus="" required="" placeholder="Email Address" name="username" class="form-control">
            <input type="password" required="" placeholder="Password" name="password" class="form-control">
          
            <button type="submit" class="btn btn-lg btn-defualt btn-block">Log in</button>
        </form>
    </div>
  </div> -->