{% extends "dashboard/super_layout.html" %}
{% block content %}
{% load staticfiles %}

<div class="page animsition" style="height: 100%;">
	<div class="page-content" style="height: 100%;">
		<h1 class="pages-heading">All Driver Locations</h1>
    	      <div ng-app='myApp' class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-sm-12">
          <div class="panel panel-bordered">
            <div class="panel-heading">
              <h4 class="panel-title">Active Drivers</h4>
            </div>
            <div ng-controller='myCtrl' class="panel-body">
              <div class="chart-canvas-wrap">
                <div id="map-canvas" style="height: 800px; width: 100%"></div>
                <hr/>
                <div class="text-center">
                  <ul class="list-inline">
                    <li><img src="{% static 'dashboard/assets/images/blue_car.png' %}"> - Courier Driver</li>
                    <li><img src="{% static 'dashboard/assets/images/red_car.png' %}"> - Passenger Driver</li>
                    <li><img src="{% static 'dashboard/assets/images/green_car.png' %}"> - Both Service Driver</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?amp&key=AIzaSyD4qpAFSCX_E_hTOkpw0t53Dv3ULOQ2lw4&libraries=places"></script>

<script type="text/javascript" src="{% static 'dashboard/assets/js/ngAutocomplete.js' %}"></script>
 <script type="text/javascript">
  var app = angular.module('myApp', ['ngAutocomplete']);
  app.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
  })
.controller('myCtrl', function($scope,  $http, $timeout) {
  angular.element(document).ready(function () {

    //settings for auto complete

  
      // Inicializing google map
      var map;
      var markers = [];
      function initialize() {        
      var mapOptions = {
          zoom: 13,
          center: new google.maps.LatLng(1.3772034, 103.8419299)
//          center: new google.maps.LatLng(23.7938808, 90.4016019)
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
        
      }initialize();
      
      //clear marker
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
      // Set markers
      $scope.makeMarkers =function makeMarkers(data){
        console.log("marcer function called");
        setMapOnAll(null);
        for(var i in data){
          console.log("marcer function has data");
          if(data[i].is_active){
            var marker_icon = "{% static 'dashboard/assets/images/blue_car.png' %}";
            if(data[i].driver_type == 'courier'){
              var marker_icon = "{% static 'dashboard/assets/images/blue_car.png' %}";
            } else if(data[i].driver_type == 'pickup'){
              var marker_icon = "{% static 'dashboard/assets/images/red_car.png' %}";
            } else if (data[i].driver_type == 'both'){
              var marker_icon = "{% static 'dashboard/assets/images/green_car.png' %}";
            }
            var marker = new google.maps.Marker({
                map:map,
                position: new google.maps.LatLng(data[i].lat, data[i].lng),
                icon : marker_icon
              });
             markers.push(marker);
          }
        }
      }

      // get drivers lication form server
      // Function to get the data
      $scope.getData = function(){
        $http.get('/apis/get_driver_location/')
          .success(function(data, status, headers, config) {

          // Your code here
          $scope.makeMarkers(data);
        });
      }
    // Function to replicate setInterval using $timeout service.
    $scope.intervalFunction = function(){
      $timeout(function() {
        $scope.getData();
        $scope.intervalFunction();
        console.log("test");
    }, 10000)
    };

    // Initial call for the driver location
    $scope.getData();
    // Kick off the interval
    $scope.intervalFunction();
    
  //get pricing details for the car

});
});

  </script>
    
{% endblock %}