{% extends "dashboard/super_layout.html" %}
{% block content %}
<div class="page animsition">
  <div class="page-content">
      <h1 class="pages-heading">Notification Setup</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">

  <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="update" />
</form>
    </div>
  </div>
</div>
</div>
{% endblock %}