{% extends "dashboard/super_layout.html" %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
            <h1 class="pages-heading">Postal Code Surcharge</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">
        <p>
          <a href="/sadmin/package_pricing_csv_download/">Export CSV</a>
        </p>

  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}

  	      <p>
            <input type="file" name="file">
          </p>

  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
