{% extends "dashboard/super_layout.html" %}
{% block content %}

<div class="page animsition">
    <div class="page-content">
      <!-- Panel -->
      <h1 class="pages-heading">Package Type Settings</h1>
      <div class="panel">
        <div class="panel-body">

        <div class="table-responsive">
            {% if instance %}
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Weight Range</th>
                    <th>Dimention</th>
                    <th>Modify</th>
                  </tr>
                </thead>
                <tbody>
                  {% for obj in instance %}
                    <tr>
                      <td>{{ obj.name }}</td>
                      <td>{{ obj.start_weight }} < {{obj.end_weight}} kg</td>
                      <td>{{ obj.length }}cm x {{obj.width}}cm x {{obj.width}}cm</td>
                      <td>
                        <div class="actions-orders btn-color-white">
                        <a href="/sadmin/package_edit/update/{{ obj.id }}" class="btn btn-sm btn-primary unstroke">Update</a>
                        <a href="/sadmin/package_edit/delete/{{ obj.id }}" class="btn btn-sm btn-warning unstroke">Delete</a>
                        </div>
                      </td>
                    </tr>
                 {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}

  	      {{ form.as_p }}

  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
{% endblock %}
