{% extends "dashboard/super_layout.html" %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
        <h2 class="pages-heading">Ride Rates</h2>
      <div class="panel">
        <div class="panel-body">
      <div>
        <h3>Weekday Rates</h3>
          <div class="table-responsive">
        {% if charges %}
  			<table id="tableWeekDay" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                <th>Vehicle Type</th>
                <th>Min Fare</th>
                <th>Base Fare</th>
                <th>Rate</th>
                <th>Waiting Charge</th>
                <th>Surcharge</th>
                <th>GST %</th>
                <th>Modify</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in charges %}
                <tr>
                  <td>{{ obj.vehicle_type }}</td>
                  <td>{{ obj.min_fare }}</td>
                  <td>{{ obj.base_fare }}</td>
                  <td>{{ obj.rate }}</td>
                  <td>{{ obj.waiting_charge }}</td>
                  <td>{{ obj.peakMultiplier }}</td>
                  <td>{{ obj.gst }}</td>
                  <td>
                    <div class="actions-orders btn-color-white nowrap">
                    <a href="/sadmin/passenger_pickup_rates/update/{{ obj.id }}" class="btn btn-sm btn-primary unstroke">Update</a>
                    <a href="/sadmin/passenger_pickup_rates/delete/{{ obj.id }}" class="btn btn-sm btn-warning unstroke">Delete</a>
                    </div>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        {% endif %}
          </div>
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}

  	      {{ form.as_p }}

  	      <input name="weekdayForm" type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
  </div>
    <div class="page-content">
    <div class="panel">
    <div class="panel-body">
      <h3>Weekend Rates</h3>
        <div class="table-responsive">
        {% if charges_two %}
  			<table id="tableWeekEnd" class="table table-hover dataTable table-striped width-full">
            <thead>
              <tr>
                <th>Vehicle Type</th>
                <th>Base Fare</th>
                <th>Rate</th>
                <th>Waiting Charge</th>
                <th>Surcharge</th>
                <th>GST %</th>
                <th>Modify</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in charges_two %}
                <tr>
                  <td>{{ obj.vehicle_type }}</td>
                  <td>{{ obj.base_fare }}</td>
                  <td>{{ obj.rate }}</td>
                  <td>{{ obj.waiting_charge }}</td>
                  <td>{{ obj.peakMultiplier }}</td>
                  <td>{{ obj.gst }}</td>
                  <td>
                  <div class="actions-orders btn-color-white nowrap">
                    <a href="/sadmin/passenger_pickup_rates/update/{{ obj.id }}" class="btn btn-sm btn-primary unstroke">Update</a>
                    <a href="/sadmin/passenger_pickup_rates/delete/{{ obj.id }}" class="btn btn-sm btn-warning unstroke">Delete</a>
                  </div>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
        {% endif %}
        </div>
  	    <form method='POST' action='' enctype='multipart/form-data' class="form-group">
  	      {% csrf_token %}

  	      {{ form_two.as_p }}

  	      <input name="weekendForm" type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
          <div>
  	 </div>
     </div>
    </div>
</div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
{% endblock %}