{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <h1 class="pages-heading">Privacy Page Edit</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}
              {{ form.title }}
            <br/>
                {{ form.description }}
            <br/>
  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
    <script src="{% static 'base/plugins/bs-dateTime/moment.min.js' %}"></script>
    <script src="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.js' %}"></script>
    <script>
      var dateToday = new Date();
      $('[data-plugin="bs-date"]').datetimepicker({
          format: 'YYYY-MM-DD',
           minDate: dateToday,
      });
    </script>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'base/plugins/bs-dateTime/bootstrap-datetimepicker.min.css' %}">
{% endblock %}