{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
      <h1 class="pages-heading">Refund Requests</h1>
      <div class="panel">
        <div class="panel-body">

            {% if messages %}
            {% for message in messages %}
            <center><h3 style="color: #26A65B; font-size: 18px;" class="{{ message.tags }}">{{ message }}</h3></center>
            {% endfor %}
            {% endif %}
            <!--<button type="button" class="btn btn-gray" id="all">All</button>-->
            <!--<button type="button" class="btn btn-gray" id="last_week">Last Week</button>-->
            <!--<button type="button" class="btn btn-gray" id="last_month">Last Month</button>-->
            <!--<button type="button" class="btn btn-gray" id="last_year">Last Year</button>-->
            <div class="table-responsive">
            <table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Total Cost</th>
                    <th>Paid Amount</th>
                    <th>Driver's Earning</th>
                    <th>Payment Status</th>
                  </tr>
                </thead>
                <tbody id="remove">
                    {% if earnings %}
                    {% for obj in earnings %}
                    {% if obj.pickup_service %}
                    <tr>
                      {% if obj.pickup_service %}
                        {% if obj.payment_status == 'REFUNDED' %}
                        <td><input type="checkbox" disabled>{{ obj.pickup_service.order_no }}</td>
                        {% else %}
                        <td><input type="checkbox" id="check_{{ obj.id }}" value="{{ obj.id }}"><a href="/sadmin/pickup_summary/{{ obj.pickup_service.id }}/" class="btn btn-link">
                            {{ obj.pickup_service.order_no }}</a></td>
                        {% endif %}
                      {% else %}
                        <td><input type="checkbox" disabled>Order may be removed</td>
                      {% endif %}

                      <td>{{ obj.total_cost }}</td>
                      <td>{{ obj.paid_amount }}</td>
                      <td>{{ obj.pickup_service.drivers_fee }}</td>s
                      <td>{{ obj.payment_status }}</td>
                    </tr>
                    {% endif %}
                    {% if obj.delevery_service %}
                    <tr>
                      {% if obj.delevery_service %}
                        {% if obj.payment_status == 'REFUNDED' %}
                        <td><input type="checkbox" disabled>{{ obj.delevery_service.order_no }}</td>
                        {% else %}
                        <td><input type="checkbox" id="check_{{ obj.id }}" value="{{ obj.id }}">
                            <a href="/sadmin/delivery_summary/{{ obj.delevery_service.id }}/" class="btn btn-link">{{ obj.delevery_service.order_no }}</a></td>
                        {% endif %}
                      {% else %}
                        <td><input type="checkbox" disabled>Order may be removed</td>
                      {% endif %}

                      <td>{{ obj.total_cost }}</td>
                      <td>{{ obj.paid_amount }}</td>
                      <td>{{ obj.delevery_service.drivers_fee }}</td>
                      <td>{{ obj.payment_status }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            </div>
        <button type="button" class="btn btn-success" id="pay">REFUND</button>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.css' %}">

  <script src="{% static 'dashboard/global/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/datatables-fixedheader/dataTables.fixedHeader.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/datatables-bootstrap/dataTables.bootstrap.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
  <script src="{% static 'dashboard/global/vendor/datatables-tabletools/dataTables.tableTools.js' %}"></script>
<script>
    $(function () {
      var tableCourier = $("#tableCourier").DataTable({
          aoColumnDefs: [
              {
                  bSortable: false,
                  aTargets: [-1],
              }
          ]
      });
    });
</script>
<script type="text/javascript">
    $('#all').on('click', function(){
        console.log('success');
        location.reload(true);
    });
    $('#last_week').on('click', function(){
        $.ajax({
            url: '/sadmin/earnings/pickup_last_week/',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
    $('#last_month').on('click', function(){
        $.ajax({
            url: '/sadmin/earnings/pickup_last_month/',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
    $('#last_year').on('click', function(){
        $.ajax({
            url: '/sadmin/earnings/pickup_last_year/',
            type: 'get',
            dataType: 'html',
            success: function (data) {
                $('#tableCourier').empty();
                $('#tableCourier').html(data);
                var tableCourier = $("#tableCourier").DataTable({
                    aoColumnDefs: [
                      {
                         bSortable: false,
                         aTargets: [ -1 ],
                      }
                    ],
                    "bDestroy": true,
                  });
            },
            error: function (err) {
                console.log(err)
            }
        });
    });

    $("#pay").click(function(e) {
        var myArray = [];
        $(":checkbox:checked").each(function() {
            myArray.push(this.value);
        });

        $.ajax({
            url: '/sadmin/refund/',
            type: 'post',
            data: {pay_id:myArray},
            dataType: 'html',
            success: function (data) {
                console.log('success');
                location.reload(true);
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
</script>


{% endblock %}
