{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
            <h1 class="pages-heading">Ride Slider Edit</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">
            <div class="table-responsive">
  			<table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in sliders %}
                <tr>
                  <td><img width="100" src="{% if obj.image %}{{ obj.image.url }}{% endif %}" /></td>
                  <td>{{ obj.title }}</td>
                  <td>{{ obj.description }}</td>
                  <td>
                    <div class="actions-orders btn-color-white nowrap">
                    <a href="/sadmin/ride_slider_edit/{{ obj.id }}/" class="btn btn-sm btn-primary unstroke">Update</a>
                    <a href="/sadmin/ride_slider_delete/{{ obj.id }}/" class="btn btn-sm btn-warning unstroke">Delete</a>
                    </div>
                  </td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
            </div>
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}
  	      {{ form.as_p }}
  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
