{% extends "dashboard/super_layout.html" %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
            <h1 class="pages-heading">Ride Timecharge csv Export/Import</h1>
      <!-- Panel -->
      <div class="panel">
        <div class="panel-body">
        <p>
          <a href="/sadmin/ride_timecharge_export/">Expoart CSV</a>
        </p>

  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}

  	      <p>
            <input type="file" name="file">
          </p>

  	      <input type="submit" class="btn btn-primary unstroke" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea', plugins: "code" });</script>
{% endblock %}