{% extends "dashboard/super_layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="page animsition">
  <div class="page-content">
      <!-- Panel -->
      <h1 class="pages-heading">Super Admin Users</h1>
      <div class="panel">
        <div class="panel-body">
        <div class="table-responsive">
        <table id="tableCourier" class="table table-hover dataTable table-striped width-full th-nowrap">
            <thead>
              <tr>
                  <th>Email</th>
                  <th>CMS Access</th>
                  <th>Settings Access</th>
                  <th>Delivery Window Access</th>
                  <th>Address Setup Access</th>
                  <th>Courier Access</th>
                  <th>Pickup Access</th>
                  <th>Driver Info Access</th>
                  <th>Sales Report Access</th>
                  <th>Customer List Access</th>
                  <th>Account Creation Access</th>
                  <th>Add Coupon Access</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody id="remove">
                {% if superadmin %}
                {% for obj in superadmin %}
                <tr>
                    <!--<td>{{ obj.id }}</td>-->
                    <td>{{ obj.email }}</td>
                    <td>{{ obj.access.is_cms }}</td>
                    <td>{{ obj.access.is_settings }}</td>
                    <td>{{ obj.access.is_window_setup }}</td>
                    <td>{{ obj.access.is_address_setup }}</td>
                    <td>{{ obj.access.is_courier }}</td>
                    <td>{{ obj.access.is_pickup }}</td>
                    <td>{{ obj.access.is_driver_info }}</td>
                    <td>{{ obj.access.is_sales_report }}</td>
                    <td>{{ obj.access.is_customer_list }}</td>
                    <td>{{ obj.access.is_account }}</td>
                    <td>{{ obj.access.is_add_coupon }}</td>
                    <td><div class="actions-orders btn-color-white nowrap"><a href="/sadmin/delete/{{obj.id}}" class="btn btn-sm btn-warning unstroke">Delete</a></div></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        </div>
        <h3>Create SuperUser</h3>
        {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="alert alert-danger">
      {% else %}
        <div class="alert alert-{{ message.tags }}">
      {% endif %}
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}         
        </div> 
      {% endfor %}
    {% endif %}
  	    <form method='POST' action='' enctype='multipart/form-data'>
  	      {% csrf_token %}
            <label>Email</label>
            <input type="text" name="email" class="form-control" required>
            <label>Username</label>
            <input type="text" name="username" class="form-control" required>
             <label>Password</label>
            <input type="password" name="password" class="form-control" required>
            <label>First Name</label>
            <input type="text" name="first_name" class="form-control" required>
            <label>Last Name</label>
            <input type="text" name="last_name" class="form-control" required>
            <label>Access Controls</label><br>
            <input type="checkbox" checked name="cms" value="1">CMS<br>
            <input type="checkbox" checked name="settings" value="1">Settings<br>
            <input type="checkbox" checked name="delivery_window" value="1">Delivery Window Setup<br>
            <input type="checkbox" checked name="address" value="1">Address Setup<br>
            <input type="checkbox" checked name="courier" value="1">Courier<br>
            <input type="checkbox" checked name="pickup" value="1">Pickup<br>
            <input type="checkbox" checked name="driver_info" value="1">Driver Information<br>
            <input type="checkbox" checked name="sales_report" value="1">Sales Report<br>
            <input type="checkbox" checked name="customer_list" value="1">Customer List<br>
            <input type="checkbox" checked name="account" value="1">Account<br>
            <input type="checkbox" checked name="coupon" value="1">Coupon<br>
  	      <input type="submit" class="btn btn-primary" value="Update"/>
  	    </form>
  	 </div>
    </div>
  </div>
</div>

{% endblock %}