<!DOCTYPE html>
<html lang="en">

<head>
{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block extrameta %}{% endblock %}
    <title>{% block title %}Uncle Frank{% endblock %}</title>
        <!-- for feve icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'base/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'base/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'base/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'base/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'base/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'base/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'base/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'base/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'base/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'base/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'base/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'base/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- end of fev icon -->
    <link href="{% static 'base/plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="http://vjs.zencdn.net/5.10.4/video-js.css" rel="stylesheet">
    <link href="{% static 'base/plugins/slick/slick.css' %}" rel="stylesheet">
    <link href="{% static 'base/plugins/slick/slick-theme.css' %}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/custom.css' %}">
    {% block extracss %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {% block nav_top %}                                    
        {% include "base/nave_top.html" %}
    {% endblock %}


    {% block content_banner %}
    
    {% endblock %}

    {% block content %}

   
    {% endblock %}
    {% block content_footer %}
    <section class="section-apps">
        <div class="container text-center">
            <div class="dwn-app">
                {% if home.under_banner_text %}
                        {{ home.under_banner_text }}
                {% else %}
                        Get us on the go! Download the Uncle Frank app SOON!
                {% endif %} 

            <a href="https://itunes.apple.com" class="app-btn"><img src="{% static 'base/images/btn-app-sm.png' %}" alt="download"></a></div>
        </div>
    </section>
    
     {% include "base/footer.html" %}

    {% endblock %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/plugins/browserclass.js' %}"></script>
    <script src="http://vjs.zencdn.net/5.10.4/video.js"></script>
    <script src="{% static 'base/plugins/slick/slick.min.js' %}"></script>
     <script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-86820633-1', 'auto');  ga('send', 'pageview');
  </script>


    {% block extrajs %}{% endblock %}
</body>

</html>
