<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Uncle Frank</title>
    <link href="plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {% if backgroundimage %}
    <div class="user-dashpage image-cover" style="background-image: url('{{ backgroundimage.images.url }}');">
    {% else %}
    <div class="user-dashpage image-cover" style="background-image: url('images/bgDash/1.jpg');">
    {% endif %}
    <div class="user-dashpage image-cover">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="log-card">
                        <div class="text-center">
                            <a class="dashpage-brand" herf="index.html">
                                <img src="images/logo.png" alt="Uncle Frank">
                            </a>
                        </div>
                        <div class="text-center">
                            <h1 class="ud-title montserret normal uppercase">create an account</h1>
                            <h4 class="ud-tagline">Nullam quis risus eget urna mollis ornare vel eu leo.</h4>
                        </div>
                        <form class="form-horizontal mt-45">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control huge" placeholder="Name or Company Name *">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control huge" placeholder="Email Address *">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control huge" placeholder="Mobile or Office Number (for verification) *">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control huge" placeholder="Passwrod*">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control huge" placeholder="NRIC (for verification) *">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control huge" placeholder="Re-enter your password *">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="checkbox-styled mb-20">
                                                <input type="checkbox" checked="checked" id="area-label-4">
                                                <label for="area-label-4" class="fs-13">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 mt-40">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button class="btn btn-primary btn-block btn-afix huge fs-15 gotham semi unstroke uppercase btn-block">Create my Account</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mt-20">
                        <a href="" class="fs-15 gotham semi white uppercase"><i class="fa fa-home"></i> Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="me-dash-footer">
            <div class="container">
                <div class="me-dash-fooer-in">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline me-dash-foo">
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 sm-right">
                            <span class="copy-text">&copy; 2016 Uncle Frank. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-white fade" id="modalHproblem" tabindex="-1" role="dialog" aria-labelledby="modalHproblemLabel">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <a class="dashpage-brand mt-30" herf="index.html">
                                    <img src="images/logo.png" alt="Uncle Frank">
                                </a>
                            </div>
                            <div class="text-center">
                                <h1 class="ud-title brand-primary">Having trouble with your Login?</h1>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                            <ul class="nav nav-trouble clearfix text-center mt-40" role="tablist">
                                <li role="presentation" class="tb-password active"><a href="#tab__password" aria-controls="home" role="tab" data-toggle="tab">Forgot Password?</a></li>
                                <li role="presentation" class="tb-issue"><a href="#tab__issues" aria-controls="profile" role="tab" data-toggle="tab">Other Issues</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab__password">
                                    <form>
                                        <h4 class="text-center in-title mt-70">Enter your email below and send it to us, <br>we'll help you to find your password.</h4>
                                        <div class="input-card">
                                            <div class="input-grid one">
                                                <div class="grid-row">
                                                    <input type="text" class="form-control ifield text-center" placeholder="Enter Your Email Here">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center mt-40">
                                            <button class="btn btn-primary btn-afix medium round fs-20 fw-bold unstroke has-arrow right">Send</button>
                                        </div>
                                        <div class="button-lists sign-meta-btnlist center mt-45">
                                            <a href="" class="btn btn-black stroked round small">Go to Log in Page?</a>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab__issues">
                                    <form>
                                        <h4 class="text-center in-title mt-70">Let us know about your log in issues <br>we'll help you to resolve.</h4>
                                        <div class="input-card">
                                            <div class="input-grid one">
                                                <div class="grid-row">
                                                    <input type="text" class="form-control ifield text-center" placeholder="Enter Your Email Here*">
                                                </div>
                                            </div>
                                            <div class="input-grid one">
                                                <div class="grid-row">
                                                    <textarea class="form-control ifield text-center" placeholder="Your Message*"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center mt-40">
                                            <button class="btn btn-primary btn-afix medium round fs-20 fw-bold unstroke has-arrow right">Send</button>
                                        </div>
                                        <div class="button-lists sign-meta-btnlist center mt-45">
                                            <a href="" class="btn btn-black stroked round small">Go to Log in Page?</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="plugins/browserclass.js"></script>
    <script>
    $(document).ready(function() { 
        $('#modalHproblem').on('shown.bs.modal', function() {
            $('body').addClass('modal-fullpage');
            $('.dashpage-footer').addClass('footer-inmodal');
        })
    });
    </script>
</body>

</html>
