{% extends "frontend/form_layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}


  {% block formcontent %}
      <div class="row">
          <div class="col-sm-12">
              <div class="sign sign-field">
                  <h1 class="sign-heading text-center">Create an account</h1>

                  <form method="POST" action="{% url 'socialaccount_signup' %}"  class="form-horizontal mt-45">
                  {% csrf_token %}
                    {% for field in form %}
                      <div class="form-group">
                          <div class="col-sm-12">
                              <div class="inputbar">
                                  <p class="error-message">{{ field.errors.as_text }}</p>
                                  {{ field }}
                              </div>
                          </div>
                      </div>
                    {% endfor %}  
                      <div class="form-group mb-0">
                          <div class="col-sm-12">
                              <button class="btn btn-secondary fs-13 fw-bold large uppercase unstroked btn-block">Create Account</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div> 
      
  {% endblock %}