{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
  <!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">About Uncle Frank</h1>
        </div>
      </div>
      <div class="view-bookings">
        <div class="panel panel-bordered panel-base fs-15 panel-pages">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <h4 class="mb-20 uppercase">THE COMPANY</h4>
                  <h2 class="bh-title">
                  {% if about.title1 %}
                      {{ about.title1 }}
                  {% else %}
                      About Uncle Frank
                  {% endif %}

                      </h2>
                  {% if about.desc1 %}
                      {{ about.desc1|safe }}
                  {% else %}
                  <p>
                  Uncle Frank is a platform to coordinate all of your deliveries - a single touch point for getting your new sofa, receiving a parcel or connecting your utilities. Used to seeing your cab en-route? Or your pizza being made and delivered? Get the same level of visibility for your major purchases. Now that you can see where your delivery is, Uncle Frank lets you use that information to free up your life. Set an alarm to let you know when you should leave to make it home in time.
                  </p>
                {% endif %}
                   <!--<a href="#" class="btn btn-secondary gotham semi fs-15 btn-step btn-lg uppercase">CONTINUE READING ONLINE</a>-->
                </div>
                <div class="col-md-6 col-lg-offset-5 col-lg-offset-1 col-xlg-4 col-xlg-offset-1">
                  <a href="/customer/feedback/" class="panel-feed text-center">
                    <img src="{% static 'dashboard/assets/images/mail.png' %}" alt="Send Feedback">
                    <h3 class="title">Send Feedback</h3>
                  </a>
                  <h4 class="mb-35 uppercase color-primary">Uncle Frank</h4>
                  <ul class="list-unstyled frank-cinfo">
                    <li>
                      <p>{{ common.company_address }}
                      </p>
                      <i class="fa fa-map-marker"></i>
                    </li>
                    <li>
                      <p>{{ common.company_phone_no }}</p>
                      <!-- <p>{{ common.company_fax_no }}</p> -->
                      <i class="fa fa-phone"></i>
                    </li>
                    <li>
                      <a href="">{{ common.company_email }}</a>
                      <i class="fa fa-envelope"></i>
                    </li>
                    <li>
                      <a href="http://www.unclefrank.com.sg/">www.unclefrank.com.sg</a>
                      <i class="fa fa-globe"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->

{% endblock %}