{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
  <!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Frequently Asked Questions</h1>
        </div>
      </div>
      <div class="view-bookings">
        <div class="panel panel-bordered panel-base fs-15 panel-pages">
            <div class="panel-body">
              
        <div class="example">
                <div class="panel-group panel-group-continuous" id="exampleAccordionContinuous"
                aria-multiselectable="true" role="tablist">
                  {% for question in questions %}
                  <div class="panel">
                    <div class="panel-heading" id="exampleHeadingContinuousOne" role="tab">
                      <a class="panel-title" data-parent="#exampleAccordionContinuous" data-toggle="collapse"
                      href="#exampleCollapseContinuousOne-{{  question.id }}" aria-controls="exampleCollapseContinuousOne"
                      aria-expanded="true">
                      {{ question.question }}
                    </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseContinuousOne-{{ question.id }}" aria-labelledby="exampleHeadingContinuousOne"
                    role="tabpanel">
                      <div class="panel-body">
                        {{ question.answer|safe }}
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                  </div>
                </div>
              </div>
        
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->


{% endblock %}