{% extends "dashboard/dashboard_layout.html" %}
{% load staticfiles %}

{% block content %}
  <!-- Page -->
  <div class="page animsition">
    <div class="page-content padding-30 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pages-heading">Send your feedback</h1>
        </div>
      </div>
      <div class="view-bookings">
        <div class="panel panel-bordered panel-base fs-15 panel-pages">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <h4>{{ message }}</h4>
                  <p>
                    For any concerns, please fill out the contact form and we will get back to you as soon as possible.
                  </p>

                  <form method="post" action="" class="form-horizontal">
                  {% csrf_token %}
                    <div class="form-group input-brick">
                      <label class="control-label col-sm-3" for="">SUBJECT</label>
                      <div class="col-sm-9">
                        <input name="subject" type="text" class="form-control input-lg" required>
                      </div>
                    </div>
                    <div class="form-group input-brick">
                      <label class="control-label col-sm-3" for="">MESSAGE</label>
                      <div class="col-sm-9">
                        <textarea name="details" class="form-control" style="min-height: 258px" required></textarea>
                      </div>
                    </div>
                    <div class="form-group input-brick">
                      <div class="col-sm-9 col-sm-offset-3 text-right">
                        <button type="submit" class="btn btn-secondary gotham semi fs-15 btn-step btn-lg uppercase">Submit</button>
                      </div>
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->

{% endblock %}